<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close stackable-cancel">&times;<span class="sr-only">Close</span></a>
        <h3 class="modal-title">Redeem Promotional Code</h3>
      </div>
      <div class="modal-body">
        <div ng-hide="model.success">
          <p>
            Please enter the promotional code that you wish to redeem. Once
            you've entered a valid promotional code, the details about the related
            promotion will be displayed. Any monetary amounts associated with the
            promotion will be deposited into the account you select below.
          </p>
          <form class="well form-horizontal">
            <fieldset>
              <div class="form-group" br-property-path="promoCode">
                <label class="control-label col-sm-3" for="promoCode">Promo Code</label>
                <div class="input-group col-sm-8">
                  <input class="form-control"
                    type="text" name="promoCode" maxlength="20"
                    ng-model="model.promoCode"
                    br-track-state="model.help.promoCode"
                    autocomplete="off" />
                  <span ng-show="model.promoCodeChecker.loading"
                    class="br-spinner-inside-input">
                    <i class="fa fa-refresh fa-spin text-muted"></i>
                  </span>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default before-spinner"
                      br-help-toggle="model.help.promoCode">
                      <i class="fa fa-question-circle"></i>
                    </button>
                  </span>
                </div>
                <p ng-show="model.help.promoCode.show"
                  class="help-block col-sm-offset-3 col-sm-8 br-fadein br-fadeout">
                  Please enter a promotional code; it will be applied to the
                  financial account displayed below.
                </p>
                <div br-promo-code-checker="model.promoCode"
                  br-promo-code-checker-state="model.promoCodeChecker">
                </div>
              </div>
              <div ng-show="model.promoCodeChecker.promo">
                <hr/>
                <div class="alert alert-success">
                  <h4>{{model.promoCodeChecker.promo.title}}</h4>
                  <p>Expires: {{model.promoCodeChecker.promo.expires | date:'medium'}}</p>
                  <p>{{model.promoCodeChecker.promo.description}}</p>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Description</th>
                        <th class="money">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="deposit in model.promoCodeChecker.promo.deposit">
                        <td>{{deposit.comment}}</td>
                        <td class="money"><span class="money"
                          data-tooltip-title="Since we support micro-payments, we track monetary amounts very accurately. The exact amount is USD {{deposit.amount}}."
                          data-placement="bottom" data-trigger="hover"><span
                          class="currency">USD</span> {{deposit.amount | ceil | currency:'$'}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div ng-show="model.promoCodeChecker.notFound">
                <hr/>
                <div class="alert alert-danger">The promotion was not found.</div>
              </div>
              <div ng-show="model.promoCodeChecker.expired">
                <hr/>
                <div class="alert alert-danger">The promotion has expired.</div>
              </div>
            </fieldset>
          </form>
          <p>
            Any applicable funds will be deposited into:
          </p>
        </div>
        <div ng-show="model.success">
          <p class="alert alert-success">
            Promotional code <strong>{{model.promo.promoCode}}</strong> redeemed.
          </p>
          <div class="well">
            <h4>{{model.promoCodeChecker.promo.title}}</h4>
            <p>Expires: {{model.promoCodeChecker.promo.expires | date:'medium'}}</p>
            <p>{{model.promoCodeChecker.promo.description}}</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th class="money">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="deposit in model.promoCodeChecker.promo.deposit">
                  <td>{{deposit.comment}}</td>
                  <td class="money"><span class="money"
                    data-tooltip-title="Since we support micro-payments, we track monetary amounts very accurately. The exact amount is USD {{deposit.amount}}."
                    data-placement="bottom" data-trigger="hover"><span
                    class="currency">USD</span> {{deposit.amount | ceil | currency:'$'}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            Any applicable funds were deposited into:
          </p>
        </div>
        <div ps-account-selector ps-selected="account" ps-fixed="true"
          ps-invalid="model.invalidAccount"
          ps-instant-transfer-deposit="ignore"></div>
      </div>
      <div class="modal-footer">
        <span ng-show="model.services.promo.state.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <span ng-hide="model.success">
          <button type="button" class="btn btn-primary"
            ng-disabled="!model.promoCode || model.services.promo.state.loading || model.invalidAccount"
            ng-click="redeemPromoCode()">Redeem</button>
          <button type="button" class="btn btn-default stackable-cancel">Cancel</button>
        </span>
        <span ng-show="model.success">
          <button type="button" class="btn btn-primary stackable-cancel">Done</button>
        </span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
