<table class="table table-condensed">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th>Account</th>
      <th class="money">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="transfer in transaction.transfer">
      <td data-tooltip-title="{{transfer.comment}}"
        data-placement="bottom" data-trigger="hover">
        {{transfer.comment | ellipsis:40}}
      </td>
      <td class="compact">
        <i class="icon-arrow-right"></i>
      </td>
      <td data-ng-switch="type == 'Withdrawal' && transfer.destination == transaction.destination.id">
        <strong data-ng-switch-when="true">{{transaction.destination.label}}</strong>
        <a data-ng-switch-default href="{{transfer.destination}}" target="_blank">
          <span data-spinner="accounts[transfer.destination].loading" data-spinner-class="center-spinner"></span>
          {{accounts[transfer.destination].label}}
        </a>
      </td>
      <td class="money">
        <span data-money="transfer"></span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3"></th>
      <th class="money">Total</th>
    </tr>
    <tr data-ng-show="type == 'Deposit'">
      <td colspan="3">
        Total <span data-ng-hide="complete">to be</span>
        deposited into your
        "<strong>{{accounts[transaction.transfer[0].destination].label}}</strong>"
        account.
      </td>
      <td class="money">
        <span data-money="transaction.transfer[0]" data-important="true"></span>
      </td>
    </tr>
    <tr data-ng-show="type == 'Withdrawal'">
      <td colspan="3">
        Total <span data-ng-hide="complete">to be</span>
        debited from your
        "<strong>{{accounts[transaction.transfer[0].source].label}}</strong>"
        account.
      </td>
      <td class="money">
        <span data-money="transaction" data-important="true"></span>
      </td>
    </tr>
    <tr data-ng-show="type == 'Deposit'">
      <td colspan="3">
        Total <span data-ng-hide="complete">to be</span>
        <span data-ng-switch="source.paymentMethod">
          <span data-ng-switch-when="CreditCard">charged to</span>
          <span data-ng-switch-when="BankAccount">debited from</span>
          <span data-ng-switch-default>withdrawn from</span>
        </span>
        your
        "<strong>{{source.label}}</strong>"
        <span data-ng-switch="source.paymentMethod">
          <span data-ng-switch-when="CreditCard">credit card</span>
          <span data-ng-switch-when="BankAccount">bank account</span>
          <span data-ng-switch-default>external account</span>
        </span>.
      </td>
      <td class="money">
        <span data-money="transaction" data-important="true"></span>
      </td>
    </tr>
    <tr data-ng-show="type == 'Withdrawal'">
      <td colspan="3">
        Total <span data-ng-hide="complete">to be</span>
        <span data-ng-switch="destination.paymentMethod">
          <span data-ng-switch-when="CreditCard">credited to</span>
          <span data-ng-switch-when="BankAccount">deposited into</span>
          <span data-ng-switch-default>credited to</span>
        </span>
        your
        "<strong>{{destination.label}}</strong>"
        <span data-ng-switch="destination.paymentMethod">
          <span data-ng-switch-when="CreditCard">credit card</span>
          <span data-ng-switch-when="BankAccount">bank account</span>
          <span data-ng-switch-default>external account</span>
        </span>.
      </td>
      <td class="money">
        <span data-money="transaction.transfer[0]" data-important="true"></span>
      </td>
    </tr>
  </tfoot>
</table>
