{% extends '../layout.html' %}

{% set pageTitle = "System Dashboard" %}
{% set cssList.push("css/system-dashboard") %}
{% set jsList.push("d3/d3.v3") %}
{% set jsList.push("cubism/cubism.v1") %}
{% set jsList.push("modules/system.dashboard") %}
{% set inav = "system-dashboard" %}

{% block content %}

<div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">System Dashboard</h1>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="stats">
    </div>
  </div>
</div>

{% include "../demo-warning.html" %}

{% endblock %}
