<div ng-controller="AssetoraController as model">

  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">Assetora</h1>

      <p>Assetora is a service that makes it easier for you to sell the
      creations you host on your website. Using Assetora, you can set what
      your customers will see when they try to purchase items from your
      website and set the parameters for what they'll pay you (or others) in
      order to gain access to those items.</p>
      <p>This service provides you with the tools to design assets and listings
      for your creations. An asset describes your creation and may optionally
      set royalties for it if you want to allow other people to resell your
      work. A listing sets the price and licensing terms for purchasing an
      asset. Assetora allows you to host both asset descriptions and listings
      directly on Meritora, which means there's less for you to set up before
      you can start selling.</p>
    </div>
  </div>

  <div class="row">
    <div class="section col-md-12">
      <h3 class="headline">Search</h3>
      <form class="form-search">
        <input class="form-control search-query" type="text" name="search"
          ng-model="model.search.input">
        <span br-input-watcher="model.search.input"
          br-input-watcher-state="model.search.state"
          br-input-change="search(input, state, callback)">
        </span>
        <span ng-show="model.search.state.loading || state.assets.loading || state.listings.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <button ng-show="!(model.search.state.loading || state.assets.loading || state.listings.loading)"
          class="btn btn-success"
          ng-click="model.modals.showAddAsset=true"><i class="fa fa-plus"></i> Add Asset</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="section section-asset-search col-md-6">
      <h3 class="headline">Asset Search Results</h3>

      <table class="table table-condensed"
        ng-if="!state.assets.loading && model.search.assets.length > 0">
        <thead>
          <tr>
            <th class="date">Date</th>
            <th class="name">Title</th>
            <th class="name">Creator</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="asset in model.search.assets"
            class="asset br-fadein br-fadeout" ng-if="!asset.deleted">
            <!-- Date -->
            <td>
              <span class="date">{{asset.created | date:'medium'}}</span>
            </td>
            <!-- Title -->
            <td>
              <span class="name">{{asset.title}}</span>
            </td>
            <!-- Creator -->
            <td>
              <span class="name">{{asset.creator.name}}</span>
            </td>
            <!-- Action -->
            <td class="action">
              <br-action-menu>
                <ul class="dropdown-menu stackable-menu">
                  <li>
                    <a class="stackable-cancel" ng-click="model.modals.asset=asset; model.modals.showAddListing=true">
                      <i class="fa fa-plus"></i> Add Listing
                    </a>
                  </li>
                  <li>
                    <a class="stackable-cancel" ng-click="model.modals.asset=asset; model.modals.showEditAsset=true">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </li>
                  <li>
                    <a class="stackable-cancel" ng-click="model.modals.asset=asset; model.modals.showProtectAsset=true">
                      <i class="fa fa-lock"></i> Protect
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="alert-danger">
                    <a class="stackable-cancel" ng-click="deleteAsset(asset)">
                      <i class="fa fa-times"></i> Delete
                    </a>
                  </li>
                </ul>
              </br-action-menu>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-show="state.assets.loading">
            <td colspan="3" class="text-center">
              <span ng-show="state.assets.loading">
                <i class="fa fa-refresh fa-spin text-muted"></i>
              </span>
            </td>
          </tr>
        </tfoot>
      </table>
      <div ng-show="!state.assets.loading && model.search.assets.length == 0">
        <p class="center">No matches.</p>
      </div>
    </div>

    <div class="section section-listing-search col-md-6">
      <h3 class="headline">Listing Search Results</h3>

      <table class="table table-condensed"
        ng-if="!state.listings.loading && model.search.listings.length > 0">
        <thead>
          <tr>
            <th class="date">Date</th>
            <th class="name">Title</th>
            <th class="name">Creator</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="listing in model.search.listings"
            class="listing br-fadein br-fadeout" ng-if="!listing.deleted">
            <!-- Date -->
            <td>
              <span class="date">{{listing.asset.created | date:'medium'}}</span>
            </td>
            <!-- Title -->
            <td>
              <span class="name">{{listing.asset.title}}</span>
            </td>
            <!-- Creator -->
            <td>
              <span class="name">{{listing.asset.creator.name}}</span>
            </td>
            <!-- Action -->
            <td class="action">
              <div class="btn-group">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-click="model.modals.listing=listing; model.modals.showEditListing=true">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="alert-danger">
                    <a ng-click="deleteListing(listing)">
                      <i class="fa fa-times"></i> Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-show="state.listings.loading">
            <td colspan="3" class="text-center">
              <span ng-show="state.listings.loading">
                <i class="fa fa-refresh fa-spin text-muted"></i>
              </span>
            </td>
          </tr>
        </tfoot>
      </table>
      <div ng-show="!state.listings.loading && model.search.listings.length == 0">
        <p class="center">No matches.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section section-recent-assets col-md-6">
      <h3 class="headline">Recent Assets</h3>

      <table class="table table-condensed" ng-if="state.assets.loading || model.recentAssets.length > 0">
        <thead>
          <tr>
            <th class="date">Date</th>
            <th class="name">Title</th>
            <th class="name">Creator</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="asset in model.recentAssets"
            class="asset br-fadein br-fadeout" ng-if="!asset.deleted">
            <!-- Date -->
            <td>
              <span class="date">{{asset.created | date:'medium'}}</span>
            </td>
            <!-- Title -->
            <td>
              <span class="name">{{asset.title}}</span>
            </td>
            <!-- Creator -->
            <td>
              <span class="name">{{asset.creator.name}}</span>
            </td>
            <!-- Action -->
            <td class="action">
              <div class="btn-group">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-click="model.modals.asset=asset; model.modals.showAddListing=true">
                      <i class="fa fa-plus"></i> Add Listing
                    </a>
                  </li>
                  <li>
                    <a ng-click="model.modals.asset=asset; model.modals.showEditAsset=true">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </li>
                  <li>
                    <a ng-click="model.modals.asset=asset; model.modals.showProtectAsset=true">
                      <i class="fa fa-lock"></i> Protect
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="alert-danger">
                    <a ng-click="deleteAsset(asset)">
                      <i class="fa fa-times"></i> Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-show="state.assets.loading">
            <td colspan="3" class="text-center">
              <span ng-show="state.assets.loading">
                <i class="fa fa-refresh fa-spin text-muted"></i>
              </span>
            </td>
          </tr>
        </tfoot>
      </table>
      <div ng-show="!state.assets.loading && model.recentAssets.length == 0">
        <p class="center">You have no recent assets for this identity.</p>
      </div>
    </div>

    <div class="section section-recent-listings col-md-6">
      <h3 class="headline">Recent Listings</h3>

      <table class="table table-condensed" ng-if="state.listings.loading || model.recentListings.length > 0">
        <thead>
          <tr>
            <th class="date">Date</th>
            <th class="name">Title</th>
            <th class="name">Creator</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="listing in model.recentListings"
            class="listing br-fadein br-fadeout" ng-if="!listing.deleted">
            <!-- Date -->
            <td>
              <span class="date">{{listing.asset.created | date:'medium'}}</span>
            </td>
            <!-- Title -->
            <td>
              <span class="name">{{listing.asset.title}}</span>
            </td>
            <!-- Creator -->
            <td>
              <span class="name">{{listing.asset.creator.name}}</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-show="state.listings.loading">
            <td colspan="3" class="text-center">
              <span ng-show="state.listings.loading">
                <i class="fa fa-refresh fa-spin text-muted"></i>
              </span>
            </td>
          </tr>
        </tfoot>
      </table>
      <div ng-show="!state.listings.loading && model.recentListings.length == 0">
        <p class="center">You have no recent listings for this identity.</p>
      </div>
    </div>
  </div>

  <!-- Delete asset alert -->
  <stackable-modal stackable="showDeleteAssetAlert"
    stackable-closed="confirmDeleteAsset(err, result)">
    <div br-alert-modal
      br-modal-header="Warning"
      br-modal-ok="Delete"
      br-modal-cancel="Cancel">
      <p>Are you sure that you want to delete this asset?</p>
      <div>FIXME: display asset</div>
    </div>
  </stackable-modal>

  <!-- Delete listing alert -->
  <stackable-modal stackable="showDeleteListingAlert"
    stackable-closed="confirmDeleteListing(err, result)">
    <div br-alert-modal
      br-modal-header="Warning"
      br-modal-ok="Delete"
      br-modal-cancel="Cancel">
      <p>Are you sure that you want to delete this listing?</p>
      <div>FIXME: display listing</div>
    </div>
  </stackable-modal>

  <!-- Modals -->
  <stackable-modal stackable="model.modals.showAddAsset">
    <div ps-add-asset-modal></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showProtectAsset">
    <div ps-protect-asset-modal ps-asset="model.modals.asset"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showAddListing">
    <div ps-add-listing-modal ps-asset="model.modals.asset"></div>
  </stackable-modal>

</div>
