<form class="well form-horizontal">
  <fieldset>
    <br-input br-model="model.asset.assetContent"
      br-options="{icon: 'globe', type: 'url', name: 'assetContent', label: 'Asset Content URL'}">
      Please enter the URL for the Asset content. This is the URL that
      your customers will visit to see the content that they have
      purchased.
    </br-input>

    <br-input br-model="model.asset.title"
      br-options="{icon: 'tag', name: 'title', label: 'Asset Title'}">
      Please enter the title for the Asset.
      <br/><br/>
      Suggestions: How to Bake Like a Boss, View From Atop Rainier
    </br-input>
  </fieldset>
</form>
