<form class="well form-horizontal">
  <fieldset>
    <div class="form-group" data-binding="title">
      <label class="control-label col-sm-3" for="title">Title</label>
      <div class="input-group col-sm-8">
        <span class="add-on"><i class="fa fa-tag"></i></span>
        <input class="form-control" type="text" name="title"
          ng-model="model.asset.title"
          data-track-state="model.help.title"
          placeholder="Title" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"
            data-help-toggle="model.help.title">
            <i class="fa fa-question-circle"></i>
          </button>
        </span>
      </div>
      <p ng-show="model.help.title.show"
        class="help-block col-sm-offset-3 col-sm-8 br-fadein br-fadeout">
        Please enter the title for the invoice.
        <!--
        <br/><br/>
        Suggestions: ...
        -->
      </p>
    </div>
  </fieldset>
</form>

<div class="section">
  <h4 class="headline">Items</h4>

  <button ng-show="!(model.search.state.loading || state.assets.loading || state.listings.loading)"
    class="btn btn-success"
    ng-click="model.modals.showAddInvoiceItem=true"><i class="fa fa-plus"></i> Add Item</button>

  <table class="table table-condensed"
    ng-show="!state.assets.loading && model.asset.invoiceItem.length > 0">
    <thead>
      <tr>
        <th class="name">Title</th>
        <th class="money compact">Amount</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in model.asset.invoiceItem" class="asset"
        data-fadein="asset.added" data-fadeout="asset.deleted">
        <!-- Description -->
        <td>
          <span class="name">{{item.title}}</span>
          <div ng-show="item.comment">
            <p class="muted">{{item.comment}}</p>
          </div>
        </td>
        <!-- Amount -->
        <td class="money compact">
          <span class="money"><span class="currency">{{item.currency}}</span> {{item.amount | currency:'$'}}</span>
        </td>
        <!-- Action -->
        <td class="action">
          <action-menu>
            <ul class="dropdown-menu stackable-menu">
              <li>
                <a class="stackable-cancel" ng-click="model.modals.item=item; model.modals.showEditInvoiceItem=true">
                  <i class="fa fa-pencil"></i> Edit
                </a>
              </li>
              <li ng-show="!$first">
                <a class="stackable-cancel" ng-click="">
                  <i class="fa fa-chevron-up"></i> Move Up
                </a>
              </li>
              <li ng-show="!$last">
                <a class="stackable-cancel" ng-click="">
                  <i class="fa fa-chevron-down"></i> Move Down
                </a>
              </li>
              <li class="divider"></li>
              <li class="alert-danger">
                <a class="stackable-cancel" ng-click="deleteInvoiceItem(item)">
                  <i class="fa fa-times"></i> Delete
                </a>
              </li>
            </ul>
          </action-menu>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <th class="money">Total</th>
        <td></td>
      </tr>
      <tr>
        <td>
          Invoice total.
        </td>
        <td class="money">
          <span class="money"><span class="currency">{{model.destination.currency}}</span> <strong>{{0 | currency:'$'}}</strong></span>
        </td>
        <td></td>
      </tr>
      <tr ng-show="state.assets.loading">
        <td colspan="3" style="text-align: center">
          <span class="center">
            <span data-spinner="state.assets.loading" data-spinner-class="table-spinner"></span>
          </span>
        </td>
      </tr>
    </tfoot>
  </table>
  <div ng-show="!state.assets.loading && model.asset.invoiceItem.length == 0">
    <p class="center">No items.</p>
  </div>

  <stackable-modal stackable="model.modals.showAddInvoiceItem">
    <div data-add-invoice-item-modal data-asset="model.asset" data-destination="model.destination"></div>
  </stackable-modal>
</div>

<div class="section">
  <h4 class="headline">Select Destination Account</h4>
  <div data-account-selector data-selected="model.destination"
    data-invalid="selection.invalidAccount"
    data-instant-transfer-deposit="ignore"></div>
</div>
