<form class="well form-horizontal">
  <fieldset>
    <br-input br-model="model.item.title"
      br-options="{icon: 'fa-tag', name: 'title', label: 'Title'}">
      Please enter a short title for this item.
      <!--
      <br/><br/>
      Suggestions: ...
      -->
    </br-input>

    <br-input br-model="model.item.amount"
      br-options="{icon: 'fa-money', name: 'amount', label: 'Amount', placeholder: 'Amount'}">
      Please enter the amount of this item.
      <br/><br/>
      You must enter a valid monetary amount like 20 or 5.00.
    </br-input>

    <br-textarea br-model="model.item.comment"
      br-options="{icon: 'fa-comment', name: 'comment', label: 'Comment', placeholder: 'Additional Comments'}">
      Please enter comments about this item if needed.
      <!--
      <br/><br/>
      Suggestions: ...
      -->
    </br-textarea>
  </fieldset>
</form>
