<form class="well form-horizontal">
  <fieldset>
    <br-input br-model="model.asset.assetContent"
      br-options="{icon: 'fa-globe', type: 'url', name: 'assetContent', label: 'Asset Content URL'}">
      Please enter the URL for the Asset content. This is the URL that
      your customers will visit to see the content that they have
      purchased.
    </br-input>

    <br-input br-model="model.asset.title"
      br-options="{icon: 'fa-tag', name: 'title', label: 'Asset Title'}">
      Please enter the title for the Asset.
      <br/><br/>
      Suggestions: How to Bake Like a Boss, View From Atop Rainier
    </br-input>

    <br-input br-model="model.total"
      br-options="{icon: 'fa-money', name: 'total', label: 'Price'}">
      Please enter the total price to list the Asset for. The amount that
      you receive out of the total is displayed below.
      <br/><br/>
      You must enter a valid monetary amount like 20 or 5.00.
    </br-input>

    <br-input br-model="model.providerAmount"
      br-options="{icon: 'fa-money', name: 'providerAmount', label: 'Your cut'}">
      Please enter the amount you want to receive when the Asset is sold.
      The total price that your customers will see is displayed above.
      <br/><br/>
      You must enter a valid monetary amount like 20 or 5.00.
    </br-input>

    <!--
    <br-input br-model="model.listing.license"
      br-options="{icon: 'fa-globe', type: 'url', name: 'license', label: 'License URL'}">
      Please enter the URL to the License that you want to grant to
      your customers that purchase your Asset. The License indicates
      what rights your customers have for using the Asset they purchase.
    </br-input>
    -->
  </fieldset>
</form>

<div class="section">
  <h4 class="headline">Select Destination Account</h4>
  <div ps-account-selector ps-selected="model.destination"
    ps-invalid="model.invalidDestination"
    ps-instant-transfer-deposit="ignore"></div>
</div>
