<p data-ng-show="showAlert" class="alert alert-info">
  <strong>Note:</strong>
  Before you make your first ${showAlert}, please enter your
  <span data-ng-switch="identity.type">
    <span data-ng-switch-when="ps:VendorIdentity">
      business's name and address information.
    </span>
    <span data-ng-switch-default>
      name and address information.
  </span>
  </span>
</p>
<form class="well form-horizontal" action="">
  <fieldset>
    <div class="control-group" data-binding="label">
      <label class="control-label" for="label">Label</label>
      <div class="controls">
        <input type="text" name="label" data-ng-model="originalAddress.label"
          rel="tooltip" data-original-title="Enter a memorable label for this address."
          data-placement="right" data-trigger="focus" />
        <p class="help-block">Label for this address such as &quot;Home&quot; or &quot;Work&quot;.</p>
      </div>
    </div>
    <div class="control-group" data-binding="fullName">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" name="name" data-ng-model="originalAddress.fullName"
          rel="tooltip" data-original-title="You must enter your full name."
          data-placement="right" data-trigger="focus" />
        <p class="help-block">Please enter both your first name and last name.</p>
      </div>
    </div>
    <div class="control-group" data-binding="streetAddress">
      <label class="control-label" for="street">Street Address</label>
      <div class="controls">
        <input type="text" name="street" data-ng-model="originalAddress.streetAddress"
          rel="tooltip" data-original-title="You must enter your full street address, including street number, street, and any apartment number, etc."
          data-placement="right" data-trigger="focus" />
      </div>
    </div>
    <div class="control-group" data-binding="locality">
      <label class="control-label" for="locality">City</label>
      <div class="controls">
        <input type="text" name="locality" data-ng-model="originalAddress.locality"
          rel="tooltip" data-original-title="You must enter your city or locality."
          data-placement="right" data-trigger="focus" />
      </div>
    </div>
    <div class="control-group" data-binding="region">
      <label class="control-label" for="region">State / Region</label>
      <div class="controls">
        <input type="text" name="region" data-ng-model="originalAddress.region"
          rel="tooltip" data-original-title="You must enter your state or region."
          data-placement="right" data-trigger="focus" />
      </div>
    </div>
    <div class="control-group" data-binding="postalCode">
      <label class="control-label" for="postal-code">Postal Code</label>
      <div class="controls">
        <input type="text" name="postal-code" data-ng-model="originalAddress.postalCode"
          rel="tooltip" data-original-title="You must enter your zip or postal code."
          data-placement="right" data-trigger="focus" />
      </div>
    </div>
    <div class="control-group" data-binding="countryName">
      <label class="control-label" for="country">Country</label>
      <div class="controls">
        <select name="country" data-ng-model="originalAddress.countryName">
            <option data-ng-repeat="country in countries" value="{{country.code}}" data-ng-selected="originalAddress.countryName == country.code">{{country.name}}</option>
        </select>
      </div>
    </div>
  </fieldset>
</form>
