<div class="modal">
  <div class="modal-header">
    <a class="close btn-close">&times;</a>
    <h3>New Invoice</h3>
  </div>
  <div class="modal-body">
    <div data-ng-include="'/partials/demo-warning.html'"></div>
    <div data-ng-include="'/partials/invoice-form.html'"></div>
  </div>
  <div class="modal-footer">
    <div class="modal-feedback"
      data-feedback="feedback" data-target="feedbackTarget"></div>
    <span data-spinner="loading"
      data-spinner-class="prepend-btn-spinner"></span>
    <button class="btn btn-primary"
      data-ng-disabled="loading || !model.asset.title || model.asset.invoiceItem.length < 1"
      data-ng-click="addInvoice()"><i class="icon-ok icon-white"></i> Add</button>
    <button class="btn btn-close" data-ng-disabled="loading">Cancel</button>
  </div>
</div>
