<p data-ng-show="!validatedAddress.psaValidated">
  We ran your address through an address validation service, but it could
  not be validated. You may still use the address you entered, but if you
  would like to make changes please click "Back" below.
</p>
<p data-ng-show="validatedAddress.psaValidated">
  We have run your address through an address validation service. If the
  validated address looks ok, please click "Add" to continue. If the
  validated address does not match the address you entered, then you may
  click on one you entered to select it instead.
</p>

<div class="section" data-ng-show="validatedAddress.psaValidated">
  <h4 class="headline">Validated Address</h4>
  <div class="item-hover well{{((selection.address==validatedAddress) && ' item-selected') || ''}}" data-ng-click="selection.address=validatedAddress"
    data-ng-dblclick="add(validatedAddress)">
    <div data-vcard-address="validatedAddress"></div>
  </div>
</div>
<div class="section">
  <h4 class="headline">Entered Address</h4>
  <div class="item-hover well{{((selection.address==originalAddress) && ' item-selected') || ''}}" data-ng-click="selection.address=originalAddress"
    data-ng-dblclick="add(originalAddress)">
    <div data-vcard-address="originalAddress"></div>
  </div>
</div>
