<p>Fill out the form below to deposit money into your financial account.
You can deposit using a credit card or verified bank account. Once you have
deposited funds into your account, you can use it to pay for content on any
PaySwarm-enabled website that you visit.</p>

<p>Please select a payment method below and the amount that you would
like to deposit.</p>

<div class="section">
  <h4 class="headline">Payment Method</h4>
  <div data-payment-token-selector data-selected="input.source"
    data-invalid="selection.invalidSource" data-instant="instant"></div>
</div>

<div class="section">
  <h4 class="headline">Deposit Details</h4>
  <form class="well form-horizontal" action="">
    <fieldset>
      <label class="control-label" for="amount">Deposit</label>
      <div class="control-group" data-binding="payee[0].payeeRate">
        <div class="controls">
          <div class="input-prepend input-append">
            <span class="add-on">$</span><input
              type="text" name="amount" placeholder="Enter deposit amount..."
              data-ng-model="input.amount"
              data-track-state="model.help.amount" />
            <button class="btn" data-help-toggle="model.help.amount">
              <i class="icon-question-sign"></i>
            </button>
          </div>
          <p data-fade-toggle="model.help.amount.show" class="help-block">
            Please enter an amount to deposit into your
            "<strong>{{account.label}}</strong>" account. You must enter a
            valid monetary amount, like 25 or 25.82.
          </p>
        </div>
      </div>
    </fieldset>
  </form>
</div>
