<div class="modal">
  <div class="modal-header" data-ng-switch="state">
    <a class="close btn-close">&times;</a>
    <h3 data-ng-switch-when="preparing">Prepare Deposit</h3>
    <h3 data-ng-switch-when="reviewing">Review Deposit</h3>
    <h3 data-ng-switch-when="complete">Deposit Complete</h3>
  </div>
  <div class="modal-body" data-ng-switch="state">
    <div data-ng-include="'/partials/demo-warning.html'"></div>
    <div data-ng-switch-when="preparing">
      <div data-ng-include="'/partials/modals/deposit-prepare.html'"></div>
    </div>
    <div data-ng-switch-when="reviewing">
      <div data-ng-include="'/partials/modals/deposit-review.html'"></div>
    </div>
    <div data-ng-switch-when="complete">
      <div data-ng-include="'/partials/modals/deposit-complete.html'"></div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-feedback"
      data-feedback="feedback" data-target="feedbackTarget"></div>

    <span data-spinner="loading"
      data-spinner-class="prepend-btn-spinner"></span>
    <span data-ng-show="state == 'preparing'">
      <button class="btn btn-primary"
        data-ng-disabled="loading"
        data-ng-click="review()">Review Deposit</button>
      <button data-ng-disabled="loading" class="btn btn-close">Cancel</button>
    </span>
    <span data-ng-show="state == 'reviewing'">
      <button class="btn btn-primary"
        data-ng-disabled="loading"
        data-ng-click="confirm()"><i class="icon-ok icon-white"></i> Deposit</button>
      <button class="btn"
        data-ng-disabled="loading"
        data-ng-click="prepare()">Back</button>
    </span>
    <span data-ng-show="state == 'complete'">
      <button class="btn btn-close">Done</button>
    </span>
  </div>
</div>
