<div>
  <div data-selector data-item-type="Account"
    data-items="accounts" data-selected="selected"
    data-invalid="invalid"
    data-add-item="showAddAccountModal=true"
    data-fixed="{{fixed}}">
    <div data-spinner="services.account.loading"
      data-spinner-class="selector-spinner"></div>
    <div data-ng-hide="services.account.loading" class="account">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th colspan="2"><span title="{{selected.id}}">{{selected.label}}</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="compact">Balance</td>
            <td>
              <span data-account-balance="selected"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div data-ng-show="showDepositButton">
        <button class="btn btn-success"
          data-ng-click="showDepositModal=true"><i class="icon-plus icon-white"></i> Deposit</button><br/>
        <div data-modal-deposit="showDepositModal"
          data-account="selected" data-instant="instant"></div>
      </div>
      <div data-ng-show="balanceTooLow">
        <hr />
        <div class="alert alert-error">You must select an account with a balance or remaining credit of at least <span
        class="currency">{{selected.currency}}</span> {{minBalance | ceil | currency:'$'}}.</div>
      </div>
      <div data-ng-show="allowInstantTransfer && instantTransferRequired">
        <hr />
        <div class="alert alert-warning">An instant transfer will be performed to complete this purchase because the selected account does not have sufficient funds.</div>
      </div>
    </div>
  </div>
  <div data-modal-add-account="showAddAccountModal"
    data-identity-id="{{identityId}}"
    data-modal-on-close="!err && (selected=result)"></div>
</div>
