<div class="paymentToken" data-ng-switch="selected.paymentMethod">
  <div class="cc-box" data-ng-switch-when="CreditCard"
    data-ng-class="{'cc-selecting': selecting}">
    <table class="cc-table" data-ng-class="selecting && 'item-hover'"
      data-ng-click="selecting && select(selected)">
      <tbody>
        <tr>
          <td colspan="2" class="cc-layer">
            <span class="cc-label"><strong>{{selected.label | ellipsis:25}}</strong></span>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="cc-layer">
            <span class="cc-font-front cc-number" data-kredit>{{selected.cardNumber | mask | ccNumber}}</span>
            <span class="cc-font-back cc-number" data-kredit>{{selected.cardNumber | mask | ccNumber}}</span>
            <span class="cc-font-shine cc-number" data-kredit>{{selected.cardNumber | mask | ccNumber}}</span>
          </td>
        </tr>
        <tr>
          <td class="cc-layer">
            <span class="cc-font-front cc-date" data-kredit>{{selected.cardExpMonth | prefill}} / {{selected.cardExpYear}}</span>
            <span class="cc-font-back cc-date" data-kredit>{{selected.cardExpMonth | prefill}} / {{selected.cardExpYear}}</span>
            <span class="cc-font-shine cc-date" data-kredit>{{selected.cardExpMonth | prefill}} / {{selected.cardExpYear}}</span>
          </td>
          <td class="cc-layer">
            <span class="cc-brand"><i class="{{selected.cardBrand|cardBrand:true}}"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div data-ng-switch-when="BankAccount" class="bank-box"
    data-ng-class="{'bank-disabled-box': !selected.psaVerified || selected.psaStatus == 'disabled' || selected.psaStatus == 'deleted', 'bank-selecting': selecting}">
    <div data-ng-show="!selected.psaVerified && selected.psaStatus != 'disabled' && selected.psaStatus != 'deleted'"
      class="bank-disabled-overlay">Unverified</div>
    <div data-ng-show="selected.psaStatus == 'disabled'"
      class="bank-disabled-overlay">Disabled</div>
    <div data-ng-show="selected.psaStatus == 'deleted'"
      class="bank-disabled-overlay">Deleted</div>
    <table class="bank-table"
      data-ng-class="{'bank-disabled-table': !selected.psaVerified || selected.psaStatus == 'disabled' || selected.psaStatus == 'deleted', 'item-hover': selected.psaVerified && selecting}"
      data-ng-click="selected.psaStatus == 'active' && selected.psaVerified && selecting && select(selected)">
      <tbody>
        <tr>
          <td class="bank-layer">
            <i class="bank-icon"></i>
            <span class="bank-label">
              <strong>{{selected.label | ellipsis:20}}</strong>
            </span>
          </td>
          <td class="bank-layer"><span class="bank-date">{{'' | now:'d MMM yyyy'}}</span></td>
        </tr>
        <tr>
          <td class="text-align-center bank-layer bank-font">A{{selected.bankRoutingNumber | mask:9}}A</td>
          <td class="text-align-center bank-layer bank-font">C{{selected.bankAccount | mask:10}}C</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>