<div class="dashboard container ng-cloak" data-ng-controller="DashboardController as dashboard">
  <div class="row">
    <div class="title-section span12">
      <h1 class="headline">Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div data-accounts></div>
    </div>

    <div class="span6">
      <div data-budgets></div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div data-transactions data-recent="true" data-account="null" data-details="false" data-controls="false" data-more-mode="'link'"></div>
    </div>

    <div class="span6">
      <!-- <div data-messages></div> -->
      <div class="section section-messages">
        <h3 class="headline">Messages</h3>
        <p class="center">You have no new messages.</p>
      </div>
    </div>
  </div>

  <div data-welcome-modal="dashboard.showWelcomeModal" data-modal-escape="false">
</div>
