<div class="dashboard ng-cloak" ng-controller="DashboardController as dashboard">

  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div ps-accounts></div>
    </div>

    <div class="col-md-6">
      <div ps-budgets></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div ps-transactions ps-recent="true" ps-account="null" ps-details="false" ps-controls="false" ps-more-href="'accounts'"></div>
    </div>

    <div class="col-md-6">
      <!-- <div ps-messages></div> -->
      <div class="section section-messages">
        <br-headline br-title="Messages" br-options="{menu:false}"></br-headline>
        <p class="text-center">You have no new messages.</p>
      </div>
    </div>
  </div>

  <stackable-modal stackable="dashboard.showWelcomeModal"
    stackable-disable-escape="true">
    <div ps-welcome-modal></div>
  </stackable-modal>
</div>
