<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Welcome to {{model.data.siteTitle}}!</h3>
      </div>
      <div class="modal-body">
        <div ng-include="'/app/components/util/demo-warning.html'"></div>
        <p>Before you continue, please tell us the country and state or region of
        your <strong>primary residence</strong>. If you are acting on behalf of a
        business, please use the <strong>primary business location</strong>. We
        will use this information to create a Financial Account for you that
        complies with your local regulations.</p>
        <form class="well form-horizontal">
        <fieldset>
          <br-input br-model="model.address.addressRegion"
            br-options="{name: 'address.addressRegion', label: 'State / Region'}">
            Please enter your state or region.
          </br-input>

          <br-select br-model="address.addressCountry"
            br-items="model.countries" br-display-item="item.name"
            br-options="{name: 'model.address.addressCountry', label: 'Country', placeholder: 'Pick a country...', key: 'code'}">
            Please choose your country.
          </br-select>
        </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <span ng-show="model.state.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <button type="button" class="btn btn-primary"
          ng-disabled="model.state.loading"
          ng-click="model.setRegulatoryAddress()"><i class="fa fa-check"></i> Continue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
