<div class="modal">
  <div class="modal-header">
    <h3>Welcome to {{model.data.siteTitle}}!</h3>
  </div>
  <div class="modal-body">
    <div data-ng-include="'/app/components/util/demo-warning.html'"></div>
    <p>Before you continue, please tell us the country and state or region of
    your <strong>primary residence</strong>. If you are acting on behalf of a
    business, please use the <strong>primary business location</strong>. We
    will use this information to create a Financial Account for you that
    complies with your local regulations.</p>
    <form class="well form-horizontal" action="">
    <fieldset>
      <div class="control-group" data-binding="address.addressRegion">
        <label class="control-label" for="address-region">State / Region</label>
        <div class="controls">
          <div class="input-append">
            <input type="text" name="address-region"
              data-ng-model="model.address.addressRegion"
              data-track-state="model.help.addressRegion" />
            <button class="btn" data-help-toggle="model.help.addressRegion">
              <i class="icon-question-sign"></i>
            </button>
          </div>
          <p data-fade-toggle="model.help.addressRegion.show" class="help-block">
            Please enter your state or region.
          </p>
        </div>
      </div>
      <div class="control-group" data-binding="address.addressCountry">
        <label class="control-label" for="address-country">Country</label>
        <div class="controls">
          <data-country-selector data-ng-model="model.address.addressCountry"></data-country-selector>
        </div>
      </div>
    </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <span data-spinner="model.state.loading"
      data-spinner-class="prepend-btn-spinner"></span>
    <button class="btn btn-primary"
      data-ng-disabled="model.state.loading"
      data-ng-click="model.setRegulatoryAddress()"><i class="icon-ok"></i> Continue</button>
  </div>
</div>
