<ul class="dropdown-menu pull-right">
  <li>
    <a data-ng-click="modals.paymentToken=bankAccount; modals.showEditPaymentToken=true">
      <i class="icon-pencil"></i> Edit
    </a>
  </li>
  <li class="divider"></li>
  <li class="btn-danger"
    data-ng-show="bankAccount.sysStatus == 'active' || bankAccount.sysStatus == 'disabled'"
    data-ng-disabled="!bankAccount.sysVerified && bankAccount.sysStatus != 'disabled'">
    <a data-ng-click="deletePaymentToken(bankAccount)">
      <i class="icon-trash icon-white"></i> Delete
    </a>
  </li>
  <li class="btn-success"
    data-ng-show="!bankAccount.sysStatus || bankAccount.sysStatus == 'deleted'">
    <a data-ng-click="restorePaymentToken(bankAccount)">
      <i class="icon-undo icon-white"></i> Restore
    </a>
  </li>
</ul>
