<div class="modal">
  <div class="modal-header">
    <a class="close stackable-cancel">&times;</a>
    <h3>New Address</h3>
  </div>
  <div class="modal-body" ng-switch="state">
    <div ng-include="'/app/components/util/demo-warning.html'"></div>
    <div ng-switch-when="editing">
      <div ng-include="'/app/components/address/add-address-edit.html'"></div>
    </div>
    <div ng-switch-when="selecting">
      <div ng-include="'/app/components/address/add-address-select.html'"></div>
    </div>
  </div>
  <div class="modal-footer">
    <span data-spinner="loading"
      data-spinner-class="prepend-btn-spinner"></span>
    <span ng-show="state == 'editing'">
      <button class="btn btn-primary btn-validate"
        ng-disabled="loading"
        ng-click="validate()">Validate</button>
      <button class="btn stackable-cancel">Cancel</button>
    </span>
    <span ng-show="state == 'selecting'">
      <button class="btn btn-primary btn-add" ng-click="add()"
        ng-disabled="loading || !selection.address"><i class="icon-ok"></i> Add</button>
      <button class="btn"
        ng-disabled="loading"
        ng-click="edit()">Back</button>
    </span>
  </div>
</div>
