<form class="well form-horizontal" action="">
  <fieldset>
    <div class="control-group" data-binding="label">
      <label class="control-label" for="label">Label</label>
      <div class="controls">
        <div class="input-append">
          <input type="text" name="label"
            ng-model="originalAddress.label"
            data-track-state="model.help.label" />
          <button class="btn" data-help-toggle="model.help.label">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.label.show" class="help-block">
          Enter a memorable label for this address such as
          &quot;Home&quot; or &quot;Work&quot;.
        </p>
      </div>
    </div>
    <div class="control-group" data-binding="name">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <div class="input-append">
          <input type="text" name="name"
            ng-model="originalAddress.name"
            data-track-state="model.help.name" />
          <button class="btn" data-help-toggle="model.help.name">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.name.show" class="help-block">
          Please enter both your first name and last name.
        </p>
      </div>
    </div>
    <div class="control-group" data-binding="streetAddress">
      <label class="control-label" for="street-address">Street Address</label>
      <div class="controls">
        <div class="input-append">
          <input type="text" name="street-address"
            ng-model="originalAddress.streetAddress"
            data-track-state="model.help.streetAddress" />
          <button class="btn" data-help-toggle="model.help.streetAddress">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.streetAddress.show" class="help-block">
          Please enter your full street address, including street number,
          street, and any apartment number, etc.
        </p>
      </div>
    </div>
    <div class="control-group" data-binding="addressLocality">
      <label class="control-label" for="address-locality">City</label>
      <div class="controls">
        <div class="input-append">
          <input type="text" name="address-locality"
            ng-model="originalAddress.addressLocality"
            data-track-state="model.help.addressLocality" />
          <button class="btn" data-help-toggle="model.help.addressLocality">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.addressLocality.show" class="help-block">
          Please enter your city or locality.
        </p>
      </div>
    </div>
    <div class="control-group" data-binding="addressRegion">
      <label class="control-label" for="address-region">State / Region</label>
      <div class="controls">
        <div class="input-append">
          <input type="text" name="address-region"
            ng-model="originalAddress.addressRegion"
            data-track-state="model.help.addressRegion" />
          <button class="btn" data-help-toggle="model.help.addressRegion">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.addressRegion.show" class="help-block">
          Please enter your state or region.
        </p>
      </div>
    </div>
    <div class="control-group" data-binding="postalCode">
      <label class="control-label" for="postal-code">Postal Code</label>
      <div class="controls">
        <div class="input-append">
          <input type="text" name="postal-code"
            ng-model="originalAddress.postalCode"
            data-track-state="model.help.postalCode" />
          <button class="btn" data-help-toggle="model.help.postalCode">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.postalCode.show" class="help-block">
          Please enter your zip or postal code.
        </p>
      </div>
    </div>
    <div class="control-group" data-binding="addressCountry">
      <label class="control-label" for="address-country">Country</label>
      <div class="controls">
        <data-country-selector ng-model="originalAddress.addressCountry"></data-country-selector>
      </div>
    </div>
  </fieldset>
</form>
