<form class="well form-horizontal">
  <fieldset>
    <br-input br-model="originalAddress.label"
      br-options="{name: 'label', label: 'Label'}">
      Enter a memorable label for this address such as
      &quot;Home&quot; or &quot;Work&quot;.
    </br-input>

    <br-input br-model="originalAddress.name"
      br-options="{name: 'name', label: 'Name'}">
      Please enter both your first name and last name.
    </br-input>

    <br-input br-model="originalAddress.streetAddress"
      br-options="{name: 'streetAddress', label: 'Street Address'}">
      Please enter your full street address, including street number,
      street, and any apartment number, etc.
    </br-input>

    <br-input br-model="originalAddress.addressLocality"
      br-options="{name: 'addressLocality', label: 'City'}">
      Please enter your city or locality.
    </br-input>

    <br-input br-model="originalAddress.addressRegion"
      br-options="{name: 'addressRegion', label: 'State / Region'}">
      Please enter your state or region.
    </br-input>

    <br-input br-model="originalAddress.postalCode"
      br-options="{name: 'postalCode', label: 'Postal Code'}">
      Please enter your zip or postal code.
    </br-input>

    <br-country-selector br-model="originalAddress.addressCountry"
      br-options="{name: 'addressCountry', label: 'Country'}">
      Please choose your country.
    </br-country-selector>
  </fieldset>
</form>
