<div class="section section-addresses" data-ng-controller="AddressesController as model">
  <h3 class="headline">
    Addresses
    <span data-ng-hide="model.state.loading" class="btn-group pull-right">
      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-reorder"></i>
      </a>
      <ul class="dropdown-menu pull-right">
        <li>
          <a data-ng-click="model.modals.showAddAddress=true"><i class="icon-plus"></i> Add Address</a>
        </li>
      </ul>
    </span>
    <span data-ng-show="model.state.loading" class="pull-right">
      <span data-spinner="model.state.loading" data-spinner-class="h3-spinner"></span>
    </span>
  </h3>
  <table class="table table-condensed" data-ng-show="model.state.loading || model.addresses.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th class="action">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="address in model.addresses | orderBy:'label'">
        <!-- Name -->
        <td>
          <span>{{address.label}}</span>
        </td>
        <!-- Address -->
        <td>
          <span data-address-view="address" data-no-label="true"></span>
        </td>
        <!-- Delete -->
        <td class="action">
          <button class="btn btn-danger" title="Delete" data-ng-click="model.deleteAddress(address)"><i class="icon-remove"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div data-ng-show="!model.state.loading && model.addresses.length == 0">
    <p class="center">You have no addresses associated with this identity.</p>

    <div class="center alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Warning!</strong>
      Without any addresses you are unable to buy or sell with this
      identity.
    </div>

    <button
      class="btn btn-success pull-right"
      data-ng-click="model.modals.showAddAddress=true"><i class="icon-plus"></i> Add Address</button>
  </div>
  <div stackable="model.modals.showAddAddress" stackable-modal="true">
    <div data-add-address-modal></div>
  </div>

  <!-- Removing last address alert -->
  <div stackable="model.modals.showDeleteAddressAlert"
    stackable-modal="true"
    stackable-closed="model.confirmDeleteAddress(err, result)">
    <div data-alert-modal
      data-modal-header="Warning"
      data-modal-ok="Remove"
      data-modal-cancel="Cancel">
      <div class="alert" data-ng-show="model.addresses.length == 1">
        <strong>Warning!</strong>
        Removing your last address will immediately prevent you from buying
        or selling with this identity. If you choose to remove your last
        address, you can re-enable buying and selling by adding a new
        address.
      </div>
      <p>Are you sure that you want to remove this address?</p>
      <div class="well">
        <div data-address-view="model.addressToDelete"></div>
      </div>
    </div>
  </div>
</div>
