<div>
  <div br-selector br-item-type="Address"
    br-items="model.addresses" br-selected="selected" br-invalid="invalid"
    br-add-item="model.showAddAddressModal=true" br-fixed="{{fixed}}">
    <div ng-show="model.services.address.loading">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </div>
    <div ng-hide="model.services.address.loading" ps-address-view="selected"></div>
  </div>
  <stackable-modal stackable="model.showAddAddressModal"
    stackable-closed="!err && (selected=result)">
    <div ps-add-address-modal></div>
  </stackable-modal>
</div>
