<div>
  <div data-selector data-item-type="Address"
    data-items="addresses" data-selected="selected" data-invalid="invalid"
    data-add-item="showAddAddressModal=true" data-fixed="{{fixed}}">
    <div data-spinner="services.address.loading"
      data-spinner-class="selector-spinner"></div>
    <div data-ng-hide="services.address.loading"
      data-vcard-address="selected"></div>
  </div>
  <div data-add-address-modal="showAddAddressModal"
    data-modal-on-close="!err && (selected=result)"></div>
</div>
