<div>
  <div class="well well-shallow">
    <div data-ng-show="selected == null">None found.</div>
    <div data-ng-show="selected != null">
      <div data-ng-transclude></div>
    </div>
  </div>
  
  <div>
    <button class="btn btn-success" data-ng-show="items.length > 1"><i class="icon-list icon-white"></i> Change</button>
    <button class="btn btn-success"><i class="icon-plus icon-white"></i> Add {{itemType}}</button>
  </div>
  
  <div>
    <ul class="well unstyled item">
    <li data-ng-repeat="selected in items">
      <div data-ng-transclude></div>
    </li>
    </ul>
  </div>
</div>
