<div class="section section-transactions">
  <br-headline ng-if="model.recent" br-title="Recent Transactions" br-loading="model.state.txns.loading" br-options="{menu: {{model.controls}}}">
    <ul class="stackable-menu dropdown-menu">
      <li>
        <a class="stackable-cancel" ng-click="model.showControls=!model.showControls"><i class="fa fa-search"></i> Search Controls</a>
      </li>
    </ul>
  </br-headline>
  <br-headline ng-if="!model.recent" br-title="Transactions" br-loading="model.state.txns.loading" br-options="{menu: {{model.controls}}}">
    <ul class="stackable-menu dropdown-menu">
      <li>
        <a class="stackable-cancel" ng-click="model.showControls=!model.showControls"><i class="fa fa-search"></i> Search Controls</a>
      </li>
    </ul>
  </br-headline>

  <div ng-show="model.controls && model.showControls" class="well account-activity-well">
    <button type="button" class="close" ng-click="model.showControls=false">&times;</button>
    <form class="form-vertical account-activity-form">
      <fieldset>
        <div class="form-group">
          <label class="control-label col-md-2" for="dateField">Start Date</label>
          <div class="input-group col-md-offset-2 col-md-2">
            <input class="form-control" name="dateField" type="text"
              ng-model="model.datePickerDate"
              data-datepicker-popup="yyyy/MM/dd" ng-change="model.dateChanged()"
              data-is-open="model.datePickerOpen"
              ng-keyup="($event.which == 13 || $event.which == 27) && model.dateQuitKeyPressed($event)" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                ng-click="model.openDatePicker()"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="items">Items</label>
          <div class="input-group col-md-offset-2 col-md-2">
            <input class="form-control" name="items" type="number"
              min="1"
              max="30"
              required
              ng-model="model.limit"
              ng-keyup="($event.which == 13 || $event.which == 27) && model.dateQuitKeyPressed($event)" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2">
            <div class="btn-toolbar">
              <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="model.search()"><i class="fa fa-search"></i> Search</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default"
                  ng-click="model.reset()">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <p class="well well-small" ng-hide="(model.recent && !model.controls) || model.state.txns.loading">
    Found
    <span ng-pluralize="" data-count="model.txnCount"
      data-when="{
        '0': 'no transactions',
        '1': '{}+ transaction',
        'other': '{}+ transactions'
      }"></span>
    on or before
    <span ng-hide="!model.controls || model.showControls"><a ng-click="model.showControls=true" href="#">{{model.startDate | date:'medium'}}</a>.</span>
    <span ng-show="model.controls && model.showControls">{{model.startDate | date:'medium'}}.</span>
  </p>

  <table class="table table-condensed" ng-class="{'table-hover': model.details}" ng-show="!model.state.txns.loading && model.table.length > 0">
    <thead>
      <tr>
        <th class="br-compact" ng-show="model.details"></th>
        <th class="date br-compact br-nowrap">Date</th>
        <th class="name">Item</th>
        <th class="money">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in model.table"
        ng-class="{
          info: (model.getRowType(row) != 'transfer' && !row.settled && !row.voided) || (model.getRowType(row) == 'transfer' && !row.txn.settled && !row.txn.voided),
          error: row.voided
        }"
        ng-hide="row.hidden"
        ng-click="model.toggleDetails(row)">
        <!-- icon -->
        <td class="br-compact" ng-show="model.details" ng-switch="model.getRowType(row)">
          <span ng-switch-when="transfer">&nbsp;</span>
          <i ng-switch-default ng-show="!row.detailsVisible" class="fa fa-caret-square-o-right"></i>
          <i ng-switch-default ng-show="row.detailsVisible" class="fa fa-caret-square-o-down"></i>
        </td>
        <!-- Date -->
        <td class="br-compact br-nowrap" ng-switch="model.getRowType(row)">
          <span ng-switch-when="deposit" class="date">{{row.created | date:'medium'}}</span>
          <span ng-switch-when="contract" class="date">{{row.created | date:'medium'}}</span>
          <span ng-switch-when="withdrawal" class="date">{{row.created | date:'medium'}}</span>
          <span ng-switch-when="transfer">&nbsp;</span>
        </td>
        <!-- Item -->
        <td ng-switch="model.getRowType(row)">
          <span ng-switch-when="deposit" class="name"><a href="{{row.id}}"><i class="fa fa-plus"></i> Deposit</a>
            <span ng-show="!(row.settled || row.voided)" class="label label-info">Pending</span>
            <span ng-show="row.voided" class="label label-important">Voided</span>
          </span>
          <span ng-switch-when="contract" class="name"><a href="{{row.id}}"><i class="fa fa-shopping-cart"></i> {{row.asset.title}}</a>
            <span ng-show="!(row.settled || row.voided)" class="label label-info">Pending</span>
            <span ng-show="row.voided" class="label label-important">Voided</span>
          </span>
          <span ng-switch-when="withdrawal" class="name"><a href="{{row.id}}"><i class="fa fa-minus"></i> Withdrawal</a>
            <span ng-show="!(row.settled || row.voided)" class="label label-info">Pending</span>
            <span ng-show="row.voided" class="label label-important">Voided</span>
          </span>
          <span ng-switch-when="transfer">
            <i class="fa fa-info-circle" title="Details"></i> {{row.comment}}<br/>
            <i class="fa fa-minus" title="Source Account"></i> <a ng-show="row.sourceLink" href="{{row.source}}">{{row.source}}</a><span ng-hide="row.sourceLink">{{row.source}}</span> <br/>
            <i class="fa fa-plus" title="Destination Account"></i> <a ng-show="row.destinationLink" href="{{row.destination}}">{{row.destination}}</a><span ng-hide="row.destinationLink">{{row.destination}}</span>
          </span>
        </td>
        <!-- Amount -->
        <td class="money">
          <span ps-money="row"></span>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr ng-hide="model.state.txns.loading">
        <td colspan="{{model.details ? '4' : '3'}}">
          <ul ng-show="model.moreHref" class="pager">
            <li class="next"><a href="{{model.moreHref}}" class="btn btn-default pull-right"><i class="fa fa-list"></i> More <i class="fa fa-chevron-right"></i></a></li>
        </ul>
          <ul ng-hide="model.moreHref" class="pager">
            <!--
            <li class="previous">
              <button ng-click="model.newer()" class="btn btn-default pull-left"><i class="fa fa-chevron-left"></i> Newer</a>
            </li>
            -->
            <li class="next">
              <button ng-click="model.older()" class="btn btn-default pull-right">Older <i class="fa fa-chevron-right"></i></a>
            </li>
          </ul>
        </td>
      </tr>
    </tfoot>
  </table>
  <div ng-show="!model.state.txns.loading && model.table.length == 0">
    <p ng-show="model.recent" class="text-center">No recent transactions found.</p>
    <p ng-hide="model.recent" class="text-center">No transactions found.</p>
  </div>
</div>
