<dl class="dl-horizontal">
  <dt>Id</dt>
  <dd>
    <ul class="list-unstyled">
      <li>{{model.txn.id}}</li>
    </ul>
  </dd>

  <dt>Type</dt>
  <dd>
    <ul class="list-unstyled">
      <li ng-show="model.isContract">Contract</li>
      <li ng-show="model.isDeposit">Deposit</li>
      <li ng-show="model.isWithdrawal">Withdrawal</li>
    </ul>
  </dd>

  <dt>Created</dt>
  <dd>
    <ul class="list-unstyled">
      <li>{{model.txn.created | date:'medium'}}</li>
    </ul>
  </dd>

  <dt ng-show="model.txn.voided">Voided</dt>
  <dd ng-show="model.txn.voided">
    <ul class="list-unstyled">
      <li>{{model.txn.voided | date:'medium'}}</li>
    </ul>
  </dd>

  <dt ng-show="model.txn.voided">Void Reason</dt>
  <dd ng-show="model.txn.voided">
    <ul class="list-unstyled" ng-switch="model.txn.voidReason">
      <li ng-switch-when="payswarm.paymentGateway.Declined">
        Transaction declined by the external payment gateway.
      </li>
      <li ng-switch-default>
        {{model.txn.voidReason}}
      </li>
    </ul>
  </dd>

  <dt>Total Amount</dt>
  <dd>
    <ul class="list-unstyled">
      <li><span ps-money="model.txn"></span></li>
    </ul>
  </dd>

  <dt ng-show="model.txn.triggeredBy && model.txn.triggerReason == 'InsufficientFunds'">Instant Transfer For</dt>
  <dd ng-show="model.txn.triggeredBy && model.txn.triggerReason == 'InsufficientFunds'">
    <ul class="list-unstyled">
      <li><a href="{{model.txn.triggeredBy}}">{{model.txn.triggeredBy}}</a></li>
    </ul>
  </dd>

  <dt ng-show="model.isContract">Asset</dt>
  <dd ng-show="model.isContract">
    <ul class="list-unstyled">
      <li>
        <a href="{{model.txn.asset.assetContent}}">{{model.txn.asset.title}}</a>
        by {{model.txn.asset.creator.name}}
      </li>
    </ul>
  </dd>

  <dt ng-show="model.isContract && model.txn.assetProvider.id != model.txn.vendor.id">Provider</dt>
  <dt ng-show="model.isContract && model.txn.assetProvider.id == model.txn.vendor.id">Provider/Vendor</dt>
  <dd ng-show="model.isContract">
    <ul class="list-unstyled">
      <li><a href="{{model.txn.assetProvider.id}}">{{model.txn.assetProvider.label}}</a></li>
    </ul>
  </dd>

  <dt ng-show="model.isContract && model.txn.assetProvider.id != model.txn.vendor.id">Vendor</dt>
  <dd ng-show="model.isContract && model.txn.assetProvider.id != model.txn.vendor.id">
    <ul class="list-unstyled">
      <li><a href="{{model.txn.vendor.id}}">{{model.txn.vendor.label}}</a></li>
    </ul>
  </dd>

  <dt ng-show="model.isContract && model.txn.license">License</dt>
  <dd ng-show="model.isContract && model.txn.license">
    <ul class="list-unstyled">
      <li><pre>{{model.txn.license.licenseTemplate}}</pre></li>
    </ul>
  </dd>

  <dt ng-show="model.txn.transfer">Transfers</dt>
  <dd ng-show="model.txn.transfer">
    <ul class="transfers">
      <li ng-repeat="transfer in model.txn.transfer" class="transfer">
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-info-circle" title="Details"></i>
            {{transfer.comment}}
          </li>
          <li>
            <i class="fa fa-money" title="Amount"></i>
            <span ps-money="transfer"></span>
          </li>
          <li>
            <i class="fa fa-minus" title="Source"></i>
            <span ng-show="model.txn.source && transfer.source == model.txn.source.id">
              {{model.txn.source.label}}
              <span ng-show="model.txn.source.paymentMethod == 'CreditCard'">
                (Credit/Debit Card: {{model.txn.source.cardNumber}})
              </span>
              <span ng-show="model.txn.source.paymentMethod == 'BankAccount'">
                (Bank Account: {{model.txn.source.bankAccount}})
              </span>
            </span>
            <span ng-hide="model.txn.source && transfer.source == model.txn.source.id">
              <a href="{{transfer.source}}">{{transfer.source}}</a>
            </span>
          </li>
          <li>
            <i class="fa fa-plus" title="Destination Account"></i>
            <span ng-show="model.txn.destination && transfer.destination == model.txn.destination.id">
              {{model.txn.destination.label}}
              <span ng-show="model.txn.destination.paymentMethod == 'CreditCard'">
                (Credit/Debit Card: {{model.txn.destination.cardNumber}})
              </span>
              <span ng-show="model.txn.destination.paymentMethod == 'BankAccount'">
                (Bank Account: {{model.txn.destination.bankAccount}})
              </span>
            </span>
            <span ng-hide="model.txn.destination && transfer.destination == model.txn.destination.id">
              <a href="{{transfer.destination}}">{{transfer.destination}}</a><br/>
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </dd>
</dl>
