<div>
  <div data-selector data-item-type="Account"
    data-items="accounts" data-selected="selected"
    data-invalid="invalid"
    data-add-item="showAddAccountModal=true"
    data-fixed="{{fixed}}">
    <div data-spinner="services.account.loading"
      data-spinner-class="selector-spinner"></div>
    <div data-ng-hide="services.account.loading" class="account">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th colspan="4"><span title="{{selected.id}}">{{selected.label}}</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="compact">Balance</td>
            <td>
              <span data-account-balance="selected"></span>
            </td>
            <td data-ng-show="selected.creditLimit > '0.0000000000'" class="compact">Credit</td>
            <td data-ng-show="selected.creditLimit > '0.0000000000'">
              <span class="money" data-tooltip-title="Since we support micro-payments, we track transaction amounts very accurately. The exact credit limit for this account is {{selected.currency}} {{selected.creditLimit}}."
                data-placement="bottom" data-trigger="hover"><span
                class="currency">{{selected.currency}}</span> {{model.remainingCredit | floor | currency:'$'}} / {{selected.creditLimit | floor | currency:'$'}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div data-ng-show="showDepositButton">
        <button class="btn btn-success"
          data-ng-click="showDepositModal=true"><i class="icon-plus icon-white"></i> Deposit</button><br/>
        <div data-modal-deposit="showDepositModal"
          data-account="selected" data-instant="instant"></div>
      </div>
      <div data-ng-show="balanceTooLow">
        <hr />
        <div class="alert alert-error">You must select an account with a balance or remaining credit of at least <span
        class="currency">{{selected.currency}}</span> {{minBalance | ceil | currency:'$'}}.</div>
      </div>
    </div>
  </div>
  <div data-modal-add-account="showAddAccountModal"
    data-identity-id="{{identityId}}"
    data-modal-on-close="!err && (selected=result)"></div>
</div>
