<form class="well form-vertical" action="">
  <fieldset>
    <div class="control-group" data-binding="label">
      <label class="control-label" for="label">Name</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-tag"></i></span><input
            type="text" name="label"
            data-ng-model="account.label"
            data-slug-out="account.psaSlug"
            data-tooltip-title="Enter a name for your financial account, for instance 'primary' or 'secondary'."
            data-placement="right" data-trigger="focus" />
        </div>
        <div data-ng-hide="editAccount">
          <p class="help-block">The name you choose will become part of your account url.</p>
          <p><small><span data-ng-show="identityId">{{identityId}}</span><span
            data-ng-hide="identityId">{{baseUrl}}/i/</span><span
            data-ng-hide="identityId"
            class="slug">{{identitySlug || 'IDENTITY-NAME'}}</span>/accounts/</small><input
            type="text" maxlength="32"
            data-binding="psaSlug" class="slug" name="slug"
            placeholder="ACCOUNT-NAME" value="{{account.psaSlug}}"
            data-slug-in data-ng-model="account.psaSlug" /></p>
          <div data-duplicate-checker="accountSlug"
            data-duplicate-checker-type="ps:FinancialAccount"
            data-duplicate-checker-owner="identityId || (baseUrl+'/i/'+identitySlug)"
            data-duplicate-checker-available="This account name is available!"
            data-duplicate-checker-invalid="Account name is invalid."
            data-duplicate-checker-taken="Account name has already been taken."
            data-duplicate-checker-checking="Checking Availability...">
          </div>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="visibility">Account Visibility</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-eye-open"></i></span><select
            name="visibility" data-ng-model="accountVisibility"
            data-ng-options="value as key for (key, value) in {Hidden: 'hidden', Public: 'public'}">
          </select>
        </div>
      </div>
    </div>
    <div data-ng-hide="editAccount" class="control-group">
      <label class="control-label" for="currency">Currency</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span><select
            name="currency" data-ng-model="account.currency"
            data-ng-options="value as key for (key, value) in {'US Dollars $': 'USD'}">
          </select>
        </div>
      </div>
    </div>
  </fieldset>
</form>
