<form class="well form-horizontal" action="">
  <fieldset>
    <div class="control-group" data-binding="label">
      <label class="control-label" for="label">Title</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-tag"></i></span><input
            type="text" name="label"
            data-ng-model="model.item.label"
            data-track-state="model.help.label"
            placeholder="Title" required="required" />
          <button class="btn" data-help-toggle="model.help.label">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.label.show" class="help-block">
          Please enter a short title for this item.
          <!--
          <br/><br/>
          Suggestions: ...
          -->
        </p>
      </div>
    </div>

    <div class="control-group" data-binding="amount">
      <label class="control-label" for="amount">Amount</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-money"></i></span><input
            type="text" name="amount"
            data-ng-model="model.item.amount"
            data-track-state="model.help.amount" 
            placeholder="Amount" required="required" />
          <button class="btn" data-help-toggle="model.help.amount">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.amount.show" class="help-block">
          Please enter the amount of this item.
          <br/><br/>
          You must enter a valid monetary amount like 20 or 5.00.
        </p>
      </div>
    </div>

    <div class="control-group" data-binding="comment">
      <label class="control-label" for="comment">Comment</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-comment"></i></span><textarea
            rows="5" name="comment"
            data-ng-model="model.item.comment"
            data-track-state="model.help.comment" 
            placeholder="Additional comments" />
          <button class="btn" data-help-toggle="model.help.comment">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.comment.show" class="help-block">
          Please enter comments about this item if needed.
          <!--
          <br/><br/>
          Suggestions: ...
          -->
        </p>
      </div>
    </div>
  </fieldset>
</form>
