<div>
  <div data-selector data-item-type="Payment Method"
    data-modal-title="Select Payment Method"
    data-items="paymentTokens" data-selected="selected" data-invalid="invalid"
    data-add-item="showAddPaymentTokenModal=true" data-fixed="{{fixed}}"
    data-custom-display="true" data-columns="2" data-selecting="selecting">
    <ul data-ng-show="services.token.loading" class="unstyled item">
      <li class="item-hover well">
        <div data-spinner="services.token.loading"
          data-spinner-class="selector-spinner"></div>
      </li>
    </ul>
    <div data-ng-hide="services.token.loading || selecting">
      <div data-ng-include="'/partials/payment-token-display.html'"></div>
    </div>
    <div data-ng-show="!services.token.loading && selecting" class="container-fluid">
      <div data-ng-repeat="row in grid">
        <div class="row-fluid">
          <div class="span6" data-ng-repeat="selected in row">
            <div data-ng-include="'/partials/payment-token-display.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-modal-add-payment-token="showAddPaymentTokenModal"
    data-payment-methods="paymentMethods"
    data-modal-on-close="!err && (selected=result)"></div>
</div>
