<div class="paymentToken" data-ng-switch="selected.paymentMethod">
  <div class="cc-box" data-ng-switch-when="ccard:CreditCard">
    <table class="table-cc" data-ng-class="selecting && 'item-hover'"
      data-ng-click="selecting && select(selected)">
      <tbody>
        <tr>
          <td colspan="2"><strong>{{selected.label | ellipsis:16}}</strong></td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="cc-layer">
              <span class="cc-font-front cc-number">{{selected.cardNumber | mask | ccNumber}}</span>
              <span class="cc-font-back cc-number">{{selected.cardNumber | mask | ccNumber}}</span>
              <span class="cc-font-shine cc-number">{{selected.cardNumber | mask | ccNumber}}</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="cc-layer">
              <span class="cc-font-front cc-date">{{selected.cardExpMonth | prefill}} / {{selected.cardExpYear}}</span>
              <span class="cc-font-back cc-date">{{selected.cardExpMonth | prefill}} / {{selected.cardExpYear}}</span>
              <span class="cc-font-shine cc-date">{{selected.cardExpMonth | prefill}} / {{selected.cardExpYear}}</span>
            </span>
          </td>
          <td>
            <span class="cc-layer">
              <span class="cc-brand"><i class="{{selected.cardBrand|cardBrand:true}}"></i></span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <table data-ng-switch-when="bank:BankAccount"
    data-ng-class="{'table-bank': selected.psaVerified, 'table-bank-disabled': !selected.psaVerified, 'item-hover': selected.psaVerified && selecting}"
    data-ng-click="selected.psaVerified && selecting && select(selected)">
    <tbody>
      <tr>
        <td colspan="2"><i class="bank-logo"></i> <strong>{{selected.label | ellipsis:20}}</strong></td>
      </tr>
      <tr data-ng-hide="selected.psaVerified || selected.psaStatus == 'disabled'">
        <td colspan="2" class="text-align-center alert-error">Unverified</td>
      </tr>
      <tr data-ng-show="selected.psaStatus == 'disabled'">
        <td colspan="2" class="text-align-center alert-error">Disabled</td>
      </tr>
      <tr>
        <td class="text-align-center">{{selected.bankRoutingNumber | mask}}</td>
        <td class="text-align-center">{{selected.bankAccount | mask}}</td>
      </tr>
    </tbody>
  </table>
</div>