<div class="paymentToken" data-ng-switch="selected.paymentMethod">
  <div class="cc-box" data-ng-switch-when="ccard:CreditCard">
    <table class="cc-table" data-ng-class="selecting && 'item-hover'"
      data-ng-click="selecting && select(selected)">
      <tbody>
        <tr>
          <td colspan="2">
            <span class="cc-layer">
              <span class="cc-label"><strong>{{selected.label | ellipsis:25}}</strong></span>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="cc-layer">
              <span class="cc-font-front cc-number">{{selected.cardNumber | mask | ccNumber}}</span>
              <span class="cc-font-back cc-number">{{selected.cardNumber | mask | ccNumber}}</span>
              <span class="cc-font-shine cc-number">{{selected.cardNumber | mask | ccNumber}}</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="cc-layer">
              <span class="cc-font-front cc-date">{{selected.cardExpMonth | prefill}} / {{selected.cardExpYear}}</span>
              <span class="cc-font-back cc-date">{{selected.cardExpMonth | prefill}} / {{selected.cardExpYear}}</span>
              <span class="cc-font-shine cc-date">{{selected.cardExpMonth | prefill}} / {{selected.cardExpYear}}</span>
            </span>
          </td>
          <td>
            <span class="cc-layer">
              <span class="cc-brand"><i class="{{selected.cardBrand|cardBrand:true}}"></i></span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div data-ng-switch-when="bank:BankAccount"
    data-ng-class="{'bank-box': selected.psaVerified, 'bank-disabled-box': !selected.psaVerified}">
    <table
      data-ng-class="{'bank-table': selected.psaVerified, 'bank-disabled-table': !selected.psaVerified, 'item-hover': selected.psaVerified && selecting}"
      data-ng-click="selected.psaVerified && selecting && select(selected)">
      <tbody>
        <tr>
          <td class="bank-layer">
            <i class="bank-icon"></i>
            <span class="bank-label">
              <strong>{{selected.label | ellipsis:20}}</strong>
            </span>
          </td>
          <td><span class="bank-date">{{'' | now:'d MMM yyyy'}}</span></td>
        </tr>
        <tr data-ng-hide="selected.psaVerified || selected.psaStatus == 'disabled'">
          <td colspan="2" class="text-align-center bank-error">Unverified</td>
        </tr>
        <tr data-ng-show="selected.psaStatus == 'disabled'">
          <td colspan="2" class="text-align-center bank-error">Disabled</td>
        </tr>
        <tr>
          <td class="text-align-center bank-font">A{{selected.bankRoutingNumber | mask:9}}A</td>
          <td class="text-align-center bank-font">C{{selected.bankAccount | mask:10}}C</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>