<div>
  <div data-selector data-item-type="Payment Method"
    data-items="paymentTokens" data-selected="selected" data-invalid="invalid"
    data-add-item="showAddPaymentTokenModal=true"
    data-fixed="{{fixed}}">
    <div data-spinner="services.token.loading"
      data-spinner-class="selector-spinner"></div>
    <div data-ng-hide="services.token.loading"
      class="paymentToken" data-ng-switch="selected.paymentMethod">
      <table data-ng-switch-when="ccard:CreditCard" class="table-cc">
        <tbody>
          <tr>
            <td colspan="2"><strong>{{selected.label}}</strong></td>
          </tr>
          <tr>
            <td colspan="2" class="text-align-right">{{selected.cardNumber}}</td>
          </tr>
          <tr>
            <td class="text-align-right">{{selected.cardExpMonth}} / {{selected.cardExpYear}}</td>
            <td class="text-align-right"><i class="{{selected.cardBrand|cardBrand:true}}"></i></td>
          </tr>
        </tbody>
      </table>
      <table data-ng-switch-when="bank:BankAccount" class="table-bank">
        <tbody>
          <tr>
            <td colspan="2"><i class="bank-logo"></i> <strong>{{selected.label}}</strong></td>
          </tr>
          <tr>
            <td class="text-align-center">{{selected.bankRoutingNumber}}</td>
            <td class="text-align-center">{{selected.bankAccount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div data-modal-add-payment-token="showAddPaymentTokenModal"
    data-modal-on-close="selected=result"></div>
</div>
