<div class="modal">
  <div class="modal-header" data-ng-switch="model.state">
    <a class="close btn-close">&times;</a>
    <h3 data-ng-switch-when="reviewing">Open a Credit Line</h3>
    <h3 data-ng-switch-when="complete">Credit Line Opened</h3>
  </div>
  <div class="modal-body" data-ng-switch="model.state">
    <div data-ng-include="'/app/templates/demo-warning.html'"></div>
    <div data-ng-switch-when="reviewing">
      <div data-ng-include="'/app/templates/modals/add-credit-line-review.html'"></div>
    </div>
    <div data-ng-switch-when="complete">
      <div data-ng-include="'/app/templates/modals/add-credit-line-complete.html'"></div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-feedback"
      data-feedback="model.feedback.modal" data-target="feedbackTarget"></div>

    <span data-spinner="model.loading"
      data-spinner-class="prepend-btn-spinner"></span>
    <span data-ng-show="model.state == 'reviewing'">
      <button class="btn btn-primary"
        data-ng-disabled="model.loading || !model.backupSource"
        data-ng-click="confirm()"><i class="icon-ok icon-white"></i> Confirm</button>
      <button data-ng-disabled="model.loading" class="btn btn-close">Cancel</button>
    </span>
    <span data-ng-show="model.state == 'complete'">
      <button class="btn btn-close btn-done">Done</button>
    </span>
  </div>
</div>
