<p data-ng-show="depositTransfer">
  You have deposited
  <span data-money="depositTransfer" data-important="true"></span>
  into your
  "<strong>{{accounts[depositDestination].label}}</strong>"
  account.
</p>

<div class="section">
  <h4 class="headline">Verification<span data-ng-show="depositTransfer"> and Deposit</span> Details</h4>
  <div data-transaction-details="deposit"
    data-source="input.source"
    data-complete="true"></div>
</div>

<p style="margin-top: 10px;">
  Including fees, your 
  <span data-ng-switch="input.source.paymentMethod">
    <span data-ng-switch-when="CreditCard">credit card</span>
    <span data-ng-switch-when="BankAccount">bank account</span>
    <span data-ng-switch-default>external account</span>
  </span>
  was charged
  <span data-money="deposit" data-important="true"></span>
  on
  <span class="date">{{deposit.created | date:'medium'}}</span>.
  "Digital Bazaar" will appear on your billing statement.
</p>

<p>A copy of this receipt has been sent to your email address.</p>
