<p>In order to complete the bank account verification process, you must confirm
that you received two small deposits from us. You should see two deposits that
have the label <strong>DIGITAL BAZAAR CREDIT</strong> on your bank statement.
Please enter those amounts below. You may enter them in any order; the order
they appear on your bank statement is not significant.<span data-ng-show="selection.destination.psaAllowStoredValue"> Once you have entered
the amounts, you may optionally add an amount for an initial deposit.</span> The
amounts you enter<span data-ng-show="selection.destination.psaAllowStoredValue">, the optional initial deposit,</span> and any transfer fees will
be withdrawn from your bank account.</p>

<div class="section">
  <h4 class="headline">Bank Account</h4>
  <div data-payment-token-selector
    data-selected="paymentToken"
    data-fixed="true"></div>
</div>

<div class="section">
  <h4 data-ng-show="selection.destination.psaAllowStoredValue" class="headline">Verification and Deposit Details</h4>
  <h4 data-ng-hide="selection.destination.psaAllowStoredValue" class="headline">Verification Details</h4>
  <form class="well form-horizontal" action="">
    <fieldset>
      <label class="control-label" for="verifyAmount0">First Amount</label>
      <div class="control-group" data-binding="psaVerifyParameters.amount[0]">
        <div class="controls">
          <div class="input-prepend input-append">
            <span class="add-on">$</span><input
              type="text" name="verifyAmount0" placeholder="Enter first deposited amount."
              data-ng-model="psaVerifyParameters.amount[0]"
              data-track-state="model.help.verifyAmount1" />
            <button class="btn" data-help-toggle="model.help.verifyAmount1">
              <i class="icon-question-sign"></i>
            </button>
          </div>
          <p data-fade-toggle="model.help.verifyAmount1.show"
            class="help-block">
            Please enter the first verification deposit amount in your bank
            account. You must enter a valid monetary amount, like 0.12.
          </p>
        </div>
      </div>
      <label class="control-label" for="verifyAmount1">Second Amount</label>
      <div class="control-group" data-binding="psaVerifyParameters.amount[1]">
        <div class="controls">
          <div class="input-prepend input-append">
            <span class="add-on">$</span><input
              type="text" name="verifyAmount1" placeholder="Enter second deposited amount."
              data-ng-model="psaVerifyParameters.amount[1]"
              data-track-state="model.help.verifyAmount2" />
            <button class="btn" data-help-toggle="model.help.verifyAmount2">
              <i class="icon-question-sign"></i>
            </button>
          </div>
          <p data-fade-toggle="model.help.verifyAmount2.show"
            class="help-block">
            Please enter the second verification deposit amount in your bank
            account. You must enter a valid monetary amount, like 0.12.
          </p>
        </div>
      </div>
      <label data-ng-show="selection.destination.psaAllowStoredValue" class="control-label" for="verificationAmount1">Deposit (optional)</label>
      <div data-ng-show="selection.destination.psaAllowStoredValue" class="control-group" data-binding="amount">
        <div class="controls">
          <div class="input-prepend input-append">
            <span class="add-on">$</span><input
              type="text" name="amount" placeholder="Enter deposit amount..."
              data-ng-model="input.amount"
              data-track-state="model.help.amount" />
            <button class="btn" data-help-toggle="model.help.amount">
              <i class="icon-question-sign"></i>
            </button>
          </div>
          <p data-fade-toggle="model.help.amount.show" class="help-block">
            You may enter an optional amount to deposit from this bank account.
            Doing a deposit now helps save on transaction fees. If you'd like
            to deposit now, then you must enter a valid monetary amount, like
            25 or 25.82.
          </p>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div data-ng-show="selection.destination.psaAllowStoredValue" class="section">
  <h4 class="headline">Deposit Destination</h4>
  <div data-account-selector
    data-selected="selection.destination"
    data-invalid="selection.invalidAccount"
    data-show-deposit-button="false"
    data-instant="false"
    data-instant-transfer-deposit="ignore"></div>
</div>
