<div class="alert alert-warning">
  Your withdrawal is NOT complete, verify your information below.
  See our <a target="_blank" href="/help/pricing">pricing policy and rates</a>
  page for fee information.
</div>

<div class="section">
  <h4 class="headline">Withdrawal Method</h4>
  <div data-payment-token-selector data-selected="input.destination"
    data-invalid="selection.invalidDestination"
    data-instant="'non'" data-fixed="true"></div>
</div>

<div class="section">
  <h4 class="headline">Withdrawal Details</h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
        <th>Account</th>
        <th class="money">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="transfer in withdrawal.transfer">
        <td>{{transfer.comment}}</td>
        <td class="compact">
          <i class="icon-arrow-right"></i>
        </td>
        <td>
          <span data-ng-show="transfer.destination != withdrawal.destination.id"><a href="{{transfer.destination}}" target="_blank">{{accounts[transfer.destination].label}}</a></span>
          <span data-ng-show="transfer.destination == withdrawal.destination.id"><strong>{{accounts[transfer.destination].label}}</strong></span>
        </td>
        <td class="money">
          <span class="money" data-tooltip-title="Since we support micro-payments, we track transaction amounts very accurately. The exact amount of this transfer is USD {{transfer.amount}}."
            data-placement="bottom" data-trigger="hover"><span class="currency">USD</span> {{transfer.amount | currency:'$'}}</span>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3"></th>
        <th class="money">Total</th>
      </tr>
      <tr>
        <td colspan="3">
          Total to be debited from your
          "<strong>{{account.label}}</strong>"
          account.
        </td>
        <td class="money">
          <span class="money"><span class="currency">USD</span> <strong>{{withdrawal.amount | currency:'$'}}</strong></span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          Total to be credited to your
          "<strong>{{input.destination.label}}</strong>"
          <span data-ng-switch="input.destination.paymentMethod">
            <span data-ng-switch-when="BankAccount">bank account</span>
            <span data-ng-switch-default>external account</span>
          </span>.
        </td>
        <td class="money">
          <span class="money"><span class="currency">USD</span> <strong>{{withdrawal.transfer[0].amount | currency:'$'}}</strong></span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<p class="alert alert-info" style="margin-top: 10px;">
  If these details are correct, click the "Withdraw" button.
</p>
