<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close stackable-cancel">&times;<span class="sr-only">Close</span></a>
        <h3 class="modal-title">New Budget</h3>
      </div>
      <div class="modal-body">
        <br-demo-warning></br-demo-warning>
        <div ng-include="'/app/components/budget/budget-form.html'"></div>
      </div>
      <div class="modal-footer">
        <span ng-show="state.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <button type="button" class="btn btn-primary"
          ng-disabled="state.loading"
          ng-click="addBudget()"><i class="fa fa-check"></i> Add</button>
        <button type="button" class="btn btn-default stackable-cancel"
          ng-disabled="state.loading">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
