<div class="ng-cloak" ng-controller="BudgetController as model">

  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb" ng-show="!model.budget || model.state.budgets.loading">
        <li>&nbsp;</li>
      </ul>
      <ul class="breadcrumb" ng-show="model.budget && !model.state.budgets.loading && !model.state.identities.loading && app.services.identity.identity.id == model.budget.owner">
        <li><a ng-href="{{app.services.identity.identity.id}}/dashboard">Dashboard</a> <span class="divider">/</span></li>
        <li>Budgets <span class="divider">/</span></li>
        <li class="active" ng-bind="model.budget.label"></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="section col-md-12">
      <h3 class="headline">
        Budget
        <span ng-hide="!model.budget || model.state.budgets.loading" class="btn-group pull-right">
          <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-reorder"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a ng-click="model.modals.budget=model.budget; model.modals.showEditBudgetModal=true">
                <i class="icon-pencil"></i> Edit
              </a>
            </li>
            <li class="alert-danger">
              <a ng-click="model.modals.budget=model.budget; model.modals.showDeleteBudgetAlert=true">
                <i class="icon-remove"></i> Delete
              </a>
            </li>
          </ul>
        </span>
        <span ng-show="model.state.budgets.loading" class="pull-right">
          <span data-spinner="model.state.budgets.loading" data-spinner-class="h3-spinner"></span>
        </span>
      </h3>
      <div class="alert alert-danger" ng-show="model.budget === null && !model.state.budgets.loading">
        <strong>Error!</strong> Budget not found or access not allowed.
      </div>
    </div>
  </div>

  <div class="row" ng-show="model.budget">
    <div class="col-md-12">
      <h1 class="headline" ng-bind="model.budget.label"></h1>
      <hr/>
    </div>
  </div>

  <div class="row" ng-show="model.budget">
    <div ng-show="!model.state.budgets.loading" class="section col-md-12">
      <div ng-include="'/app/components/budget/budget-view.html'"></div>
    </div>
  </div>

  <!-- modals -->
  <div stackable="model.modals.showEditBudgetModal" stackable-modal="true">
    <div data-edit-budget-modal data-budget="model.modals.budget"></div>
  </div>
  <!-- delete alert -->
  <div stackable="model.modals.showDeleteBudgetAlert"
    stackable-modal="true"
    stackable-closed="model.confirmDeleteBudget(err, result)">
    <div data-alert-modal
      data-modal-header="Warning"
      data-modal-ok="Delete"
      data-modal-cancel="Cancel">
      <p>Are you sure that you want to delete this budget? This action can't be undone.</p>
      <!-- TODO: Show budget {{model.budget}} -->
    </div>
  </div>
  <!-- delete vendor alert -->
  <div stackable="model.modals.showDeleteVendorAlert"
    stackable-modal="true"
    stackable-closed="model.confirmDeleteVendor(err, result)">
    <div data-alert-modal
      data-modal-header="Warning"
      data-modal-ok="Delete"
      data-modal-cancel="Cancel">
      <p>Are you sure that you want to remove this vendor from the budget?</p>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th class="name">Vendor</th>
            <th class="name">Website</th>
          </tr>
        </thead>
        <tbody>
        <tr class="vendor">
          <!-- Label -->
          <td class="name">
            <a href="{{model.modals.vendorToDelete.id}}">{{model.modals.vendorToDelete.label || model.modals.vendorToDelete.id}}</a>
          </td>
          <td class="name">
            <a ng-show="model.modals.vendorToDelete.url" href="{{model.modals.vendorToDelete.url}}">{{model.modals.vendorToDelete.url}}</a>
            <span ng-hide="model.modals.vendorToDelete.url">&nbsp;</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
