<div>
  <div data-selector data-item-type="Budget"
    data-items="budgets" data-selected="selected" data-invalid="invalid"
    data-add-item="showAddBudgetModal=true" data-fixed="{{fixed}}">
    <div data-spinner="services.budget.loading"
      data-spinner-class="selector-spinner"></div>
    <div data-ng-hide="services.budget.loading" class="budget">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th colspan="2"><span title="{{selected.id}}">{{selected.label}}</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="compact">Balance</td>
            <td class="money">
              <div data-budget-bar="selected"></div>
            </td>
          </tr>
        </tbody>
      </table>
      <div data-ng-show="showRefreshButton">
        <button class="btn btn-success"
          data-ng-click="refresh(selected)"><i class="icon-refresh"></i> Refresh</button><br/>
      </div>
      <div data-ng-show="balanceTooLow">
        <hr />
        <div class="alert alert-error">You must select a budget with a balance of at least <span
        class="currency">{{selected.currency}}</span> {{minBalance | ceil | currency:'$'}}. The budget's
        associated account must also have enough funds unless instant transfer is enabled.</div>
      </div>
      <div data-ng-show="maxPerUseTooLow">
        <hr />
        <div class="alert alert-error">You must choose a budget that allows
        a single purchase of at least <span
        class="currency">{{selected.currency}}</span> {{minBalance | ceil | currency:'$'}}.</div>
      </div>
    </div>
  </div>
  <div stackable="showAddBudgetModal" stackable-modal="true"
    stackable-closed="!err && (selected=result)">
    <div data-add-budget-modal></div>
  </div>
</div>
