<div class="section section-budgets">
  <br-headline br-title="Budgets" br-loading="model.state.budgets.loading">
    <ul class="stackable-menu dropdown-menu">
      <li>
        <a class="stackable-cancel" ng-click="model.modals.showAddBudget=true"><i class="fa fa-plus"></i> Add Budget</a>
      </li>
    </ul>
  </br-headline>
  <table class="table table-condensed" ng-if="!model.state.budgets.loading && model.budgets.length > 0">
    <thead>
      <tr>
        <th class="name">Budget</th>
        <th class="money">Balance</th>
        <th>Refill</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="budget in model.budgets | orderBy:'label'" class="br-fadein br-fadeout" ng-if="!budget.deleted">
        <!-- Label -->
        <td class="name">
          <a href="{{budget.id}}">{{budget.label}}</a>
        </td>
        <!-- Balance -->
        <td class="money">
          <div ps-budget-bar="budget"></div>
        </td>
        <!-- Refresh -->
        <td ng-switch="model.getBudgetRefreshDuration(budget)">
          <span ng-switch-when="never">Never</span>
          <span ng-switch-when="PT1H">Hourly</span>
          <span ng-switch-when="P1D">Daily</span>
          <span ng-switch-when="P1W">Weekly</span>
          <span ng-switch-when="P1M">Monthly</span>
          <span ng-switch-when="P1Y">Yearly</span>
        </td>
        <!-- Action -->
        <td class="action">
          <br-action-menu>
            <ul class="dropdown-menu stackable-menu">
              <li>
                <a class="stackable-cancel" ng-click="model.modals.budget=budget; model.modals.showEditBudget=true">
                  <i class="fa fa-pencil"></i> Edit
                </a>
              </li>
              <li class="divider"></li>
              <li class="alert-danger">
                <a class="stackable-cancel" ng-click="model.deleteBudget(budget)">
                  <i class="fa fa-times"></i> Delete
                </a>
              </li>
            </ul>
          </br-action-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Delete budget alert -->
  <stackable-modal stackable="model.showDeleteBudgetAlert"
    stackable-closed="model.confirmDeleteBudget(err, result)">
    <div br-alert-modal
      br-modal-header="Warning"
      br-modal-ok="Delete"
      br-modal-cancel="Cancel">
      <p>Are you sure that you want to delete this budget?</p>
      <div ps-budget-selector
        ps-selected="model.budgetToDelete"
        ps-invalid="invalidBudget" ps-fixed="true"></div>
    </div>
  </stackable-modal>
  <div ng-show="!model.state.budgets.loading && model.budgets.length == 0">
    <p class="center">You have no budgets for this identity.</p>
  </div>
  <stackable-modal stackable="model.modals.showEditBudget">
    <div ps-edit-budget-modal ps-budget="model.modals.budget"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showAddBudget">
    <div ps-add-budget-modal></div>
  </stackable-modal>
</div>
