<br-selector br-selected="selected=brSelector.selected" ps-budget-selector-inner>
  <div name="br-selector-selected" br-lazy-compile="selected" br-lazy-id="ps-budget-selector-selected">
    <span ng-show="model.state.loading">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
    <div ng-hide="model.state.loading">
      <ps-budget-selection ps-budget="selected"
        ps-min-balance="minBalance"
        ps-invalid="invalid"></ps-budget-selection>
    </div>
  </div>
  <div name="br-selector-choices" br-lazy-compile="brSelector.showChoices" br-lazy-id="ps-budget-selector-choices">
    <div ng-show="model.state.loading">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </div>
    <ul class="list-unstyled">
      <li class="br-item-hover well" ng-repeat="budget in model.budgets"
        ng-click="brSelector.select(account)">
        <ps-budget-selection ps-budget="budget"
          ps-min-balance="minBalance"
          ps-invalid="invalid"></ps-budget-selection>
      </li>
    </ul>
  </div>
</br-selector>
<stackable-modal stackable="model.showAddBudgetModal"
  stackable-closed="!err && brSelector.select(result)"
  br-lazy-compile="model.showAddBudgetModal" br-lazy-id="ps-budget-selector-add-modal">
  <div ps-add-budget-modal></div>
</stackable-modal>
