<form class="well form-horizontal">
  <fieldset>
    <br-input br-model="budget.label"
      br-options="{
        icon: 'fa-tag', name: 'label', label: 'Name',
        columns: {
          label: 'col-sm-4',
          input: 'col-sm-7',
          help: 'col-sm-offset-4 col-sm-7'
        }
      }">
      Please enter a memorable name that describes what this budget is
      for.
      <br/><br/>
      Suggestions: News, Movies, Favorites
    </br-input>

    <br-input br-model="budget.amount"
      br-options="{
        icon: 'fa-money', name: 'amount', label: 'Budgeted Amount',
        columns: {
          label: 'col-sm-4',
          input: 'col-sm-7',
          help: 'col-sm-offset-4 col-sm-7'
        }
      }">
      Please enter the maximum amount that can be used before the budget
      is refilled.
      <br/><br/>
      You must enter a valid monetary amount like 20 or 5.00.
    </br-input>

    <br-input br-model="budget.sysMaxPerUse"
      br-options="{
        icon: 'fa-money', name: 'sysMaxPerUse', label: 'Max Per Use',
        columns: {
          label: 'col-sm-4',
          input: 'col-sm-7',
          help: 'col-sm-offset-4 col-sm-7'
        }
      }">
      Please enter the maximum amount that can be used per transaction
      using this budget.
      <br/><br/>
      You must enter a valid monetary amount like 20 or 5.00.
    </br-input>

    <br-select br-model="model.budgetRefreshDuration"
      br-items="refreshChoices" br-display-item="item.label"
      br-options="{
        icon: 'fa-calendar', name: 'sysRefreshInterval',
        label: 'Refill', key: 'value',
        columns: {
          label: 'col-sm-4',
          select: 'col-sm-7',
          help: 'col-sm-offset-4 col-sm-7'
        }
      }">
      Please choose the interval between refilling the budget balance to
      the maximum amount.
    </br-select>

    <br-select br-model="model.budgetValidDuration"
      br-items="validityChoices" br-display-item="item.label"
      br-options="{
        icon: 'fa-calendar', name: 'sysValidityInterval',
        label: 'Expire after', placeholder: 'Current', key: 'value',
        columns: {
          label: 'col-sm-4',
          select: 'col-sm-7',
          help: 'col-sm-offset-4 col-sm-7'
        }
      }">
      Please choose when this budget should expire due to inactivity.
    </br-select>
  </fieldset>
</form>

<div class="section">
  <h4 class="headline">Select Source Account</h4>
  <div data-account-selector data-selected="selection.account"
    data-invalid="selection.invalidAccount"
    data-instant-transfer-deposit="ignore"></div>
</div>
