/* PaySwarm Authority custom style */

/* Fonts */
@font-face {
  font-family: 'Kredit Front';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/KreditFront.eot');
  src: url('/fonts/KreditFront.eot?#iefix') format('embedded-opentype'),
    url('/fonts/KreditFront.woff') format('woff'),
    url('/fonts/KreditFront.ttf') format('truetype'),
    url('/fonts/KreditFront.svg#KreditFront') format('svg');
}
@font-face {
  font-family: 'Kredit Back';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/KreditBack.eot');
  src: url('/fonts/KreditBack.eot?#iefix') format('embedded-opentype'),
    url('/fonts/KreditBack.woff') format('woff'),
    url('/fonts/KreditBack.ttf') format('truetype'),
    url('/fonts/KreditBack.svg#KreditBack') format('svg');
}
@font-face {
  font-family: 'Kredit Shine';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/KreditShine.eot');
  src: url('/fonts/KreditShine.eot?#iefix') format('embedded-opentype'),
    url('/fonts/KreditShine.woff') format('woff'),
    url('/fonts/KreditShine.ttf') format('truetype'),
    url('/fonts/KreditShine.svg#KreditShine') format('svg');
}

@font-face {
  font-family: 'GnuMICR';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/GnuMICR.eot');
  src: url('/fonts/GnuMICR.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GnuMICR.woff') format('woff'),
    url('/fonts/GnuMICR.ttf') format('truetype'),
    url('/fonts/GnuMICR.svg#GnuMICR') format('svg');
}

/* Financial */
span.price {
  white-space: nowrap;
  font-weight: bold;
  color: #d24;
}
span.money {
  white-space: nowrap;
  text-align: right;
}
span.currency {
  color: #aaa;
  font-size: 13px;
}
span.disabled-credit {
  color: #b94a48;
}
span.negative-money {
  color: #b94a48;
}
.micropayment-note {
  text-align: center;
  font-size: small;
}
.payment-radio-group {
  margin-left: 10px;
}
.account-activity-well {
  padding: 14px 19px 0;
}
.account-activity-form {
  margin: 6px 0 20px;
}

.cc-box {
  width: 235px;
  height: 147.558px;
  background-color: #1e5799;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.cc-box.visa {
  background-color: #1e5799;
}
.cc-box.mastercard {
  background-color: #800000;
}
.cc-box.americanexpress {
  background-color: #4b7d47;
}
.cc-box.discover {
  background-color: #f08000;
}
.cc-box.chinaunionpay {
  background-color: #800080;
}
.cc-table {
  width: 235px;
  height: 147.558px;
  padding: 10px;
  color: #fefefe;
  background: #1e5799; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #72b3e5 0%, #2989d8 42%, #207cca 58%, #1e5799 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#72b3e5), color-stop(42%,#2989d8), color-stop(58%,#207cca), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #72b3e5 0%,#2989d8 42%,#207cca 58%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #72b3e5 0%,#2989d8 42%,#207cca 58%,#1e5799 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #72b3e5 0%,#2989d8 42%,#207cca 58%,#1e5799 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #72b3e5 0%,#2989d8 42%,#207cca 58%,#1e5799 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72b3e5', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-collapse: separate;
  border: 1px solid #1e5799;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.cc-table.visa {
  background: #1e5799; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #72b3e5 0%, #2989d8 42%, #207cca 58%, #1e5799 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#72b3e5), color-stop(42%,#2989d8), color-stop(58%,#207cca), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #72b3e5 0%,#2989d8 42%,#207cca 58%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #72b3e5 0%,#2989d8 42%,#207cca 58%,#1e5799 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #72b3e5 0%,#2989d8 42%,#207cca 58%,#1e5799 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #72b3e5 0%,#2989d8 42%,#207cca 58%,#1e5799 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72b3e5', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.cc-table.mastercard {
  background: #800000; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #b26666 0%, #993232 42%, #8c1919 58%, #800000 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b26666), color-stop(42%,#993232), color-stop(58%,#8c1919), color-stop(100%,#800000)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #b26666 0%,#993232 42%,#8c1919 58%,#800000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #b26666 0%,#993232 42%,#8c1919 58%,#800000 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #b26666 0%,#993232 42%,#8c1919 58%,#800000 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #b26666 0%,#993232 42%,#8c1919 58%,#800000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26666', endColorstr='#800000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 1px solid #800000;
}
.cc-table.americanexpress {
  background: #4b7d47; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #93b190 0%, #6e976b 42%, #5d8a59 58%, #4b7d47 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#93b190), color-stop(42%,#6e976b), color-stop(58%,#5d8a59), color-stop(100%,#4b7d47)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #93b190 0%,#6e976b 42%,#5d8a59 58%,#4b7d47 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #93b190 0%,#6e976b 42%,#5d8a59 58%,#4b7d47 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #93b190 0%,#6e976b 42%,#5d8a59 58%,#4b7d47 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #93b190 0%,#6e976b 42%,#5d8a59 58%,#4b7d47 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93b190', endColorstr='#4b7d47',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 1px solid #4b7d47;
}
.cc-table.discover {
  background: #f08000; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #f6b266 0%, #f39932 42%, #f18c19 58%, #f08000 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f6b266), color-stop(42%,#f39932), color-stop(58%,#f18c19), color-stop(100%,#f08000)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #f6b266 0%,#f39932 42%,#f18c19 58%,#f08000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #f6b266 0%,#f39932 42%,#f18c19 58%,#f08000 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #f6b266 0%,#ff9932 42%,#f18c19 58%,#f08000 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #f6b266 0%,#f39932 42%,#f18c19 58%,#f08000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6b266', endColorstr='#f08000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 1px solid #f08000;
}
.cc-table.chinaunionpay {
  background: #800080; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #b266b2 0%, #993299 42%, #8c198c 58%, #800080 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b266b2), color-stop(42%,#993299), color-stop(58%,#8c198c), color-stop(100%,#800080)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #b266b2 0%,#993299 42%,#8c198c 58%,#800080 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #b266b2 0%,#993299 42%,#8c198c 58%,#800080 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #b266b2 0%,#993299 42%,#8c198c 58%,#800080 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #b266b2 0%,#993299 42%,#8c198c 58%,#800080 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b266b2', endColorstr='#800080',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 1px solid #800080;
}
.cc-table th, .cc-table tr, .cc-table td {
  border: none;
  vertical-align: top;
}
.cc-label {
  position: absolute;
  width: 215px;
  margin-top: 3px;
}
.cc-number {
  position: absolute;
  width: 215px;
  margin-top: 10px;
}
.cc-date {
  position: absolute;
  width: 140px;
  margin-top: 11px;
}
.cc-brand {
  position: absolute;
  margin-top: 3px;
  margin-left: 50px;
  width: 48px;
}
.cc-font-front {
  font-family: 'Kredit Front';
  font-size: 19px;
  font-weight: bold;
  color: #fefefe;
  line-height: 19px;
  z-index: 3;
}
.cc-font-back {
  font-family: 'Kredit Back';
  font-size: 19px;
  font-weight: bold;
  line-height: 19px;
  color: #2e67a8;
  z-index: 1;
}
.cc-font-shine {
  font-family: 'Kredit Shine';
  font-size: 19px;
  font-weight: bold;
  line-height: 19px;
  color: #afafaf;
  z-index: 2;
}
.cc-selecting {
  margin-bottom: 10px;
  margin-left: 1px;
}
.cc-table.visa .cc-font-back {
  color: #18457a;
}
.cc-table.mastercard .cc-font-back {
  color: #660000;
}
.cc-table.americanexpress .cc-font-back {
  color: #3c6438;
}
.cc-table.discover .cc-font-back {
  color: #c06600;
}
.cc-table.chinaunionpay .cc-font-back {
  color: #660066;
}

.bank-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-image: url("../img/bank-icon.png");
  background-repeat: no-repeat;
}
.bank-box {
  width: 240px;
  height: 110px;
  background: #daefb6;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.bank-table {
  width: 240px;
  height: 110px;
  padding: 10px;
  border-collapse: separate;
  border: 1px solid #C5E68B;
  background: #daefb6; /* Old browsers */
  background: -moz-linear-gradient(left,  #daefb6 0%, #d2eda3 35%, #d4eaab 65%, #dfedc7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#daefb6), color-stop(35%,#d2eda3), color-stop(65%,#d4eaab), color-stop(100%,#dfedc7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #daefb6 0%,#d2eda3 35%,#d4eaab 65%,#dfedc7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #daefb6 0%,#d2eda3 35%,#d4eaab 65%,#dfedc7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #daefb6 0%,#d2eda3 35%,#d4eaab 65%,#dfedc7 100%); /* IE10+ */
  background: linear-gradient(to right,  #daefb6 0%,#d2eda3 35%,#d4eaab 65%,#dfedc7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daefb6', endColorstr='#dfedc7',GradientType=1 ); /* IE6-9 */
}
.bank-disabled-box {
  position: relative;
  background: #ddd;
}
.bank-disabled-table {
  border: 1px solid #bbb;
  background: #ddd;
}
.bank-disabled-overlay {
  position: absolute;
  width: 240px;
  margin-top: 42px;
  filter: alpha(opacity=70);
  opacity: 0.7;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #b94a48;
  transform: rotate(345deg);
  -ms-transform: rotate(345deg); /* IE 9 */
  -moz-transform: rotate(345deg); /* Firefox */
  -webkit-transform: rotate(345deg); /* Safari and Chrome */
  -o-transform: rotate(345deg); /* Opera */
  z-index: 1;
}
.bank-layer {
  position: relative;
  padding: 0;
  vertical-align: top;
}
.bank-label {
  position: absolute;
  margin-top: 20px;
  margin-left: 3px;
  width: 160px;
}
.bank-date {
  display: block;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
}
.bank-font {
  font-family: 'GnuMICR';
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
}
.bank-selecting {
  margin-top: 15px;
  margin-bottom: 10px;
}
.bank-example {
  margin-bottom: 20px;
  margin-left: 125px;
}
.bank-routing-outline {
  border: 1px solid red;
  margin-right: 1px;
  padding: 4px 2px;
}
.bank-account-outline {
  border: 1px solid blue;
  margin-left: 1px;
  padding: 4px 2px;
}
.bank-routing-highlight {
  margin-top: 2px;
  color: red;
  font-size: 14px;
}
.bank-account-highlight {
  margin-top: 2px;
  color: blue;
  font-size: 14px;
}

/* Plain text license display */
.license {
  white-space: pre;
}
