<div class="ng-cloak" ng-controller="AccountController as model">

  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb" ng-show="!model.account || model.state.accounts.loading">
        <li>&nbsp;</li>
      </ol>
      <ol class="breadcrumb" ng-show="model.account && !model.state.accounts.loading && !model.state.identities.loading && app.services.identity.identity.id == model.account.owner">
        <li><a ng-href="{{app.services.identity.identity.id}}/dashboard">Dashboard</a></li>
        <li><a ng-href="{{app.services.identity.identity.id}}/accounts">Accounts</a></li>
        <li class="active" ng-bind="model.account.label"></li>
      </ol>
      <ol class="breadcrumb" ng-show="model.account && !model.state.accounts.loading && !model.state.identities.loading && app.services.identity.identity.id != model.account.owner">
        <li><a href="{{model.account.owner}}">Account Owner</a></li>
        <li>Accounts <span class="divider">/</span></li>
        <li class="active" ng-bind="model.account.label"></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="section col-md-12">
      <br-headline br-title="Financial Account" br-loading="model.state.accounts.loading" br-options="{menu: {{!!model.account && model.isOwner}}}">
        <ul class="stackable-menu dropdown-menu" ng-show="model.isOwner">
          <li ng-class="{disabled: !model.account.sysAllowStoredValue && model.account.balance[0] != '-'}">
            <a class="stackable-cancel" ng-show="!model.account.sysAllowStoredValue && model.account.balance[0] != '-'" href="#">
              <i class="fa fa-plus"></i> Deposit
            </a>
            <a class="stackable-cancel" ng-hide="!model.account.sysAllowStoredValue && model.account.balance[0] != '-'" ng-click="model.modals.account=model.account; model.modals.showDeposit=true">
              <i class="fa fa-plus"></i> Deposit
            </a>
          </li>
          <li ng-class="{disabled: model.account.balance == 0}">
            <a class="stackable-cancel" ng-show="model.account.balance == 0" href="#">
              <i class="fa fa-minus"></i> Withdraw
            </a>
            <a class="stackable-cancel" ng-hide="model.account.balance == 0" ng-click="model.modals.account=model.account; model.modals.showWithdraw=true">
              <i class="fa fa-minus"></i> Withdraw
            </a>
          </li>
          <li>
            <a class="stackable-cancel" ng-click="model.modals.account=model.account; model.modals.showEditAccount=true">
              <i class="fa fa-pencil"></i> Edit
            </a>
          </li>
          <li ng-show="model.identity.sysUnbackedCreditEmailAvailable && (!model.account.creditLimit || model.account.creditLimit == 0)">
            <a class="stackable-cancel" ng-click="model.modals.account=model.account; model.modals.showAddCreditLine=true">
              <i class="fa fa-credit-card"></i> Open Credit Line
            </a>
          </li>
          <li>
            <a class="stackable-cancel" ng-click="model.modals.account=model.account; model.modals.showRedeemPromoCode=true">
              <i class="fa fa-money"></i> Redeem Promo Code
            </a>
          </li>
        </ul>
      </br-headline>
      <div class="alert alert-danger" ng-show="model.account === null && !model.state.accounts.loading">
        <strong>Error!</strong> Account not found or access not allowed.
      </div>
    </div>
  </div>

  <div class="row" ng-show="model.account">
    <div class="col-md-12">
      <h1 class="headline" ng-bind="model.account.label"></h1>
      <hr/>
    </div>
  </div>

  <div class="row" ng-if="model.account">
    <div ng-show="!model.state.accounts.loading" class="section col-md-12">
      <div ng-include="'/app/components/account/account-view.html'"></div>
    </div>
  </div>

  <div class="row" ng-if="model.account && model.isOwner">
    <div class="col-md-12">
      <div ps-transactions ps-account="model.account" ps-details="true" ps-controls="true"></div>
    </div>
  </div>

  <!-- modals -->
  <stackable-modal stackable="model.modals.showDeposit">
    <div ps-deposit-modal ps-account="model.modals.account" ps-instant="false"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showWithdraw">
    <div ps-withdraw-modal ps-account="model.modals.account"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showEditAccount">
    <div ps-edit-account-modal ps-account="model.modals.account"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showAddAccount">
    <div ps-add-account-modal></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showAddCreditLine">
    <div ps-add-credit-line-modal ps-account="model.modals.account"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showRedeemPromoCode">
    <div ps-redeem-promo-code-modal ps-account="model.modals.account"></div>
  </stackable-modal>

</div>
