<div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th colspan="2">
          <span title="{{account.id}}">{{account.label}}</span>
          <a ng-click="modal.showEditAccount=true; $event.stopPropagation()"
            br-tooltip="Edit" br-options="{placement: 'bottom', trigger: 'hover'}">
            <i class="fa fa-pencil"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="br-compact">Balance</td>
        <td>
          <div ps-account-balance-summary="account" ps-expand="model.expandAccountBalance"></div>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="border: none; padding-top: 0; padding-bottom: 5px">
          <div ps-account-balance-details="account" ps-expand="model.expandAccountBalance"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="showDepositButton && (account.sysAllowStoredValue || account.balance[0] == '-')">
    <button type="button" class="btn btn-success"
      ng-click="model.showDepositModal=true; $event.stopPropagation()"><i class="fa fa-plus"></i> Deposit</button><br/>
    <stackable-modal stackable="model.showDepositModal"
      br-lazy-compile="model.showDepositModal" br-lazy-id="ps-account-selection-deposit-modal">
      <div ps-deposit-modal ps-account="account" ps-instant="instant"></div>
    </stackable-modal>
  </div>
  <div ng-show="model.balanceTooLow">
    <hr />
    <div class="alert alert-danger">This account does not have a balance or remaining credit of at least <span
    class="currency">{{account.currency}}</span> {{minBalance | ceil | currency:'$'}}.</div>
  </div>
  <div ng-show="allowInstantTransfer && model.instantTransferRequired"
    br-lazy-compile="allowInstantTransfer && model.instantTransferRequired" br-lazy-id="ps-account-selection-instant-transfer">
    <hr />
    <div class="alert alert-warning">
      This account does not have sufficient funds. An instant transfer of <span ps-money="instantTransferDeposit" ps-important="true"></span> from your "<strong>{{model.backupSource.label}}</strong>" payment method will be performed to complete this purchase.
      <span ng-show="model.backupSource">
        Details of this instant transfer are available for review: <a ng-click="model.paymentMethodIsCollapsed=!model.paymentMethodIsCollapsed; $event.stopPropagation()">
          <i class="fa fa-list-alt"></i>
        </a>.
      </span>
    </div>
    <div data-collapse="model.paymentMethodIsCollapsed">
      <h5 class="headline">Instant Transfer Payment Method</h5>
      <div ps-payment-token-selector
        ps-selected="model.backupSource"
        ps-instant="true" ps-fixed="true"></div>
    </div>
    <div data-collapse="model.paymentMethodIsCollapsed">
      <h5 class="headline">Instant Transfer Deposit Details</h5>
      <div ps-transaction-details="instantTransferDeposit"
        ps-source="model.backupSource"
        ps-complete="false"></div>
    </div>
  </div>
</div>
<stackable-modal stackable="modal.showEditAccount">
  <div ps-edit-account-modal ps-account="account"></div>
</stackable-modal>
