<dl class="dl-horizontal">
  <dt>Id</dt>
  <dd>
    <ul class="list-unstyled">
      <li>{{model.account.id}}</li>
    </ul>
  </dd>

  <dt>Label</dt>
  <dd>
    <ul class="list-unstyled">
      <li>{{model.account.label}}</li>
    </ul>
  </dd>

  <dt ng-show="model.account.sysStatus">Status</dt>
  <dd ng-show="model.account.sysStatus">
    <ul class="list-unstyled">
      <li>{{model.account.sysStatus}}</li>
    </ul>
  </dd>

  <dt ng-show="model.account.balance">Balance</dt>
  <dd ng-show="model.account.balance">
    <ul class="list-unstyled">
      <li>
        <div data-account-balance-summary="model.account" data-expand="model.expandAccountBalance"></div>
        <div data-account-balance-details="model.account" data-expand="model.expandAccountBalance"></div>
      </li>
    </ul>
  </dd>

  <dt ng-show="model.account.owner">Owner</dt>
  <dd ng-show="model.account.owner">
    <ul class="list-unstyled">
      <li><a href="{{model.account.owner}}">{{model.account.owner}}</a></li>
    </ul>
  </dd>
</dl>
