<div class="container ng-cloak" ng-controller="AccountController as model">

  <div class="row">
    <div class="span12">
      <ul class="breadcrumb" ng-show="!model.account || model.state.accounts.loading">
        <li>&nbsp;</li>
      </ul>
      <ul class="breadcrumb" ng-show="model.account && !model.state.accounts.loading && !model.state.identities.loading && app.services.identity.identity.id == model.account.owner">
        <li><a ng-href="{{app.services.identity.identity.id}}/dashboard">Dashboard</a> <span class="divider">/</span></li>
        <li><a ng-href="{{app.services.identity.identity.id}}/accounts">Accounts</a> <span class="divider">/</span></li>
        <li class="active" ng-bind="model.account.label"></li>
      </ul>
      <ul class="breadcrumb" ng-show="model.account && !model.state.accounts.loading && !model.state.identities.loading && app.services.identity.identity.id != model.account.owner">
        <li><a href="{{model.account.owner}}">Account Owner</a> <span class="divider">/</span></li>
        <li>Accounts <span class="divider">/</span></li>
        <li class="active" ng-bind="model.account.label"></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="section span12">
      <h3 class="headline">
        Financial Account
        <span ng-hide="!model.account || model.state.accounts.loading" class="btn-group pull-right">
          <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-reorder"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a ng-click="model.modals.account=model.account; model.modals.showDeposit=true">
                <i class="icon-plus"></i> Deposit
              </a>
            </li>
            <li ng-class="{disabled: model.account.balance == 0}">
              <a ng-show="model.account.balance == 0" href="#">
                <i class="icon-minus"></i> Withdraw
              </a>
              <a ng-hide="model.account.balance == 0" ng-click="model.modals.account=model.account; model.modals.showWithdraw=true">
                <i class="icon-minus"></i> Withdraw
              </a>
            </li>
            <li>
              <a ng-click="model.modals.account=model.account; model.modals.showEditAccount=true">
                <i class="icon-pencil"></i> Edit
              </a>
            </li>
            <li ng-show="model.identity.sysUnbackedCreditEmailAvailable && (!model.account.creditLimit || model.account.creditLimit == 0)">
              <a ng-click="model.modals.account=model.account; model.modals.showAddCreditLine=true">
                <i class="icon-credit-card"></i> Open Credit Line
              </a>
            </li>
            <li>
              <a ng-click="model.modals.account=model.account; model.modals.showRedeemPromoCode=true">
                <i class="icon-money"></i> Redeem Promo Code
              </a>
            </li>
          </ul>
        </span>
        <span ng-show="model.state.accounts.loading" class="pull-right">
          <span data-spinner="model.state.accounts.loading" data-spinner-class="h3-spinner"></span>
        </span>
      </h3>
      <div class="alert alert-error" ng-show="model.account === null && !model.state.accounts.loading">
        <strong>Error!</strong> Account not found or access not allowed.
      </div>
    </div>
  </div>

  <div class="row" ng-show="model.account">
    <div class="title-section span12">
      <h1 class="headline" ng-bind="model.account.label"></h1>
      <hr/>
    </div>
  </div>

  <div class="row" ng-show="model.account">
    <div ng-show="!model.state.accounts.loading" class="section span12">
      <div ng-include="'/app/components/account/account-view.html'"></div>
    </div>
  </div>

  <div class="row" ng-show="model.account">
    <div class="span12">
      <div data-transactions data-account="model.account" data-details="true" data-controls="true"></div>
    </div>
  </div>

  <!-- modals -->
  <stackable-modal stackable="model.modals.showDeposit">
    <div data-deposit-modal data-account="model.modals.account" data-instant="false"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showWithdraw">
    <div data-withdraw-modal data-account="model.modals.account"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showEditAccount">
    <div data-edit-account-modal data-account="model.modals.account"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showAddAccount">
    <div data-add-account-modal></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showAddCreditLine">
    <div data-add-credit-line-modal data-account="model.modals.account"></div>
  </stackable-modal>
  <stackable-modal stackable="model.modals.showRedeemPromoCode">
    <div data-redeem-promo-code-modal data-account="model.modals.account"></div>
  </stackable-modal>

</div>
