<div>
  <div br-selector br-item-type="Account"
    br-items="model.accounts" br-selected="selected"
    br-invalid="invalid"
    br-add-item="model.showAddAccountModal=true"
    br-fixed="{{fixed}}">
    <div ng-show="model.state.loading">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </div>
    <div ng-hide="model.state.loading" class="account">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th colspan="2">
              <span title="{{selected.id}}">{{selected.label}}</span>
              <a ng-show="selecting" ng-click="model.showEditAccount=true"
                br-tooltip="Edit" br-options="{placement: 'bottom', trigger: 'hover'}">
                <i class="fa fa-pencil"></i>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="compact">Balance</td>
            <td>
              <div ps-account-balance-summary="selected" ps-expand="model.expandAccountBalance"></div>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="border: none; padding-top: 0; padding-bottom: 5px">
              <div ps-account-balance-details="selected" ps-expand="model.expandAccountBalance"></div>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="showDepositButton">
        <button type="button" class="btn btn-success"
          ng-click="model.showDepositModal=true; $event.stopPropagation()"><i class="fa fa-plus"></i> Deposit</button><br/>
        <stackable-modal stackable="model.showDepositModal">
          <div ps-deposit-modal ps-account="selected" ps-instant="instant"></div>
        </stackable-modal>
      </div>
      <div ng-show="model.balanceTooLow">
        <hr />
        <div class="alert alert-danger">You must select an account with a balance or remaining credit of at least <span
        class="currency">{{selected.currency}}</span> {{minBalance | ceil | currency:'$'}}.</div>
      </div>
      <div ng-show="allowInstantTransfer && model.instantTransferRequired">
        <hr />
        <div class="alert alert-warning">
          The selected account does not have sufficient funds. An instant transfer of <span ps-money="instantTransferDeposit" ps-important="true"></span> from your "<strong>{{model.backupSource.label}}</strong>" payment method will be performed to complete this purchase.
          <span ng-show="model.backupSource">
            Details of this instant transfer are available for review: <a ng-click="model.paymentMethodIsCollapsed=!model.paymentMethodIsCollapsed">
              <i class="fa fa-list-alt"></i>
            </a>.
          </span>
        </div>
        <div data-collapse="model.paymentMethodIsCollapsed">
          <h5 class="headline">Instant Transfer Payment Method</h5>
          <div ps-payment-token-selector
            ps-selected="model.backupSource"
            ps-instant="true" ps-fixed="true"></div>
        <div>
        <div data-collapse="model.paymentMethodIsCollapsed">
          <h5 class="headline">Instant Transfer Deposit Details</h5>
            <div ps-transaction-details="instantTransferDeposit"
              ps-source="model.backupSource"
              ps-complete="false"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <stackable-modal stackable="model.showAddAccountModal"
    stackable-closed="!err && (selected=result)">
    <div ps-add-account-modal></div>
  </stackable-modal>
  <stackable-modal stackable="model.showEditAccount">
    <div ps-edit-account-modal ps-account="selected"></div>
  </stackable-modal>
</div>
