<form class="well form-vertical" action="">
  <fieldset>
    <div class="control-group" data-binding="label">
      <label class="control-label" for="label">Name</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-tag"></i></span><input
            type="text" name="label"
            data-ng-model="model.account.label"
            data-slug-out="model.account.sysSlug"
            data-track-state="model.help.label"
            autocomplete="off" />
          <button class="btn" data-help-toggle="model.help.label">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.label.show" class="help-block">
          Enter a name for your financial account, for instance 'primary' or 'secondary'.
          <span data-ng-hide="model.editing">The name you choose will become part of your account URL:</span>
        </p>
        <div data-ng-hide="model.editing">
          <p><small><span data-ng-show="model.identity.id">{{model.identity.id}}</span><span
            data-ng-hide="model.identity.id">{{model.baseUrl}}/i/</span><span
            data-ng-hide="model.identity.id"
            class="slug">{{model.identity.sysSlug || 'IDENTITY-NAME'}}</span>/accounts/</small><input
            type="text" maxlength="32"
            data-binding="sysSlug" class="slug" name="slug"
            placeholder="ACCOUNT-NAME"
            data-slug-in data-ng-model="model.account.sysSlug" /></p>
          <div data-duplicate-checker="model.account.sysSlug"
            data-duplicate-checker-type="FinancialAccount"
            data-duplicate-checker-owner="{{model.identity.id || (model.baseUrl+'/i/'+model.identity.slug)}}"
            data-duplicate-checker-available="This account name is available!"
            data-duplicate-checker-invalid="Account name is invalid."
            data-duplicate-checker-taken="Account name has already been taken."
            data-duplicate-checker-checking="Checking Availability..."
            data-duplicate-checker-result="model.accountSlugAvailable">
          </div>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="visibility">Account Visibility</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-eye-open"></i></span><select
            name="visibility" data-ng-model="model.accountVisibility"
            data-ng-options="value as key for (key, value) in {Hidden: 'hidden', Public: 'public'}">
          </select>
          <button class="btn" data-help-toggle="model.help.visibility">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.visibility.show" class="help-block">
          Choose if the account is public or private.
        </p>
      </div>
    </div>
    <div data-ng-hide="editing" class="control-group">
      <label class="control-label" for="currency">Currency</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-money"></i></span><select
            name="currency" data-ng-model="model.account.currency"
            data-ng-options="value as key for (key, value) in {'US Dollars $': 'USD'}">
          </select>
          <button class="btn" data-help-toggle="model.help.currency">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.currency.show" class="help-block">
          Choose the currency for the account. This can not be changed after an account is created.
        </p>
      </div>
    </div>
    <div data-ng-hide="!model.editing" class="control-group">
      <label class="control-label" for="creditLimit">Credit Limit</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <!--
          <span class="add-on"><i class="icon-money"></i></span><input
            type="text" name="creditLimit"
            data-ng-model="model.account.creditLimit"
            data-track-state="model.help.creditLimit"
            autocomplete="off" />
          -->
          <span class="add-on"><i class="icon-money"></i></span><span class="input-large uneditable-input">{{model.account.creditLimit}}</span>
          <button class="btn" data-help-toggle="model.help.creditLimit">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.creditLimit.show" class="help-block">
          Choose a credit limit for this account. Other factors may reduce your maximum available credit.
        </p>
      </div>
    </div>
    <div data-ng-hide="!model.editing" class="control-group">
      <label class="control-label" for="backups">
        External Payment Method
        <a data-help-toggle="model.help.backupSource">
          <i class="icon-question-sign"></i>
        </a>
      </label>
      <div class="controls">
        <label class="radio inline">
          <input type="radio" name="enable-backup-source"
            data-ng-value="true" data-ng-model="model.backupSourceEnabled" />
          Enable
        </label>
        <label class="radio inline">
          <input type="radio" name="enable-backup-source"
            data-ng-value="false" data-ng-model="model.backupSourceEnabled" />
          Disable
        </label>
        <div data-fade-toggle="model.help.backupSource.show" style="margin-top: 10px">
          <p class="help-block">
            An external payment method is used to automatically pay back used
            credit on its due date and to provide funds if an instant transfer
            is required to complete a purchase.
          </p>
        </div>
        <div style="margin-top: 10px"></div>
        <div data-ng-show="model.backupSourceEnabled">
          <div data-payment-token-selector data-selected="model.backupSource"
            data-instant="true"></div>
        </div>
        <div data-ng-hide="model.backupSourceEnabled || model.creditDisabled || model.fullyBackedCredit"
          class="alert alert-warning">
          <strong>Warning:</strong>
          Use of your credit line and instant transfer will be disabled until a payment method is enabled.
        </div>

        <!--
        <div data-payment-token-list data-instant="true" data-id-list="model.account.backupSource"></div>
        <p data-fade-toggle="model.help.backups.show" class="help-block">
          Choose the payment methods that are used to fund this account.
        </p>
        -->
      </div>
    </div>
    <div data-ng-hide="!editing" class="control-group">
      <label class="control-label" for="sysAllowInstantTransfer">
        Instant Transfer
        <a data-help-toggle="model.help.sysAllowInstantTransfer">
          <i class="icon-question-sign"></i>
        </a>
      </label>
      <div class="controls">
        <label class="radio inline">
          <input type="radio" name="enable-instant-transfer"
            data-ng-value="true" data-ng-model="model.account.sysAllowInstantTransfer" />
          Enable
        </label>
        <label class="radio inline">
          <input type="radio" name="enable-instant-transfer"
            data-ng-value="false" data-ng-model="model.account.sysAllowInstantTransfer" />
          Disable
        </label>
        <div data-fade-toggle="model.help.sysAllowInstantTransfer.show" style="margin-top: 10px">
          <p class="help-block">
            Enabling instant transfer will cause purchases that exceed your
            credit limit to be performed using the payment method of your
            choice. Extra fees will be applied per purchase.
          </p>
        </div>
      </div>
    </div>
    <div data-ng-hide="!editing" class="control-group" data-binding="sysMinInstantTransfer">
      <label class="control-label" for="sysMinInstantTransfer">Minimum Amount</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-money"></i></span><input
            type="text" name="sysMinInstantTransfer"
            data-ng-model="model.account.sysMinInstantTransfer"
            data-track-state="model.help.sysMinInstantTransfer" />
          <button class="btn" data-help-toggle="model.help.sysMinInstantTransfer">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.sysMinInstantTransfer.show" class="help-block">
          Please enter the minimum purchase amount required in order to trigger an
          instant transfer.
          <br/><br/>
          You must enter a valid monetary amount like 1 or 5.00.
        </p>
      </div>
    </div>
  </fieldset>
</form>
