<div class="section section-accounts">
  <h3 class="headline">
    Accounts
    <span data-ng-hide="model.state.accounts.loading" class="btn-group pull-right">
      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-reorder"></i>
      </a>
      <ul class="dropdown-menu pull-right">
        <li>
          <a data-ng-click="model.modals.showAddAccount=true"><i class="icon-plus"></i> Add Account</a>
        </li>
      </ul>
    </span>
    <span data-ng-show="model.state.accounts.loading" class="pull-right">
      <span data-spinner="model.state.accounts.loading" data-spinner-class="h3-spinner"></span>
    </span>
  </h3>
  <table class="table table-condensed" data-ng-show="!model.state.accounts.loading && model.accounts.length > 0">
    <thead>
      <tr>
        <th class="name">Account</th>
        <th class="money">Balance</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <!-- FIXME: use ng-repeat-start/ng-repeat-end on tr once using AngularJS 1.2 -->
    <tbody data-ng-repeat="account in model.accounts | orderBy:'label'" class="account" style="border: none">
      <tr>
        <!-- Label -->
        <td class="name">
          <a href="{{account.id}}">{{account.label}}</a>
          <span data-ng-show="account.sysStatus != 'active'" class="disabled">(Disabled)</span>
          <span data-ng-show="identity.preferences.source == account.id"
            data-tooltip-title="This is the default account."
            data-placement="bottom" data-trigger="hover"><i class="icon icon-star"></i></span>
          <span data-ng-show="(account.creditLimit && util.parseFloat(account.creditLimit) != 0) && (!account.backupSource || !account.backupSource.length)"
            data-tooltip-title="This account has no associated payment methods. Please edit the account information."
            data-placement="bottom" data-trigger="hover"><i class="icon icon-warning-sign"></i></span>
          <span data-ng-show="account.showExpirationWarning"
            data-tooltip-title="This account uses a payment method that will expire soon."
            data-placement="bottom" data-trigger="hover"><i class="icon icon-warning-sign"></i></span>
          <span data-ng-show="account.showExpired"
            data-tooltip-title="This account uses an expired payment method."
            data-placement="bottom" data-trigger="hover"><i class="icon icon-warning-sign"></i></span>
        </td>
        <!-- Balance -->
        <td class="money">
          <div data-account-balance-summary="account" data-expand="model.expandAccountBalance[account.id]"></div>
        </td>
        <!-- Action -->
        <td class="action">
          <div class="btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li data-ng-show="model.identity.preferences.source != account.id">
                <a data-ng-click="model.setDefaultAccount(account)">
                  <i class="icon-star"></i> Set as Default
                </a>
              </li>
              <li>
                <a data-ng-click="model.modals.account=account; model.modals.showDeposit=true">
                  <i class="icon-plus"></i> Deposit
                </a>
              </li>
              <li>
                <a data-ng-click="model.modals.account=account; model.modals.showWithdraw=true">
                  <i class="icon-minus"></i> Withdraw
                </a>
              </li>
              <li>
                <a data-ng-click="model.modals.account=account; model.modals.showEditAccount=true">
                  <i class="icon-pencil"></i> Edit
                </a>
              </li>
              <li data-ng-show="model.identity.sysUnbackedCreditEmailAvailable && (!account.creditLimit || account.creditLimit == 0)">
                <a data-ng-click="model.modals.account=account; model.modals.showAddCreditLine=true">
                  <i class="icon-credit-card"></i> Open Credit Line
                </a>
              </li>
              <li>
                <a data-ng-click="model.modals.account=account; model.modals.showRedeemPromoCode=true">
                  <i class="icon-money"></i> Redeem Promo Code
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="border: none; padding-top: 0; padding-bottom: {{model.expandAccountBalance[account.id] && '4px' || '0'}}">
          <div data-account-balance-details="account" data-expand="model.expandAccountBalance[account.id]"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div data-ng-show="!model.state.accounts.loading && model.accounts.length == 0">
    <p class="center">You have no accounts for this identity.</p>
  </div>
  <div data-deposit-modal="model.modals.showDeposit"
    data-account="model.modals.account" data-instant="false"></div>
  <div data-withdraw-modal="model.modals.showWithdraw"
    data-account="model.modals.account"></div>
  <div data-edit-account-modal="model.modals.showEditAccount"
    data-account="model.modals.account"></div>
  <div data-add-account-modal="model.modals.showAddAccount"></div>
  <div data-add-credit-line-modal="model.modals.showAddCreditLine"
    data-account="model.modals.account"></div>
  <div data-redeem-promo-code-modal="model.modals.showRedeemPromoCode"
    data-account="model.modals.account"></div>
</div>
