<form class="well form-horizontal">
  <fieldset>
    <br-input br-model="model.account.label"
      br-options="{icon: 'fa-tag', name: 'label', label: 'Name'}">
      Enter a name for your financial account, for instance 'primary' or 'secondary'.
      <span ng-hide="model.editing">The name you choose will become part of your account URL:</span>
    </br-input>
    <div class="form-group" ng-hide="model.editing">
      <div class="col-sm-offset-3 col-sm-8">
        <p><small><span ng-show="model.identity.id">{{model.identity.id}}</span><span
          ng-hide="model.identity.id">{{model.baseUrl}}/i/</span><span
          ng-hide="model.identity.id"
          class="br-slug">{{model.identity.sysSlug || 'IDENTITY-NAME'}}</span>/accounts/</small><input
          type="text" maxlength="32"
          br-property-path="sysSlug" class="br-slug" name="slug"
          placeholder="ACCOUNT-NAME"
          br-slug-in="model.account.label" ng-model="model.account.sysSlug" /></p>
        <div br-duplicate-checker="model.account.sysSlug"
          br-duplicate-checker-type="financial-account"
          br-duplicate-checker-owner="{{model.identity.id || (model.baseUrl+'/i/'+model.identity.slug)}}"
          br-duplicate-checker-available="This account name is available!"
          br-duplicate-checker-invalid="Account name is invalid."
          br-duplicate-checker-taken="Account name has already been taken."
          br-duplicate-checker-checking="Checking Availability..."
          br-duplicate-checker-result="model.accountSlugAvailable">
        </div>
      </div>
    </div>

    <br-select br-model="model.accountVisibility"
      br-items="[{id: 'hidden', display: 'Hidden'}, {id: 'public', display: 'Public'}]"
      br-display-item="item.display"
      br-options="{icon: 'fa-eye', name: 'visibility', label: 'Visibility', key: 'id'}">
      Choose if the account is public or private.
    </br-select>

    <br-select ng-hide="model.editing" br-model="model.account.currency"
      br-items="[{id: 'USD', display: 'US Dollars $'}]" br-display-item="item.display"
      br-options="{icon: 'fa-money', name: 'currency', label: 'Currency', key: 'id'}">
      Choose the currency for the account. This can not be changed after an account is created.
    </br-select>

    <br-input ng-hide="!model.editing" br-model="model.account.creditLimit"
      br-options="{icon: 'fa-money', name: 'creditLimit', label: 'Credit Limit', disabled: true}">
      Choose a credit limit for this account. Other factors may reduce your maximum available credit.
    </br-input>

    <div ng-hide="!model.editing" class="form-group">
      <label class="control-label col-md-5" for="backups">
        External Payment Method
        <a br-help-toggle="model.help.backupSource">
          <i class="fa fa-question-circle"></i>
        </a>
      </label>
      <label class="radio-inline">
        <input type="radio" name="enable-backup-source"
          ng-value="true" ng-model="model.backupSourceEnabled" />
        Enable
      </label>
      <label class="radio-inline">
        <input type="radio" name="enable-backup-source"
          ng-value="false" ng-model="model.backupSourceEnabled" />
        Disable
      </label>
      <div class="row">
        <div ng-show="model.help.backupSource.show" style="margin-top: 10px"
          class="col-md-offset-1 col-md-10">
          <p class="help-block br-fadein br-fadeout">
            An external payment method is used to automatically pay back used
            credit on its due date and to provide funds if an instant transfer
            is required to complete a purchase.
          </p>
        </div>
      </div>
      <div style="margin-top: 10px"></div>
      <div ng-show="model.backupSourceEnabled">
        <div ng-show="model.backupSourceEnabled" ps-payment-token-selector ps-selected="model.backupSource"
          ps-instant="true"></div>
        <!--
        <div ps-payment-token-list ps-instant="true" ps-id-list="model.account.backupSource"></div>
        <p ng-show="model.help.backups.show"
          class="help-block col-sm-offset-3 col-sm-8 br-fadein br-fadeout">
          Choose the payment methods that are used to fund this account.
        </p>
        -->
        <br-input ng-hide="!model.editing" br-model="model.account.sysMinInstantTransfer"
          br-options="{
            icon: 'fa-money', name: 'sysMinInstantTransfer',
            label: 'Instant Transfer Threshold',
            columns: {
              label: 'col-md-5',
              input: 'col-md-offset-5 col-md-6',
              help: 'col-md-offset-1 col-md-10'
            }
          }">
          Please enter the minimum purchase amount required in order to trigger
          an automatic instant transfer if your account is lacking sufficient
          funds. If a purchase is for less than this amount, an instant
          transfer will require your authorization. This setting can help
          you manage instant transfer fees.
          <br/><br/>
          You must enter a valid monetary amount like 1 or 5.00.
        </br-input>
      </div>
      <div ng-hide="model.backupSourceEnabled || model.creditDisabled || model.fullyBackedCredit"
        class="alert alert-warning" style="margin-bottom: 0">
        <strong>Warning:</strong>
        Use of your credit line and instant transfer will be disabled until a payment method is enabled.
      </div>
      <div ng-hide="!model.editing" class="form-group">
        <label class="control-label col-md-5" for="sysAllowInstantTransfer">
          Instant Transfer
          <a br-help-toggle="model.help.sysAllowInstantTransfer">
            <i class="fa fa-question-circle"></i>
          </a>
        </label>
        <label class="radio-inline">
          <input type="radio" name="enable-instant-transfer"
            ng-value="true" ng-model="model.account.sysAllowInstantTransfer" />
          Enable
        </label>
        <label class="radio-inline">
          <input type="radio" name="enable-instant-transfer"
            ng-value="false" ng-model="model.account.sysAllowInstantTransfer" />
          Disable
        </label>
        <div class="row">
          <div ng-show="model.help.sysAllowInstantTransfer.show"
            style="margin-top: 10px" class="col-md-offset-1 col-md-10">
            <p class="help-block br-fadein br-fadeout">
              Enabling instant transfer will cause purchases that exceed your
              credit limit to be performed using the payment method of your
              choice. Extra fees will be applied per purchase.
            </p>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
