<div class="ng-cloak">

  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb" ng-show="app.services.identity.state.loading">
        <li>&nbsp;</li>
      </ol>
      <ol class="breadcrumb" ng-show="!app.services.identity.state.loading">
        <li><a ng-href="{{app.services.identity.identity.id}}/dashboard">Dashboard</a></li>
        <li class="active">Accounts</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">Accounts</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div data-accounts></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div data-transactions data-recent="true" data-controls="true" data-details="true"></div>
    </div>
  </div>
</div>
