<div class="section section-accounts">
  <br-headline br-title="Accounts" br-loading="model.state.accounts.loading">
    <ul class="stackable-menu dropdown-menu">
      <li>
        <a class="stackable-cancel" ng-click="model.modals.showAddAccount=true"><i class="fa fa-plus"></i> Add Account</a>
      </li>
    </ul>
  </br-headline>
  <table class="table table-condensed" ng-show="!model.state.accounts.loading && model.accounts.length > 0">
    <thead>
      <tr>
        <th class="name">Account</th>
        <th class="money">Balance</th>
        <th class="br-action">Action</th>
      </tr>
    </thead>
    <!-- FIXME: use ng-repeat-start/ng-repeat-end on tr once using AngularJS 1.2 -->
    <tbody ng-repeat="account in model.accounts | orderBy:'label'" style="border: none">
      <tr>
        <!-- Label -->
        <td class="name">
          <a href="{{account.id}}">{{account.label}}</a>
          <span ng-show="account.sysStatus != 'active'" class="disabled">(Disabled)</span>
          <span ng-show="model.identity.preferences.source == account.id">
            <i class="icon fa fa-star"
              br-tooltip="This is the default account."
              br-options="{placement: 'bottom', trigger: 'hover'}"></i>
          </span>
          <span ng-show="(account.creditLimit && util.parseFloat(account.creditLimit) != 0) && (!account.backupSource || !account.backupSource.length)">
            <i class="icon fa fa-exclamation-triangle"
              br-tooltip="This account has no associated payment methods. Please edit the account information."
              br-options="{placement: 'bottom', trigger: 'hover'}"></i>
          </span>
          <span ng-show="account.showExpirationWarning">
            <i class="icon fa fa-exclamation-triangle"
              br-tooltip="This account uses a payment method that will expire soon."
              br-options="{placement: 'bottom', trigger: 'hover'}"></i>
          </span>
          <span ng-show="account.showExpired">
            <i class="icon fa fa-exclamation-triangle"
              br-tooltip="This account uses an expired payment method."
              br-options="{placement: 'bottom', trigger: 'hover'}"></i>
          </span>
        </td>
        <!-- Balance -->
        <td class="money">
          <div ps-account-balance-summary="account" ps-expand="model.expandAccountBalance[account.id]"></div>
        </td>
        <!-- Action -->
        <td class="br-action">
          <br-action-menu>
            <ul class="dropdown-menu stackable-menu">
              <li ng-show="model.identity.preferences.source != account.id">
                <a class="stackable-cancel" ng-click="model.setDefaultAccount(account)">
                  <i class="fa fa-star"></i> Set as Default
                </a>
              </li>
              <li ng-class="{disabled: !account.sysAllowStoredValue && account.balance[0] != '-'}">
                <a class="stackable-cancel" ng-show="!account.sysAllowStoredValue && account.balance[0] != '-'" href="#">
                  <i class="fa fa-plus"></i> Deposit
                </a>
                <a class="stackable-cancel" ng-hide="!account.sysAllowStoredValue && account.balance[0] != '-'" ng-click="model.modals.account=account; model.modals.showDeposit=true">
                  <i class="fa fa-plus"></i> Deposit
                </a>
              </li>
              <li ng-class="{disabled: account.balance == 0}">
                <a class="stackable-cancel" ng-show="account.balance == 0" href="#">
                  <i class="fa fa-minus"></i> Withdraw
                </a>
                <a class="stackable-cancel" ng-hide="account.balance == 0" ng-click="model.modals.account=account; model.modals.showWithdraw=true">
                  <i class="fa fa-minus"></i> Withdraw
                </a>
              </li>
              <li>
                <a class="stackable-cancel" ng-click="model.modals.account=account; model.modals.showEditAccount=true">
                  <i class="fa fa-pencil"></i> Edit
                </a>
              </li>
              <li ng-show="model.identity.sysUnbackedCreditEmailAvailable && (!account.creditLimit || account.creditLimit == 0)">
                <a class="stackable-cancel" ng-click="model.modals.account=account; model.modals.showAddCreditLine=true">
                  <i class="fa fa-credit-card"></i> Open Credit Line
                </a>
              </li>
              <li>
                <a class="stackable-cancel" ng-click="model.modals.account=account; model.modals.showRedeemPromoCode=true">
                  <i class="fa fa-money"></i> Redeem Promo Code
                </a>
              </li>
            </ul>
          </br-action-menu>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="border: none; padding-top: 0; padding-bottom: {{model.expandAccountBalance[account.id] && '4px' || '0'}}">
          <div ps-account-balance-details="account" ps-expand="model.expandAccountBalance[account.id]"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="!model.state.accounts.loading && model.accounts.length == 0">
    <p class="text-center">You have no accounts for this identity.</p>
  </div>
  <div br-lazy-compile="ps-accounts-view-deposit-modal"
    br-compile-trigger="model.modals.showDeposit">
    <stackable-modal stackable="model.modals.showDeposit">
      <div ps-deposit-modal ps-account="model.modals.account" ps-instant="false"></div>
    </stackable-modal>
  </div>
  <div br-lazy-compile="ps-accounts-view-withdraw-modal"
    br-compile-trigger="model.modals.showWithdraw">
    <stackable-modal stackable="model.modals.showWithdraw">
      <div ps-withdraw-modal ps-account="model.modals.account"></div>
    </stackable-modal>
  </div>
  <div br-lazy-compile="ps-accounts-view-edit-account-modal"
    br-compile-trigger="model.modals.showEditAccount">
    <stackable-modal stackable="model.modals.showEditAccount">
      <div ps-edit-account-modal ps-account="model.modals.account"></div>
    </stackable-modal>
  </div>
  <div br-lazy-compile="ps-accounts-view-add-account-modal"
    br-compile-trigger="model.modals.showAddAccount">
    <stackable-modal stackable="model.modals.showAddAccount">
      <div ps-add-account-modal></div>
    </stackable-modal>
  </div>
  <div br-lazy-compile="ps-accounts-view-add-credit-line-modal"
    br-compile-trigger="model.modals.showAddCreditLine">
    <stackable-modal stackable="model.modals.showAddCreditLine">
      <div ps-add-credit-line-modal ps-account="model.modals.account"></div>
    </stackable-modal>
  </div>
  <div br-lazy-compile="ps-accounts-view-redeem-promo-code-modal"
    br-compile-trigger="model.modals.showRedeemPromoCode">
    <stackable-modal stackable="model.modals.showRedeemPromoCode">
      <div ps-redeem-promo-code-modal ps-account="model.modals.account"></div>
    </stackable-modal>
  </div>
</div>
