<div class="container ng-cloak">

  <div class="row">
    <div class="span12">
      <ul class="breadcrumb" data-ng-show="app.services.identity.state.loading">
        <li>&nbsp;</li>
      </ul>
      <ul class="breadcrumb" data-ng-show="!app.services.identity.state.loading">
        <li><a data-ng-href="{{app.services.identity.identity.id}}/dashboard">Dashboard</a> <span class="divider">/</span></li>
        <li class="active">Accounts</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="title-section span12">
      <h1 class="headline">Accounts</h1>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div data-accounts></div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div data-transactions data-recent="true" data-controls="true" data-details="true"></div>
    </div>
  </div>
</div>
