<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-switch="model.state">
        <a class="close stackable-cancel">&times;<span class="sr-only">Close</span></a>
        <h3 class="modal-title" ng-switch-when="reviewing">Open a Credit Line</h3>
        <h3 class="modal-title" ng-switch-when="complete">Credit Line Opened</h3>
      </div>
      <div class="modal-body" ng-switch="model.state">
        <div ng-include="'/app/components/util/demo-warning.html'"></div>
        <div ng-switch-when="reviewing">
          <div ng-include="'/app/components/account/add-credit-line-review.html'"></div>
        </div>
        <div ng-switch-when="complete">
          <div ng-include="'/app/components/account/add-credit-line-complete.html'"></div>
        </div>
      </div>
      <div class="modal-footer">
        <span ng-show="model.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <span ng-show="model.state == 'reviewing'">
          <button type="button" class="btn btn-primary"
            ng-disabled="model.loading || !model.backupSource"
            ng-click="confirm()"><i class="fa fa-check"></i> Confirm</button>
          <button type="button" ng-disabled="model.loading"
            class="btn btn-default stackable-cancel">Cancel</button>
        </span>
        <span ng-show="model.state == 'complete'">
          <button type="button" class="btn btn-primary stackable-cancel">Done</button>
        </span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
