<div class="modal">
  <div class="modal-header" ng-switch="model.state">
    <a class="close stackable-close">&times;</a>
    <h3 ng-switch-when="reviewing">Open a Credit Line</h3>
    <h3 ng-switch-when="complete">Credit Line Opened</h3>
  </div>
  <div class="modal-body" ng-switch="model.state">
    <div ng-include="'/app/components/util/demo-warning.html'"></div>
    <div ng-switch-when="reviewing">
      <div ng-include="'/app/components/account/add-credit-line-review.html'"></div>
    </div>
    <div ng-switch-when="complete">
      <div ng-include="'/app/components/account/add-credit-line-complete.html'"></div>
    </div>
  </div>
  <div class="modal-footer">
    <span data-spinner="model.loading"
      data-spinner-class="prepend-btn-spinner"></span>
    <span ng-show="model.state == 'reviewing'">
      <button class="btn btn-primary"
        ng-disabled="model.loading || !model.backupSource"
        ng-click="confirm()"><i class="icon-ok"></i> Confirm</button>
      <button ng-disabled="model.loading" class="btn stackable-cancel">Cancel</button>
    </span>
    <span ng-show="model.state == 'complete'">
      <button class="btn stackable-cancel">Done</button>
    </span>
  </div>
</div>
