<div class="modal">
  <div class="modal-header">
    <a class="close stackable-cancel">&times;</a>
    <h3>New Account</h3>
  </div>
  <div class="modal-body">
    <div data-ng-include="'/app/components/util/demo-warning.html'"></div>

    <p data-ng-show="showAlert" class="alert alert-info">
      <strong>Note:</strong>
      Before you make your {{showAlert}}, please create a financial account.
    </p>

    <div data-ng-include="'/app/components/account/account-form.html'"></div>
  </div>
  <div class="modal-footer">
    <span data-spinner="model.state.loading"
      data-spinner-class="prepend-btn-spinner"></span>
    <button class="btn btn-primary"
      data-ng-disabled="model.state.loading || !model.accountSlugAvailable"
      data-ng-click="model.addAccount()"><i class="icon-ok"></i> Add</button>
    <button class="btn stackable-cancel" data-ng-disabled="model.state.loading">Cancel</button>
  </div>
</div>
