<p>Fill out the form below to deposit money into your financial account.
You can deposit using a credit card or verified bank account. Once you have
deposited funds into your account, you can use them to pay for content on any
PaySwarm-enabled website that you visit. Deposits are subject to our
<a target="_blank" href="/help/pricing">pricing policy and rates</a>.</p>

<p>Please select a payment method below and the amount that you would
like to deposit.</p>

<div class="section">
  <h4 class="headline">Payment Method</h4>
  <div class="alert alert-info"
    ng-show="input.source && input.source.paymentMethod == 'BankAccount'">
    <strong>Note:</strong> Deposits made with a bank account will take
    3-7 business days to be processed before the money appears in your account.
  </div>
  <div data-payment-token-selector data-selected="input.source"
    data-invalid="selection.invalidSource" data-instant="instant || !account.sysAllowStoredValue"></div>
</div>

<div class="section">
  <h4 class="headline">Deposit Details</h4>
  <form class="well form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="control-label col-sm-3" for="account">Account</label>
        <div class="col-sm-12">
          Money will be deposited into your "<strong>{{account.label}}</strong>" account.
        </div>
      </div>
      <div class="form-group" data-binding="payee[0].payeeRate">
        <label class="control-label col-sm-3" for="amount">Amount</label>
        <div class="col-sm-8">
          <div class="radio" ng-hide="account.sysAllowStoredValue">
            <label>
              <input
                type="radio" name="amount"
                ng-model="input.mode"
                value="all"
                ng-change="input.amount = input.max.amount" />
              Maximum deposit: <span data-money="input.max" data-important="true" data-exact="true"></span>
              <br/>
              <span class="muted">The maxiumum deposit will fully pay back your used credit.</span>
            </label>
          </div>
          <div class="radio">
            <input
              type="radio" name="amount"
              ng-model="input.mode"
              value="custom"
              ng-hide="account.sysAllowStoredValue" />
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-money"></i></span>
            <input class="form-control" type="text" name="amount"
              placeholder="Enter deposit amount..."
              ng-model="input.amount"
              data-track-state="model.help.amount" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                data-help-toggle="model.help.amount">
                <i class="icon-question-sign"></i>
              </button>
            </span>
          </div>
        </div>
        <br/>
        <p ng-show="model.help.amount.show"
          class="help-block col-sm-offset-3 col-sm-8 br-fadein br-fadeout">
          Please enter an amount to deposit into your
          "<strong>{{account.label}}</strong>" account. You must enter a
          valid monetary amount, like 25 or 25.82.
        </p>
      </div>
    </fieldset>
  </form>
</div>
