<p>
  You have deposited
  <span ps-money="deposit.transfer[0]" ps-important="true"></span>
  into your
  "<strong>{{accounts[account.id].label}}</strong>"
  account.
</p>

<div class="section">
  <h4 class="headline">Deposit Details</h4>
  <div ps-transaction-details="deposit"
    ps-source="input.source"
    ps-complete="true"></div>
</div>

<div class="section">
  <h4 class="headline">Summary</h4>
  <p>
    Including fees, your
    <span ng-switch="input.source.paymentMethod">
      <span ng-switch-when="CreditCard">credit card</span>
      <span ng-switch-when="BankAccount">bank account</span>
      <span ng-switch-default>external account</span>
    </span>
    "<strong>{{input.source.label}}</strong>"
    was charged
    <span ps-money="deposit" ps-important="true"></span>
    on
    <span class="date">{{deposit.created | date:'medium'}}</span>.
    "Digital Bazaar" will appear on your billing statement.
  </p>

  <p>A copy of this receipt has been sent to your email address.</p>
</div>
