<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-switch="state">
        <a class="close stackable-cancel">&times;<span class="sr-only">Close</span></a>
        <h3 class="modal-title" ng-switch-when="preparing">
          <span ng-show="!account.sysAllowStoredValue && account.balance[0] != '-'">
            Credit Fully Paid Off
          </span>
          <span ng-hide="!account.sysAllowStoredValue && account.balance[0] != '-'">
            Prepare Deposit
          </span>
        </h3>
        <h3 class="modal-title" ng-switch-when="reviewing">Review Deposit</h3>
        <h3 class="modal-title" ng-switch-when="complete">Deposit Complete</h3>
      </div>
      <div class="modal-body" ng-switch="state">
        <br-demo-warning></br-demo-warning>
        <div ng-switch-when="preparing">
          <div ng-show="!account.sysAllowStoredValue && account.balance[0] != '-'">
            <p>
              You can't deposit any funds into your account because you haven't used
              any credit yet. A deposit can only be made to this account to pay
              back used credit.
            </p>
          </div>
          <div ng-hide="!account.sysAllowStoredValue && account.balance[0] != '-'">
            <div ng-include="'/app/components/account/deposit-prepare.html'"></div>
          </div>
        </div>
        <div ng-switch-when="reviewing">
          <div ng-include="'/app/components/account/deposit-review.html'"></div>
        </div>
        <div ng-switch-when="complete">
          <div ng-include="'/app/components/account/deposit-complete.html'"></div>
        </div>
      </div>
      <div class="modal-footer">
        <span ng-show="loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <span ng-show="state == 'preparing'">
          <div ng-show="!account.sysAllowStoredValue && account.balance[0] != '-'">
            <button type="button" ng-disabled="loading"
              class="btn btn-primary stackable-cancel">Ok</button>
          </div>
          <div ng-hide="!account.sysAllowStoredValue && account.balance[0] != '-'">
            <button type="button" class="btn btn-primary btn-review"
              ng-disabled="loading || !input.source"
              ng-click="review()">Review</button>
            <button type="button" ng-disabled="loading"
              class="btn btn-default stackable-cancel">Cancel</button>
          </div>
        </span>
        <span ng-show="state == 'reviewing'">
          <button type="button" class="btn btn-primary btn-deposit"
            ng-disabled="loading || !enableConfirm"
            ng-click="confirm()"><i class="fa fa-check"></i> Deposit</button>
          <button type="button" class="btn btn-default"
            ng-disabled="loading"
            ng-click="prepare()">Back</button>
        </span>
        <span ng-show="state == 'complete'">
          <button type="button" class="btn btn-primary stackable-cancel">Done</button>
        </span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
