<div>
  <div data-selector data-item-type="Account"
    data-items="accounts" data-selected="selected"
    data-invalid="invalid"
    data-add-item="showAddAccountModal=true"
    data-fixed="{{fixed}}">
    <div data-spinner="services.account.loading"
      data-spinner-class="selector-spinner"></div>
    <div data-ng-hide="services.account.loading" class="account">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th colspan="2">
              <span title="{{selected.id}}">{{selected.label}}</span>
              <a data-ng-show="selecting" data-ng-click="model.showEditAccount=true"
                data-tooltip-title="Edit"
                data-placement="bottom" data-trigger="hover">
                <i class="icon-pencil"></i>
              </a>
            </th>
            <th>
              <span></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="compact">Balance</td>
            <td>
              <div data-account-balance-summary="selected" data-expand="model.expandAccountBalance"></div>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="border: none; padding-top: 0; padding-bottom: 5px">
              <div data-account-balance-details="selected" data-expand="model.expandAccountBalance"></div>
            </td>
          </tr>
        </tbody>
      </table>
      <div data-ng-show="showDepositButton">
        <button class="btn btn-success"
          data-ng-click="showDepositModal=true"><i class="icon-plus icon-white"></i> Deposit</button><br/>
        <div data-modal-deposit="showDepositModal"
          data-account="selected" data-instant="instant"></div>
      </div>
      <div data-ng-show="balanceTooLow">
        <hr />
        <div class="alert alert-error">You must select an account with a balance or remaining credit of at least <span
        class="currency">{{selected.currency}}</span> {{minBalance | ceil | currency:'$'}}.</div>
      </div>
      <div data-ng-show="allowInstantTransfer && instantTransferRequired">
        <hr />
        <div class="alert alert-warning">
          The selected account does not have sufficient funds. An instant transfer of <span data-money="instantTransferDeposit" data-important="true"></span> from your "<strong>{{model.backupSource.label}}</strong>" payment method will be performed to complete this purchase.
          <span data-ng-show="model.backupSource">
            Details of this instant transfer are available for review: <a data-ng-click="model.paymentMethodIsCollapsed=!model.paymentMethodIsCollapsed">
              <i class="icon-list-alt"></i>
            </a>.
          </span>
        </div>
        <div data-collapse="model.paymentMethodIsCollapsed">
          <h5 class="headline">Instant Transfer Payment Method</h5>
          <div data-payment-token-selector
            data-selected="model.backupSource"
            data-instant="true" data-fixed="true"></div>
        <div>
        <div data-collapse="model.paymentMethodIsCollapsed">
          <h5 class="headline">Instant Transfer Deposit Details</h5>
            <div data-transaction-details="instantTransferDeposit"
              data-source="model.backupSource"
              data-complete="false"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-modal-add-account="showAddAccountModal"
    data-identity-id="{{identityId}}"
    data-modal-on-close="!err && (selected=result)"></div>
  <div data-modal-edit-account="model.showEditAccount" data-account="selected"></div>
</div>
