<p>Fill out the form below to withdraw money from your financial account into
a verified bank account. It will take 3-7 business days for the money to appear
in your bank account. Withdrawals are subject to our
<a target="_blank" href="/help/pricing">pricing policy and rates</a>.</p>

<p>Please select a withdrawal method below and the amount that you would
like to withdraw.</p>

<div class="section">
  <h4 class="headline">Withdrawal Destination</h4>
  <div class="alert alert-info">
    <strong>Note:</strong> Withdrawals take 3-7 business days to be processed
    before the money appears in your bank account.
  </div>
  <div data-payment-token-selector data-selected="input.destination"
    data-invalid="selection.invalidDestination" data-instant="'non'"></div>
</div>

<div class="section">
  <h4 class="headline">Withdrawal Details</h4>
  <form class="well form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="control-label col-sm-3" for="account">Account</label>
        <div class="col-sm-8">
          Money will be withdrawn from your "<strong>{{account.label}}</strong>" account.
        </div>
      </div>
      <div class="form-group" data-binding="payee[0].payeeRate">
        <label class="control-label col-sm-3" for="amount">Amount</label>
        <div class="col-sm-8">
          <div class="radio">
            <label>
              <input
                type="radio" name="amount"
                ng-model="input.mode"
                value="all"
                ng-change="setAmount(account.balance)" />
              Maximum withdrawal: <span data-money="account" data-important="true" data-value-field="balance" data-round-mode="down"></span>
            </label>
          </div>
          <div class="radio">
            <input
              type="radio" name="amount"
              ng-model="input.mode"
              value="custom" />
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-money"></i></span>
            <input class="form-control"
              type="text" name="amount" placeholder="Enter withdrawal amount..."
              ng-model="input.amount"
              data-track-state="model.help.amount" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                data-help-toggle="model.help.amount">
                <i class="icon-question-sign"></i>
              </button>
            </span>
          </div>
        </div>
        <br/>
        <p ng-show="model.help.amount.show"
          class="help-block col-sm-offset-3 col-sm-8 br-fadein br-fadeout">
          Please enter an amount to withdraw from your
          "<strong>{{account.label}}</strong>" account. You must enter
          a valid monetary amount, like 25 or 25.82.
        </p>
      </div>
    </fieldset>
  </form>
</div>
