<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-switch="state">
        <a class="close stackable-cancel">&times;<span class="sr-only">Close</span></a>
        <h3 class="modal-title" ng-switch-when="preparing">Prepare Withdrawal</h3>
        <h3 class="modal-title" ng-switch-when="reviewing">Review Withdrawal</h3>
        <h3 class="modal-title" ng-switch-when="complete">Withdrawal Complete</h3>
      </div>
      <div class="modal-body" ng-switch="state">
        <div ng-include="'/app/components/util/demo-warning.html'"></div>
        <div ng-switch-when="preparing">
          <div ng-include="'/app/components/account/withdraw-prepare.html'"></div>
        </div>
        <div ng-switch-when="reviewing">
          <div ng-include="'/app/components/account/withdraw-review.html'"></div>
        </div>
        <div ng-switch-when="complete">
          <div ng-include="'/app/components/account/withdraw-complete.html'"></div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger" ng-show="state == 'preparing' && !checkAmount()">Withdrawal amount must be greater than zero and less than or equal to the account balance.</div>

        <span ng-show="loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <span ng-show="state == 'preparing'">
          <button type="button" class="btn btn-primary"
            ng-disabled="loading || !checkAmount() || !input.destination"
            ng-click="review()">Review</button>
          <button type="button" ng-disabled="loading"
            class="btn btn-default stackable-cancel">Cancel</button>
        </span>
        <span ng-show="state == 'reviewing'">
          <button type="button" class="btn btn-primary"
            ng-disabled="loading || !enableConfirm"
            ng-click="confirm()"><i class="fa fa-check"></i> Withdraw</button>
          <button type="button" class="btn btn-default"
            ng-disabled="loading"
            ng-click="prepare()">Back</button>
        </span>
        <span ng-show="state == 'complete'">
          <button class="button" class="btn btn-primary stackable-cancel">Done</button>
        </span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
