<p>
  You have withdrawn
  <span ps-money="withdrawal" ps-important="true"></span>
  from your
  "<strong>{{account.label}}</strong>"
  account.
</p>

<div class="section">
  <h4 class="headline">Withdrawal Details</h4>
  <div ps-transaction-details="withdrawal"
    ps-destination="input.destination"
    ps-complete="true"></div>
</div>

<div class="section">
  <h4 class="headline">Summary</h4>
  <p>
    Your
    <span ng-switch="input.destination.paymentMethod">
      <span ng-switch-when="BankAccount">bank account</span>
      <span ng-switch-default>external account</span>
    </span>
    "<strong>{{input.destination.label}}</strong>"
    was credited
    <span ps-money="withdrawal.transfer[0]" ps-important="true"></span>
    on
    <span class="date">{{withdrawal.created | date:'medium'}}</span>.
    "Digital Bazaar" will appear on your bank statement.
  </p>

  <p>A copy of this receipt has been sent to your email address.</p>
</div>
