<p>Fill out the form below to withdraw money from your financial account into
a verified bank account. It will take 3-7 business days for the money to appear
in your bank account. Withdrawals are subject to our
<a target="_blank" href="/help/pricing">pricing policy and rates</a>.</p>

<p>Please select a withdrawal method below and the amount that you would
like to withdraw.</p>

<div class="section">
  <h4 class="headline">Withdrawal Destination</h4>
  <div class="alert alert-info">
    <strong>Note:</strong> Withdrawals take 3-7 business days to be processed
    before the money appears in your bank account.
  </div>
  <div data-payment-token-selector data-selected="input.destination"
    data-invalid="selection.invalidDestination" data-instant="'non'"></div>
</div>

<div class="section">
  <h4 class="headline">Withdrawal Details</h4>
  <form class="well form-horizontal" action="">
    <fieldset>
      <label class="control-label" for="account">Account</label>
      <div class="control-group">
        <div class="controls">
          Money will be withdrawn from your "<strong>{{account.label}}</strong>" account.
        </div>
      </div>
      <label class="control-label" for="amount">Amount</label>
      <div class="control-group" data-binding="payee[0].payeeRate">
        <div class="controls">
          <label class="radio">
            <input
              type="radio" name="amount"
              data-ng-model="input.mode"
              value="all"
              data-ng-change="setAmount(account.balance)" />
            Maximum withdrawal: <span data-money="account" data-important="true" data-value-field="balance" data-round-mode="down"></span>
          </label>
          <div>
            <input
              type="radio" name="amount"
              data-ng-model="input.mode"
              value="custom" />
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-money"></i></span><input
                type="text" name="amount" placeholder="Enter withdrawal amount..."
                data-ng-model="input.amount"
                data-track-state="model.help.amount" />
              <button class="btn" data-help-toggle="model.help.amount">
                <i class="icon-question-sign"></i>
              </button>
            </div>
            <br/>
            <p data-fade-toggle="model.help.amount.show" class="help-block">
              Please enter an amount to withdraw from your
              "<strong>{{account.label}}</strong>" account. You must enter
              a valid monetary amount, like 25 or 25.82.
            </p>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
