<div class="modal hide" id="modals-add-identity">
  <div class="modal-header">
    <a class="close btn-close">&times;</a>
    <h3>New Identity</h3>
  </div>
  <div class="modal-body">
    {{tmpl "demo-warning-tmpl"}}

    <p>To add a new identity to your profile &quot;<strong>${profile["rdfs:label"]}</strong>&quot;,
    please fill out the form below.</p>
    <form id="add-identity-form" class="well form-vertical" action="">
      <fieldset>
        <div class="control-group" data-binding="rdfs:label">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" name="label"
              class="tx" data-tx="identity"
              rel="tooltip" data-original-title="Enter your online handle, for example, some form of your full name like 'janedoe'. You can also customize your identity vanity address below."
              data-placement="right" data-trigger="focus" />
            <p class="help-block">The name you choose will become part of your identity url.</p>
            <p><small>${baseUrl}/i/</small><input data-tx-from="identity" data-binding="psa:slug" class="slug" name="slug" placeholder="IDENTITY-NAME" /></p>
            <div id="identity-duplicate">
              <div name="available" class="alert alert-success hide">This identity name is available!</div>
              <div name="invalid" class="alert alert-error hide">Identity name is invalid.</div>
              <div name="taken" class="alert alert-error hide">Identity name has already been taken.</div>
              <div name="checking" class="alert hide">Checking Availability...</div>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="type">Type</label>
          <div class="controls">
            <select name="type">
               {{if $.inArray('ps:PersonalIdentity', identityTypes)}}
               <option value="ps:PersonalIdentity"{{if selectedType == "ps:PersonalIdentity"}}selected="selected"{{/if}}>Personal</option>
               {{/if}}
               {{if $.inArray('ps:VendorIdentity', identityTypes)}}
               <option value="ps:VendorIdentity"{{if selectedType == "ps:VendorIdentity"}}selected="selected"{{/if}}>Vendor</option>
               {{/if}}
            </select>
            {{if $.inArray('ps:PersonalIdentity', identityTypes)}}
            <p id="help-personal-identity" class="help-block{{if selectedType != "ps:PersonalIdentity"}} hide{{/if}}">Choose this type if this identity is for a person.</p>
            {{/if}}
            {{if $.inArray('ps:VendorIdentity', identityTypes)}}
            <p id="help-vendor-identity" class="help-block{{if selectedType != "ps:VendorIdentity"}} hide{{/if}}">Choose this type if this identity is for a website or business.</p>
            {{/if}}
          </div>
        </div>
        <div id="identity-type-fields">
          {{if selectedType == "ps:VendorIdentity"}}
          {{tmpl "add-identity-vendor-tmpl"}}
          {{/if}}
        </div>
      </fieldset>
    </form>
    <h6>Identity Account</h6>
    <div id="add-account-form">
      {{tmpl "modals-add-account-form-tmpl"}}
    </div>
  </div>
  <div class="modal-footer">
    <span name="feedback"></span>
    <button class="btn btn-primary" name="button-add-identity">Add</button>
    <button class="btn btn-close">Cancel</button>
  </div>
</div>
