{% set pageTitle = "About" %}
{% include "head.html" %}

<h2>{{pageTitle}}</h2>

<p>PaySwarm enables people that create digital content such as blog posts,
music, film, episodic content, photos, virtual goods, and documents to
distribute their creations through their website and receive payment
directly from their fans and customers. It is an open, patent and royalty
free, universal payment standard for the Web. If you have a passion for
creating things on the Web, or would like to support people doing great things -
PaySwarm is for you. If you would like to learn more about PaySwarm, the
<a href="http://payswarm.com/">official community website</a> is a good
place to start.</p>

{% include "credits.html" %}

{% include "foot.html" %}
