{% extends 'layout.html' %}

{% set pageTitle = "Hosted Assets" %}

{% block content %}

{% raw %}
<div ng-controller="HostedAssetsController" class="ng-cloak">

<div ng-show="model.query.assetContent">

<h2 class="headline">Assets available for Purchase</h2>

<table class="table table-hover table-condensed"
  ng-show="model.loading || model.table.length > 0">
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="name">Title</th>
      <th class="name">Creator</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in model.table"
      ng-hide="row.hidden"
      ng-click="row.type == 'asset' && showListings(row)">
      <!-- Date -->
      <td ng-switch="row.type">
        <span ng-switch-when="asset" class="date">{{row.asset.created | date:'medium'}}</span>
        <span ng-switch-when="listing" class="date">{{row.listing.sysPublished | date:'medium'}}</span>
      </td>
      <!-- Title -->
      <td ng-switch="row.type">
        <span ng-switch-when="asset" class="name">{{row.asset.title}}</span>
        <span ng-switch-when="listing"><a href="{{row.purchaseUrl}}">Buy {{row.title}} for <span class="money"
          br-tooltip="Since we support micro-payments, we track transaction amounts very accurately. The exact amount of this transaction is USD {{row.amount}}."
          br-options="{placement: 'bottom', trigger: 'hover'}"><span class="currency">USD</span> {{row.amount | ceil | currency:'$'}}</span></a></span>
      </td>
      <td>
      </td>
      <!-- Creator -->
      <td>
        <span class="name">{{row.asset.creator.name}}</span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr ng-show="model.loading">
      <td colspan="3" class="text-center">
        <span ng-show="model.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
      </td>
    </tr>
  </tfoot>
</table>
<div ng-show="!model.loading && model.table.length == 0">
  <p class="center">No matches.</p>
</div>

</div>

<div ng-hide="model.query.assetContent">
FIXME: Not implemented
</div>

{% endraw %}

{% include "demo-warning.html" %}

{% endblock %}
