{% extends 'layout.html' %}

{% set pageTitle = "Identity" %}
{% set clientData.pageTitle = "Identity" %}

{% block content %}

<p>FIXME: need this to be included in the common bedrock template</p>

<dt>Financial Accounts</dt>
{% if accounts.length > 0 %}
<dd>
  <ul class="unstyled">
    {% for account in accounts %}
    <li>
      <a about="" rel="com:account" href="{{account.id}}">
        <span property="rdfs:label">{{account.label}}</span>
      </a>
      <span about="{{account.id}}" typeof="com:Account">
        <link rel="sec:owner" href="" />
      </span>
    </li>
    {% endfor %}
  </ul>
</dd>
{% else %}
<dd>
  <ul class="unstyled">
    <li>No publicly visible financial accounts.</li>
  </ul>
</dd>
{% endif %}

{% endblock %}
