{% extends 'layout.html' %}

{% set pageTitle = "Payment" %}
{% set pageLayout = "minimal" %}

{% block content %}

{% raw %}
<div class="ng-cloak" ng-controller="PurchaseController as model">

<div ng-show="model.alertType">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ng-show="model.alertType == 'purchased'" class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Congratulations!</h4>
        <br/>
        <p>Your purchase is complete.
        <span ng-show="model.budget">
        The purchase was made using your budget "<strong>{{model.budget.label}}</strong>",
        which has a remaining balance of <span class="money"
          br-tooltip="Since we support micro-payments, we track transaction amounts very accurately. The exact amount of this transaction is USD {{model.budget.balance}}."
          br-options="{placement: 'bottom', trigger: 'hover'}"><span
          class="currency">USD</span> {{model.budget.balance | floor | currency:'$'}}</span>.
        </span>
        </p>
      </div>
      <div ng-show="model.alertType == 'budgetExceeded'" class="alert alert-block alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>

        <h4>Budget Exceeded</h4>
        <p>Your purchase request exceeded the limitations of budget
        "<a href="{{model.selection.budget.id}}" target="_blank">{{model.selection.budget.label}}</a>"
        associated with this vendor. You may attempt the purchase again.</p>
        <ul>
          <li>Use a one-time payment from the budget's associated account if it has enough funds.</li>
          <li>Deposit enough funds for the purchase.</li>
          <li>Use another account with enough funds.</li>
          <li>Associate this this vendor with another budget or a new budget.</p>
        </ul>
      </div>
      <div ng-show="model.alertType == 'duplicatePurchase'" class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Duplicate Purchase</h4>
        <p>Our records indicate that you have already bought the item below.
        You have not been charged.</p>
      </div>
    </div>
  </div>
</div>

<div ng-hide="error">

  <div ng-show="model.loading || !model.ready" class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-info">
        <span>
          Loading purchase details...
          <i class="fa fa-refresh fa-spin text-muted pull-right alert-info"></i>
        </span>
      </div>
    </div>
  </div>

  <div ng-hide="model.loading || !model.ready || model.purchased">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Do you want to make this purchase?</h3>
      </div>
    </div>
  </div>

  <div ng-hide="model.loading || !model.ready">
    <div class="row">
      <div class="section col-md-6 col-md-offset-3">
        <h4 class="headline">Purchase Details</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th class="money">Price</th>
              <th class="action">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{{model.contract.asset.assetContent}}" target="_blank">{{model.contract.asset.title}}</a></td>
              <td class="money"><span class="money"
                br-tooltip="Since we support micro-payments, we track transaction amounts very accurately. The exact amount of this transaction is USD {{model.contract.amount}}."
                br-options="{placement: 'bottom', trigger: 'hover'}"><span
                class="currency">USD</span> {{model.contract.amount | ceil | currency:'$'}}</span></td>
              <td class="action"><button class="btn btn-default" ng-click="model.showDetails=!model.showDetails"><i class="fa fa-list-alt" title="Details"></i></button></td>
            </tr>
            <tr ng-show="model.showDetails">
              <th>Cost breakdown</th>
              <th></th>
              <th></th>
            </tr>
            <tr ng-show="model.showDetails" ng-repeat="transfer in model.contract.transfer">
              <td>{{transfer.comment}}</td>
              <td class="money"><span class="money right"
                br-tooltip="Since we support micro-payments, we track transaction amounts very accurately. The exact amount of this transfer is USD {{transfer.amount}}."
                br-options="{placement: 'bottom', trigger: 'hover'}"><span
                class="currency">USD</span> {{transfer.amount | ceil | currency:'$'}}</span></td>
              <td><a href="{{transfer.destination}}" target="_blank">Destination</a></td>
            </tr>
            <tr ng-show="model.showDetails">
              <th>License Agreement</th>
              <th></th>
              <th></th>
            </tr>
            <tr body ng-show="model.showDetails">
              <td colspan="3"><pre class="license">{{model.contract.license.licenseTemplate}}</pre></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="section col-md-6 col-md-offset-3">
        <h4 class="headline">{{(model.contract.vendor.id == model.contract.assetProvider.id && 'Vendor and Asset Provider') || 'Vendor'}}</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Website</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{{model.contract.vendor.id}}" target="_blank">{{model.contract.vendor.label}}</a></td>
              <td>{{model.contract.vendor.description}}</td>
              <td><a href="{{model.contract.vendor.website}}" target="_blank"><i class="fa fa-globe" title="Details"></i> {{model.contract.vendor.website}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-show="{{model.contract.vendor.id != model.contract.assetProvider.id}}">
      <div class="section col-md-6 col-md-offset-3">
        <h4 class="headline">Asset Provider</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Website</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{{model.contract.assetProvider.id}}" target="_blank">{{model.contract.assetProvider.label}}</a></td>
              <td>{{model.contract.assetProvider.description}}</td>
              <td><a href="{{model.contract.assetProvider.website}}" target="_blank"><i class="fa fa-globe" title="Details"></i> {{model.contract.assetProvider.website}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-hide="model.purchased" class="row">
      <div class="section col-md-6 col-md-offset-3">
        <h4 class="headline">Payment</h4>
        <form>
          <fieldset>
            <div class="form-group">
              <div class="input-group payment-radio-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="source-type"
                      ng-model="model.sourceType" value="account" />
                    Make one-time payment.
                  </label>
                  <span class="help-block">
                    Make a payment from an account. Funds can be deposited
                    if needed.
                  </span>
                </div>
                <!-- FIXME
                <label ng-show="model.contract.vendor.type == 'VendorIdentity'"
                  class="radio" -->
                <div class="radio">
                  <label>
                    <input type="radio" name="source-type"
                      ng-model="model.sourceType" value="budget" />
                    Set up a budget for this vendor.
                  </label>
                  <div class="help-block">
                    Assigning a budget will cause future purchases with this
                    vendor to happen <strong>automatically</strong> if the
                    purchase amount is within the budget spending limitations.
                    <div ng-show="model.sourceType == 'budget'"
                      class="alert alert-warning">
                      <strong>Warning:</strong>
                      Only choose this option if you trust the vendor you are
                      purchasing from. This option will enable them to make
                      purchases on your behalf at their own discretion. Do not
                      choose this option if the vendor's website is not
                      secure.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div ng-hide="model.purchased" class="row">
      <div class="section col-md-6 col-md-offset-3">
        <div ng-show="model.sourceType == 'account'">
          <h4 class="headline">Account</h4>
          <div ps-account-selector
            ps-selected="model.selection.account"
            ps-invalid="model.selection.invalidAccount"
            ps-show-deposit-button="true"
            ps-instant="true"
            ps-min-balance="{{model.contract.amount}}"
            ps-allow-instant-transfer="true"
            ps-instant-transfer-deposit="model.contract.triggered"></div>
        </div>
        <div ng-show="model.sourceType == 'budget'">
          <h4 class="headline">Budget</h4>
          <div ps-budget-selector
            ps-selected="model.selection.budget"
            ps-invalid="model.selection.invalidBudget"
            ps-min-balance="{{model.contract.amount}}"></div>
        </div>
      </div>
    </div>

    <div ng-hide="model.purchased" class="row">
      <div class="col-md-6 col-md-offset-3">
        <hr />
        <div class="well center">
          <button class="btn btn-primary" ng-click="model.purchase()"
            ng-disabled="model.purchaseDisabled">Purchase</button>
          <!-- button class="btn btn-default">Cancel</button -->
        </div>
      </div>
    </div>

    <div ng-show="model.purchased" class="row">
      <div ng-show="model.callback" class="col-md-6 col-md-offset-3">
        <div class="alert alert-success">
          Click the button below to return to the vendor's website and view
          the item you purchased.
        </div>
        <form ng-show="model.receipt" method="post" action="{{model.callback}}">
          <fieldset>
            <input name="receipt" value="{{model.receipt | json}}" type="hidden" />
          </fieldset>
          <div class="well center">
            <button class="btn btn-primary">Return to Vendor's Website</button>
          </div>
        </form>
        <form ng-show="model.encryptedMessage" method="post" action="{{model.callback}}">
          <fieldset ng-show="model.encryptedMessage">
            <input
              name="encrypted-message" value="{{model.encryptedMessage | json}}"
              type="hidden" />
          </fieldset>
          <div class="well center">
            <button class="btn btn-primary">Return to Vendor's Website</button>
          </div>
        </form>
      </div>
      <div ng-hide="model.callback" class="col-md-6 col-md-offset-3">
        <div class="alert alert-success">
          Return to the vendor's website to view the item you purchased.
        </div>
      </div>
    </div>

  </div>

</div> <!-- end non-error -->

<!-- FIXME: unused, remove -->
<div ng-show="model.error" class="alert alert-danger">
  <em>Error</em>
  <br/>
  {{model.error.message}}
  <div ng-show="model.error.details">
    <br/>
    <em ng-show="model.error.details.length > 0">Error Details</em>
    <div class="row" ng-repeat="(key, detail) in error.details">
      <span class="col-md-12"><strong>{{key}}</strong>: {{detail}}</span>
    </div>
  </div>
</div> <!-- end error -->

<stackable-modal stackable="model.showAddAddressModal"
  stackable-closed="model.addAddressModalDone()">
  <br-add-alert br-alert-type="warning">
    <span><strong>Note:</strong> Before you complete your purchase, please enter
    your {{(model.identity.type == 'VendorIdentity' && 'business\'s ') || ''}}
    name and address information.</span>
  </br-add-alert>
  <div ps-add-address-modal>
  </div>
</stackable-modal>
<stackable-modal stackable="model.showAddAccountModal"
  stackable-closed="model.addAccountModalDone()">
  <br-add-alert br-alert-type="warning">
    <span><strong>Note:</strong> Before you make your {{model.purchase}}, please
    create a financial account.</span>
  </br-add-alert>
  <div ps-add-account-modal></div>
</stackable-modal>

</div>
{% endraw %}

{% endblock %}
