{% extends 'layout.html' %}

{% set pageTitle = "Access Key Registration" %}
{% set pageLayout = "minimal" %}

{% block content %}

{% raw %}
<div ng-controller="RegisterController as model" class="ng-cloak">

<div class="row">
  <h1 class="headline">Access Key Registration</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
    This page registers an access key that your software will use to
    make trusted requests from this website. You may limit the power of this
    access key and only grant the software that is using the key certain rights
    to access and modify your account.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form ng-hide="model.registered" class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="control-label">Purpose</label>
          <div class="radio">
            <label>
              <input type="radio" name="registration-type"
                value="vendor" ng-model="model.registrationType" />
              Only for listing things for sale (Vendor only)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="registration-type"
                value="buyer" ng-model="model.registrationType" />
              Buying things and listings things for sale (Vendor/Buyer)
            </label>
          </div>
        </div>

        <!-- FIXME: add switch identity modal button -->

        <div class="form-group">
          <label class="control-label" for="account-selector">Financial Account</label>
          <div id="account-selector" data-account-selector
            data-selected="model.selection.account"
            data-invalid="model.selection.invalidAccount"
            data-instant-transfer-deposit="ignore"></div>
        </div>

        <div class="form-group" data-binding="publicKey.label">
          <label class="control-label" for="access-key-label">Access Key Label</label>
          <input id="access-key-label" class="form-control"
            ng-model="model.publicKey.label"
            name="publicKeyLabel" type="text" />
        </div>

        <div class="form-group" data-binding="publicKey.publicKeyPem">
          <label class="control-label" for="public-key-pem">Access Key</label>
          <textarea id="public-key-pem" class="form-control small-text"
            ng-model="model.publicKey.publicKeyPem"
            name="publicKeyPem" rows="7">{% endraw %}{% if publicKeyPem %}{{publicKeyPem}}{% endif %}{% raw %}</textarea>
        </div>

        <div class="form-group">
          <div stackable="model.showAddAddressModal" stackable-modal="true"
            stackable-closed="model.register()">
            <div data-add-address-modal data-add-address-alert-modal="Before you complete your registration, please enter your business's name and address information."></div>
          </div>
          <button type="button" class="btn btn-lg btn-primary"
            ng-disabled="model.loading || !model.identity || !model.selection.account"
            ng-click="model.register()">Register</button>
          <span ng-show="model.loading">
            <i class="fa fa-refresh fa-spin text-muted"></i>
          </span>
        </div>
      </fieldset>
    </form>

    <div ng-show="model.registered">
      <p>The access key has been registered.</p>

      <form ng-show="model.registrationCallback" id="vendor-form"
        class="form-vertical" method="post" action="{{model.registrationCallback}}">
        <input name="encrypted-message" value="{{model.encryptedMessage}}"
          type="hidden" />
        <p>
        Redirecting to your ecommerce website to complete registration. If
        this does not redirect automatically, please click the following
        button.
        </p>
        <button class="btn btn-lg btn-primary"
          type="submit">Complete Vendor Registration</button>
      </form>

      <div ng-hide="model.registrationCallback">
        <p>
        Cut and paste the following data into your software to finish
        the registration process:
        </p>
        <textarea class="col-md-6" rows="20" readonly="readonly">{{model.encryptedMessage}}</textarea>
      </div>
    </div>
  </div>
</div>

</div>

{% endraw %}

{% endblock %}
