{% extends 'layout.html' %}

{% set pageTitle = "Transaction Info" %}

{% block content %}

<h2>{{transactionType}} Summary</h2>

<table class="table">
<tr><td>Date</td><td>{{transaction.created}}</td></tr>
{% if transaction.voided %}
<tr><td>Voided</td><td>{{transaction.voided}}</td></tr>
<tr><td>Void Reason</td><td>
  {% if transaction.voidReason === "payswarm.paymentGateway.Declined" %}
    Transaction declined by the external payment gateway.
  {% else %}
    {{transaction.voidReason}}
  {% endif %}
</td></tr>
{% endif %}
<tr><td>Total Amount</td><td>
    <span class="money" title="USD ${{transaction.amount}}">
      <span class="currency">USD</span> ${{transaction.amount}}
    </span>
  </td></tr>
{% if transaction.triggeredBy && transaction.triggerReason == 'InsufficientFunds' %}
<tr><td>Instant Transfer For</td><td><a href="{{transaction.triggeredBy}}">{{transaction.triggeredBy}}</a></td></tr>
{% endif %}
{% if isContract %}
<tr>
  <td>Asset</td>
  <td><a href="{{asset.assetContent}}">{{asset.title}}</a> by
  {{asset.creator.name}}</td>
</tr>
<tr>
  {% if assetProvider.id != vendor.id  %}
  <td>Asset Provider</td>
  {% else %}
  <td>Asset Provider and Vendor</td>
  {% endif %}
  <td><a href="{{assetProvider.id}}">{{assetProvider.label}}</a></td>
</tr>
{% if assetProvider.id != vendor.id  %}
<tr>
  <td>Vendor</td>
  <td><a href="{{vendor.id}}">{{vendor.label}}</a></td>
</tr>
{% endif %}
<tr>
  <td>License</td>
  <td><pre>{{license.licenseTemplate}}</pre></td>
</tr>
{% endif %}
{% for transfer in transfers %}
<tr>
  {% if loop.first %}
  <td rowspan="{{transfers.length}}">Transfers</td>
  {% endif %}
  <td>
    <i class="icon-info-sign" title="Details"></i> {{transfer.comment}}<br/>
    <i class="icon-minus" title="Source"></i>
    <span class="money right" title="USD ${{transfer.amount}}">
      $ {{transfer.amount}}
    </span> from
    {% if transaction.source && transfer.source === transaction.source.id %}
      {{transaction.source.label}}
      {% if transaction.source.paymentMethod === "CreditCard" %}
        (Credit Card: {{transaction.source.cardNumber}})
      {% elif transaction.source.paymentMethod === "BankAccount" %}
        (Bank Account: {{transaction.source.bankAccount}})
      {% endif %}
      <br/>
    {% else %}
    <a href="{{transfer.source}}">{{transfer.source}}</a><br/>
    {% endif %}
    <i class="icon-plus" title="Destination Account"></i>
    <span class="money right" title="USD ${{transfer.amount}}">
      $ {{transfer.amount}}
    </span> to
    {% if transaction.destination && transfer.destination === transaction.destination.id %}
      {{transaction.destination.label}}
      {% if transaction.destination.paymentMethod === "CreditCard" %}
        (Credit Card: {{transaction.destination.cardNumber}})
      {% elif transaction.destination.paymentMethod === "BankAccount" %}
        (Bank Account: {{transaction.destination.bankAccount}})
      {% endif %}
      <br/>
    {% else %}
    <a href="{{transfer.destination}}">{{transfer.destination}}</a><br/>
    {% endif %}
</tr>
{% endfor %}
</table>

{% endblock %}
