<p>You may open one free credit line on any account of your choice.
FIXME: INSTRUCTIONS ABOUT HOW CREDIT LINES WORK HERE. See our
<a target="_blank" href="/help/pricing">pricing policy and rates</a>.</p>

<p>Please select a payment method below that will be used to automatically
pay back any credit you use on a periodic basis.</p>

<div data-ng-hide="model.profile.psaEmailVerified" class="section">
  <h4 class="headline">Verify Your Email Address</h4>
  <p>Before opening a free credit line, you must first verify your email
    address. First, click to send yourself an email verification code. Then,
    once you have received an email with the verification code, enter it
    below and click "Verify Email".
  </p>
  <form id="passcodeFeedbackTarget" class="form-horizontal" action="" data-ng-submit="sendPasscode()">
    <fieldset>
      <div class="control-group" data-binding="psaIdentifier">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <div class="input-append">
            <input name="profile" type="text" maxlength="320"
              data-ng-model="model.profile.email"
              data-track-state="model.help.email"
              disabled="disabled" />
            <button class="btn" data-help-toggle="model.help.email">
              <i class="icon-question-sign"></i>
            </button>
          </div>
          <p data-fade-toggle="model.help.email.show" class="help-block">
            Please enter the email address that you used when you registered
            with this website.
          </p>
        </div>
      </div>
    <div class="form-actions">
      <button data-ng-disabled="model.loading"
        class="btn btn-primary" data-submit-form>Send Verify Email</button>
      <span data-spinner="model.loading"
        data-spinner-class="append-btn-spinner"></span>
    </div>
    </fieldset>
    <div data-feedback="model.feedback.passcode" data-target="model.passcodeFeedbackTarget"></div>
  </form>

  <form id="verifyEmailFeedbackTarget" class="form-horizontal" action="" data-ng-submit="verifyEmail()">
    <fieldset>

    <input name="input" type="hidden" data-ng-model="model.profile.email" />

    <div class="control-group" data-binding="psaPasscode">
      <label class="control-label" for="passcode">Passcode</label>
      <div class="controls">
        <div class="input-append">
          <input name="psaPasscode" type="text" maxlength="8"
            data-ng-model="model.psaPasscode"
            data-track-state="model.help.passcode"
            data-ng-disabled="model.loading" />
          <button class="btn" data-help-toggle="model.help.passcode">
            <i class="icon-question-sign"></i>
          </button>
        </div>
        <p data-fade-toggle="model.help.passcode.show" class="help-block">
          Please enter the passcode that was sent to you in the verify
          email from this website.
        </p>
      </div>
    </div>

    <div class="form-actions">
       <button data-ng-disabled="model.loading"
         class="btn btn-primary" data-submit-form>Verify Email</button>
       <span data-spinner="model.loading"
         data-spinner-class="append-btn-spinner"></span>
    </div>
    </fieldset>
    <div data-feedback="model.feedback.email" data-target="model.verifyEmailFeedbackTarget"></div>
  </form>

</div>

<div data-ng-show="model.profile.psaEmailVerified" class="section">
  <h4 class="headline">Email Verified</h4>
  <div><span class="alert-success">{{model.profile.email}}</span></div>
</div>

<div class="section">
  <h4 class="headline">Account to Open Credit Line For</h4>
  <div data-account-selector data-selected="account"
    data-invalid="invalidAccount" data-fixed="true"
    data-instant-transfer-deposit="ignore"></div>
</div>

<div class="section">
  <h4 class="headline">Payment Method</h4>
  <div data-payment-token-selector data-selected="model.backupSource"
    data-invalid="selection.invalidSource" data-instant="true"></div>
</div>
