<div class="alert alert-warning">
  Your withdrawal is NOT complete, verify your information below.
  See our <a target="_blank" href="/help/pricing">pricing policy and rates</a>
  page for fee information.
</div>

<div class="section">
  <h4 class="headline">Withdrawal Destination</h4>
  <div data-payment-token-selector data-selected="input.destination"
    data-invalid="selection.invalidDestination"
    data-instant="'non'" data-fixed="true"></div>
</div>

<div class="section">
  <h4 class="headline">Withdrawal Details</h4>
  <div data-transaction-details="withdrawal"
    data-destination="input.destination"
    data-complete="false"></div>
</div>

<p class="alert alert-info" style="margin-top: 10px;">
  If these details are correct, click the "Withdraw" button.
</p>
