<ul class="dropdown-menu pull-right">
  <li>
    <a data-ng-click="model.modals.paymentToken=card; model.modals.showEditPaymentToken=true">
      <i class="icon-pencil"></i> Edit
    </a>
  </li>
  <li class="divider"></li>
  <li data-ng-class="{disabled: card.backupSourceFor.length, 'btn-danger': !card.backupSourceFor.length}">
    <a data-ng-show="card.backupSourceFor.length" href="#">
      <i class="icon-remove"></i> Delete
    </a>
    <a data-ng-hide="card.backupSourceFor.length" data-ng-click="card.deleted=true">
      <i class="icon-remove"></i> Delete
    </a>
  </li>
</ul>
