<div ng-controller="ExternalAccountsController as model">
  <div class="section section-credit-cards">
    <br-headline br-title="Credit/Debit Cards" br-loading="model.state.loading">
      <ul class="stackable-menu dropdown-menu">
        <li>
          <a class="stackable-cancel" ng-click="model.modals.showAddCreditCard=true"><i class="fa fa-plus"></i> Add Card</a>
        </li>
      </ul>
    </br-headline>
    <table class="table table-condensed" ng-if="(model.state.loading && model.creditCards.length > 0) || model.creditCards.length > 0">
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="br-compact">Brand</th>
          <th class="name">Number</th>
          <th>Expiration</th>
          <th class="br-compact text-center">
            <span>
              <i class="icon fa fa-link"
                br-tooltip="Links from accounts to this payment method. A payment method cannot be deleted while linked."
                br-options="{placement: 'bottom', trigger: 'hover'}"></i>
              </span>
          </th>
          <th class="br-action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="card in model.creditCards | orderBy:'label'"
          class="br-fadein br-fadeout" ng-if="!card.deleted"
          ng-class="{warning: card.showExpirationWarning, error: card.showExpired}">
          <!-- Name -->
          <td>
            <span>{{card.label}}</span>
          </td>
          <!-- Brand -->
          <td class="br-compact">
            <span><i class="{{card.cardBrand|cardBrand:true}}"></i></span>
          </td>
          <!-- Number -->
          <td>
            <span>{{card.cardNumber}}</span>
          </td>
          <!-- Expiration -->
          <td>
            <!-- FIXME: add warning for near or already expired cards -->
            <span>{{card.cardExpMonth}} / {{card.cardExpYear}}</span>
            <span ng-show="card.showExpirationWarning">
              <i class="icon fa fa-exclamation-triangle"
                br-tooltip="This payment method will expire in less than a month. Please update or replace the card information."
                br-options="{placement: 'bottom', trigger: 'hover'}"></i>
            </span>
            <span ng-show="card.showExpired">
              <i class="icon fa fa-exclamation-triangle"
                br-tooltip="This payment method has expired. Please update or replace the card information."
                br-options="{placement: 'bottom', trigger: 'hover'}"></i>
            </span>
          </td>
          <!-- Links -->
          <td class="br-compact text-center">
            <span class="badge" ng-hide="card.backupSourceFor.length"></span>
            <span class="badge" ng-show="card.backupSourceFor.length"
              ng-click="model.modals.paymentToken=card; model.modals.showEditPaymentToken=true">{{card.backupSourceFor.length}}</span>
          </td>
          <!-- Action -->
          <td class="br-action">
            <br-action-menu>
              <ul class="dropdown-menu stackable-menu">
                <li>
                  <a class="stackable-cancel"
                    ng-click="model.modals.paymentToken=card; model.modals.showEditPaymentToken=true">
                    <i class="fa fa-pencil"></i> Edit
                  </a>
                </li>
                <li class="divider"></li>
                <li ng-class="{disabled: card.backupSourceFor.length, 'alert-danger': !card.backupSourceFor.length}">
                  <a class="stackable-cancel" ng-show="card.backupSourceFor.length" href="#">
                    <i class="fa fa-times"></i> Delete
                  </a>
                  <a class="stackable-cancel" ng-hide="card.backupSourceFor.length" ng-click="model.deletePaymentToken(card)">
                    <i class="fa fa-times"></i> Delete
                  </a>
                </li>
              </ul>
            </br-action-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-show="!model.state.loading && model.creditCards.length == 0">
      <p class="text-center">You have no cards associated with this identity.</p>
    </div>
    <div br-lazy-compile="ps-external-accounts-view-add-credit-card-modal"
      br-compile-trigger="model.modals.showAddCreditCard">
      <stackable-modal stackable="model.modals.showAddCreditCard">
        <div ps-add-payment-token-modal ps-payment-methods="model.creditCardMethods"></div>
      </stackable-modal>
    </div>
    <div br-lazy-compile="ps-external-accounts-view-edit-payment-token-modal"
      br-compile-trigger="model.modals.showEditPaymentToken">
      <stackable-modal stackable="model.modals.showEditPaymentToken">
        <div ps-edit-payment-token-modal ps-payment-token="model.modals.paymentToken"></div>
      </stackable-modal>
    </div>
  </div>

  <div class="section section-bank-accounts">
    <br-headline br-title="Bank Accounts" br-loading="model.state.loading">
      <ul class="stackable-menu dropdown-menu">
        <li>
          <a class="stackable-cancel" ng-click="model.modals.showAddBankAccount=true"><i class="fa fa-plus"></i> Add Bank Account</a>
        </li>
      </ul>
    </br-headline>
    <table class="table table-condensed" ng-show="(model.state.loading && model.bankAccounts.length > 0) || model.bankAccounts.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Routing</th>
          <th class="br-compact text-center">Status</th>
          <th class="br-action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bankAccount in model.bankAccounts | orderBy:'label'"
          ng-class="{info: bankAccount.sysStatus == 'active' && !bankAccount.sysVerified && bankAccount.sysVerifyReady}">
          <!-- Name -->
          <td>
            <span>{{bankAccount.label}}</span>
          </td>
          <!-- Number -->
          <td>
            <span>{{bankAccount.bankAccount}}</span>
          </td>
          <!-- Routing -->
          <td>
            <span>{{bankAccount.bankRoutingNumber}}</span>
          </td>
          <!-- Status -->
          <td class="br-compact text-center" ng-show="bankAccount.sysStatus == 'active' || bankAccount.sysStatus == 'disabled'">
            <span ng-show="bankAccount.sysStatus == 'disabled'"
              class="label label-important"
              br-tooltip="This payment method was likely disabled because your bank account information could not be verified. Please delete this payment method and try to add it again with corrected information."
              br-options="{placement: 'bottom', trigger: 'hover'}">Disabled</span>
            <span ng-show="bankAccount.sysStatus == 'active' && !bankAccount.sysVerified && bankAccount.sysVerifyReady" class="label label-warning">Unverified</span>
            <span ng-show="bankAccount.sysStatus == 'active' && !bankAccount.sysVerified && !bankAccount.sysVerifyReady" class="label label-info">Pending</span>
            <span ng-show="bankAccount.sysVerified" class="label label-success">Verified</span>
          </td>
          <td ng-show="bankAccount.sysStatus == 'deleted'">
            <span class="label label-warning"
              br-tooltip-title="Because verifying a bank account is a costly process, we do not delete bank accounts immediately. You may restore the bank account before the expiration date passes if you wish."
              br-options="{placement: 'bottom', trigger: 'hover'}">Expires {{bankAccount.sysExpires | date:'MMM d'}}</span>
          </td>
          <!-- Action -->
          <td class="br-action">
            <br-action-menu>
              <ul class="dropdown-menu stackable-menu">
                <li class="alert-success"
                  ng-show="bankAccount.sysStatus == 'active' && !bankAccount.sysVerified && bankAccount.sysVerifyReady">
                  <a class="stackable-cancel"
                    ng-click="model.modals.paymentToken=bankAccount; model.modals.showVerifyBankAccountModal=true">
                    <i class="fa fa-check"></i> Verify
                  </a>
                </li>
                <li>
                  <a class="stackable-cancel"
                    ng-click="model.modals.paymentToken=bankAccount; model.modals.showEditPaymentToken=true">
                    <i class="fa fa-pencil"></i> Edit
                  </a>
                </li>
                <li class="divider"></li>
                <li class="alert-danger"
                  ng-show="bankAccount.sysStatus == 'active' || bankAccount.sysStatus == 'disabled'"
                  ng-disabled="!bankAccount.sysVerified && bankAccount.sysStatus != 'disabled'">
                  <a class="stackable-cancel" ng-click="model.deletePaymentToken(bankAccount)">
                    <i class="fa fa-trash-o"></i> Delete
                  </a>
                </li>
                <li class="alert-success"
                  ng-show="!bankAccount.sysStatus || bankAccount.sysStatus == 'deleted'">
                  <a class="stackable-cancel" ng-click="model.restorePaymentToken(bankAccount)">
                    <i class="fa fa-undo"></i> Restore
                  </a>
                </li>
              </ul>
            </br-action-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-show="!model.state.loading && model.bankAccounts.length == 0">
      <p class="text-center">You have no bank accounts associated with this identity.</p>
    </div>
    <div br-lazy-compile="ps-external-accounts-view-add-bank-account-modal"
      br-compile-trigger="model.modals.showAddBankAccount">
      <stackable-modal stackable="model.modals.showAddBankAccount">
        <div ps-add-payment-token-modal ps-payment-methods="model.bankAccountMethods"></div>
      </stackable-modal>
    </div>
    <div br-lazy-compile="ps-external-accounts-view-verify-bank-account-modal"
      br-compile-trigger="model.modals.showVerifyBankAccountModal">
      <stackable-modal stackable="model.modals.showVerifyBankAccountModal">
        <div ps-verify-bank-account-modal ps-payment-token="model.modals.paymentToken"></div>
      </stackable-modal>
    </div>
  </div>
</div>
