<br-selector br-selected="selected=brSelector.selected" ps-payment-token-selector-inner>
  <div name="br-selector-selected">
    <span ng-show="model.state.loading">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
    <div ng-hide="model.state.loading">
      <ps-payment-token-selection ps-token="selected"></ps-payment-token-selection>
    </div>
  </div>
  <div name="br-selector-choices">
    <div ng-show="model.state.loading">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </div>
    <div ng-hide="model.state.loading" ng-repeat="row in grid">
      <div class="row">
        <div class="col-md-6" ng-repeat="token in row">
          <ps-payment-token-selection ps-token="token" ps-selecting="true" ps-select="brSelector.select(token)"></ps-payment-token-selection>
        </div>
      </div>
    </div>
  </div>
</br-selector>
<stackable-modal stackable="model.showAddPaymentTokenModal"
  stackable-closed="!err && brSelector.select(result)">
  <div ps-add-payment-token-modal ps-payment-methods="paymentMethods"></div>
</stackable-modal>
