<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-switch="model.state">
        <a class="close stackable-cancel">&times;<span class="sr-only">Close</span></a>
        <h3 class="modal-title">Select a Payment Method</h3>
      </div>
      <div class="modal-body" ng-switch="model.state">
        <br-demo-warning></br-demo-warning>
        <p>Please select a payment method to add to your account.</p>

        <div class="section">
          <h4 class="headline">Payment Method</h4>
          <div ps-payment-token-selector ps-selected="model.backupSource"
            ps-omit="omit" ps-instant="instant"></div>
        </div>
      </div>
      <div class="modal-footer">
        <span ng-show="model.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <button type="button" class="btn btn-primary"
          ng-disabled="model.loading || !model.backupSource"
          ng-click="confirm()"><i class="fa fa-check"></i> Confirm</button>
        <button type="button" ng-disabled="loading"
          class="btn btn-default stackable-cancel">Cancel</button>
        </span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
