<div class="section">
  <h4 class="headline">Select Payment Method Name</h4>
  <form class="well form-horizontal">
    <fieldset>
      <br-input br-model="paymentToken.label"
        br-options="{icon: 'fa-tag', name: 'label', label: 'Name'}">
        Please enter a memorable name that describes this method of
        payment. It will be displayed to you later.
        <br/><br/>
        Suggestions: <span ng-show="paymentMethod == 'CreditCard'">My MasterCard, Visa Rewards</span><span ng-show="paymentMethod == 'BankAccount'">Checking Account, ING Direct</span>
      </br-input>
    </fieldset>
  </form>
</div>

<div class="section" ng-show="!editing">
  <h4 class="headline">Enter Payment Details</h4>
  <form class="well form-horizontal">
    <fieldset>
      <div class="form-group" ng-show="multiEnabled">
        <div class="input-group col-sm-8">
          <label class="radio-inline" ng-show="creditCardEnabled">
            <input type="radio" name="payment-type" value="CreditCard"
              checked="checked" ng-model="paymentMethod" />
            Credit Card
          </label>
          <label class="radio-inline" ng-show="bankAccountEnabled">
            <input type="radio" name="payment-type" value="BankAccount"
              ng-model="paymentMethod" />
            Bank Account
          </label>
        </div>
      </div>
      <div name="payment-type-fields" ng-switch="paymentMethod">
        <div ng-switch-when="CreditCard">
          <div class="form-group" data-binding="source.cardBrand">
            <label class="control-label col-sm-3" for="card-brand">Type</label>
            <div class="input-group col-sm-8">
              <span name="card-brand"
                data-credit-card-selector="card.cardNumber"
                data-credit-card-brand="card.cardBrand"></span>
            </div>
          </div>

          <br-input br-model="card.cardNumber"
            br-options="{
              icon: 'fa-credit-card', name: 'source.cardNumber', label: 'Card Number', maxLength: '16',
              autocomplete: 'off', columns: {input: 'col-sm-6'}}">
            Please enter your credit card number, which must be 16 digits long.
          </br-input>

          <div class="form-group" data-binding="source.cardExpMonth">
            <label class="control-label col-sm-3" for="card-exp-month">Expiration Month</label>
            <div class="input-group col-sm-3">
              <select class="form-control" name="card-exp-month"
                ng-model="card.cardExpMonth"
                ng-options="month.index as month.label for month in monthLabels">
                <option value=""></option>
              </select>
            </div>
          </div>

          <div class="form-group" data-binding="source.cardExpYear">
            <label class="control-label col-sm-3" for="card-exp-year">Expiration Year</label>
            <div class="input-group col-sm-2">
              <select class="form-control" name="card-exp-year"
                ng-model="card.cardExpYear"
                ng-options="year for year in years">
                <option value=""></option>
              </select>
            </div>
          </div>

          <br-input br-model="card.cardCvm"
            br-options="{
              image: '/img/scode.png', name: 'source.cardCvm', label: 'Security Code', maxLength: '4',
              autocomplete: 'off', columns: {input: 'col-sm-4'}}">
            Please enter the 3-digit security code located on the back
            of your credit card. If you are using American Express,
            then the number will be on the front and will be 4 digits long.
          </br-input>
        </div>

        <div ng-switch-when="BankAccount">
          <div class="bank-box bank-example">
            <table class="bank-table">
              <tbody>
                <tr>
                  <td class="bank-layer">
                    <i class="bank-icon"></i>
                    <span class="bank-label">
                      <strong>My Bank</strong>
                    </span>
                  </td>
                  <td class="bank-layer"><span class="bank-date">{{'' | now:'d MMM yyyy'}}</span></td>
                </tr>
                <tr>
                  <td class="text-center bank-layer bank-font">
                    <span class="bank-routing-outline">A123456789A</span>
                  </td>
                  <td class="text-center bank-layer bank-font">
                    <span class="bank-account-outline">C098765C</span>
                  </td>
                </tr>
                <tr>
                  <td class="text-center bank-layer">
                    <span class="bank-routing-highlight">Routing</span>
                  </td>
                  <td class="text-center bank-layer">
                    <span class="bank-account-highlight">Account</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <br-input br-model="bankAccount.bankRoutingNumber"
            br-options="{name: 'source.bankRoutingNumber', label: 'Routing Number', maxLength: '9', autocomplete: 'off'}">
            Please enter your bank's routing number. This can be found in your checkbook or by signing into your bank online.
          </br-input>

          <div class="form-group" data-binding="source.bankAccountType">
            <label class="control-label col-sm-3" for="bank-account-type">Account Type</label>
            <div class="input-group col-sm-8">
              <select class="form-control" name="bank-account-type"
                ng-model="bankAccount.bankAccountType"
                ng-options="type.id as type.label for type in bankAccountTypes">
              </select>
            </div>
            <p class="help-block col-sm-offset-3 col-sm-8">
              If your bank account does not have a type, choose 'Checking'.
            </p>
          </div>

          <br-input br-model="bankAccount.bankAccount"
            br-options="{name: 'source.bankAccount', label: 'Account Number', maxLength: '30', autocomplete: 'off'}">
            Please enter your bank account number. This can be found
            in your checkbook or by signing into your bank online.
          </br-input>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="section" ng-show="!editing && model.billingAddressRequired">
  <h4 class="headline">Select Billing Address</h4>
  <div data-address-selector data-selected="selection.address"
    data-invalid="selection.invalidAddress"></div>
</div>

<div class="section" ng-show="!editing && paymentMethod == 'BankAccount'">
  <h4 class="headline">Bank Account Agreement</h4>
  <div class="well">

    <p>By adding a new bank account, you affirm that you have the authority
    from the account owner to permit us to transfer funds both to and from
    the account. You also acknowledge that you will be charged fees
    whenever you request that we transfer money to or from this bank
    account according to our
    <a target="_blank" href="/help/pricing">pricing policy and rates</a>.
    These fees are charged to us by the banking network and passed on to you.</p>

    <p>We make two small deposits into the bank account in order to verify
    that you have access to it. These amounts will show up in your bank
    account in 3-7 business days, after which you must enter the amounts
    into this website to complete verification.</p>

    <p><strong>Your bank account cannot be used to transfer funds until the
    verification process is complete. Upon completion of the verification
    process, the verification funds we deposited into your account will be
    withdrawn and you will be charged a small transaction fee by the
    banking network.</strong></p>

    <p>You may elect to include an initial deposit at the time of
    verification to avoid an additional bank fee. This deposit will
    take 3-7 business days to be processed.</p>

    <hr/>
    <form class="form-horizontal">
      <fieldset>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="model.agreementChecked"> I agree to the above terms and conditions.</input>
          </label>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="section" ng-show="editing && paymentToken.backupSourceFor && paymentToken.backupSourceFor.length > 0">
  <h4 class="headline">Linked Accounts</h4>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="checkbox" ng-repeat="(accountId, info) in backupSourceFor | filter:'info.exists' | orderBy:['account.label','account.id']">
        <label>
          <input type="checkbox" ng-model="info.active"></input>
          <span class="active-{{info.active}}">
            <a href="{{info.account.id}}" target="_blank">
              {{info.account.label}}
            </a>
          </span>
        </label>
      </div>
    </div>
  </form>
</div>
