<div>
  <table class="table table-condensed" ng-show="state.loading || idList.length > 0">
    <thead>
      <tr>
        <th class="name compact">Priority</th>
        <th class="name compact">Type</th>
        <th class="name">Name</th>
        <th class="action" ng-show="tokenList.length > 1">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="token in tokenList" class="br-fadeout br-fadein"
        ng-if="!token.deleted">
        <!-- Priority -->
        <td class="compact">
          <span>{{$index + 1}}</span>
        </td>
        <!-- Type -->
        <td class="compact" ng-when="token.paymentMethod">
          <span ng-when="CreditCard"><i class="fa fa-credit-card"></i></span>
          <span ng-show="BankAccount"><i class="fa fa-building"></i></span>
        </td>
        <!-- Name -->
        <td>
          <span>{{token.label}}</span>
        </td>
        <!-- Action -->
        <td class="action" ng-show="tokenList.length > 1">
          <br-action-menu>
            <ul class="dropdown-menu stackable-menu">
              <li ng-show="!$first">
                <a class="stackable-cancel" ng-click="moveIndexUp($index)">
                  <i class="fa fa-chevron-up"></i> Move Up
                </a>
              </li>
              <li ng-show="!$last">
                <a class="stackable-menu" ng-click="moveIndexDown($index)">
                  <i class="fa fa-chevron-down"></i> Move Down
                </a>
              </li>
              <li class="divider"></li>
              <li class="alert-danger">
                <a class="stackable-menu" ng-click="deleteIndex($index)">
                  <i class="fa fa-times"></i> Delete
                </a>
              </li>
            </ul>
          </br-action-menu>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr ng-hide="state.loading">
        <!-- Use Payment Token -->
        <td colspan="5">
          <button
            class="btn btn-success pull-right"
            ng-click="modals.showPaymentTokenListSelector=true"><i class="fa fa-plus"></i> Use Payment Method</button>
        </td>
      </tr>
      <tr ng-show="state.loading">
        <td colspan="5" class="text-center">
          <span ng-show="state.loading">
            <i class="fa fa-refresh fa-spin text-muted"></i>
          </span>
        </td>
      </tr>
    </tfoot>
  </table>
  <div ng-show="idList.length == 0">
    <p class="center">None.</p>
    <button class="btn btn-success pull-right" ng-click="modals.showPaymentTokenListSelector=true"><i class="fa fa-plus"></i> Select Payment Method</button>
  </div>
  <div data-modal-payment-token-list-selector="modals.showPaymentTokenListSelector" data-instant="instant" data-omit="idList" data-modal-on-close="addToken(err, result)"></div>
</div>
