<div class="paymentToken" ng-switch="token.paymentMethod">
  <div class="cc-box {{token.cardBrand | lowercase}} unselectable" ng-switch-when="CreditCard"
    ng-class="{'cc-selecting': selecting}">
    <table class="cc-table {{token.cardBrand | lowercase}}" ng-class="selecting && 'br-item-hover'"
      ng-click="selecting && select({token: token})">
      <tbody>
        <tr>
          <td colspan="2" class="cc-layer">
            <span class="cc-label"><strong>{{token.label | ellipsis:25}}</strong></span>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="cc-layer">
            <span class="cc-font-front cc-number" ps-kredit>{{token.cardNumber | mask | ccNumber}}</span>
            <span class="cc-font-back cc-number" ps-kredit>{{token.cardNumber | mask | ccNumber}}</span>
            <span class="cc-font-shine cc-number" ps-kredit>{{token.cardNumber | mask | ccNumber}}</span>
          </td>
        </tr>
        <tr>
          <td class="cc-layer">
            <span class="cc-font-front cc-date" ps-kredit>{{token.cardExpMonth | prefill}} / {{token.cardExpYear}}</span>
            <span class="cc-font-back cc-date" ps-kredit>{{token.cardExpMonth | prefill}} / {{token.cardExpYear}}</span>
            <span class="cc-font-shine cc-date" ps-kredit>{{token.cardExpMonth | prefill}} / {{token.cardExpYear}}</span>
          </td>
          <td class="cc-layer">
            <span class="cc-brand"><i class="{{token.cardBrand|cardBrand:true}}"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-switch-when="BankAccount" class="bank-box unselectable"
    ng-class="{'bank-disabled-box': !token.sysVerified || token.sysStatus == 'disabled' || token.sysStatus == 'deleted', 'bank-selecting': selecting}">
    <div ng-show="!token.sysVerified && token.sysStatus != 'disabled' && token.sysStatus != 'deleted'"
      class="bank-disabled-overlay">Unverified</div>
    <div ng-show="token.sysStatus == 'disabled'"
      class="bank-disabled-overlay">Disabled</div>
    <div ng-show="token.sysStatus == 'deleted'"
      class="bank-disabled-overlay">Deleted</div>
    <table class="bank-table"
      ng-class="{'bank-disabled-table': !token.sysVerified || token.sysStatus == 'disabled' || token.sysStatus == 'deleted', 'br-item-hover': token.sysVerified && selecting}"
      ng-click="token.sysStatus == 'active' && token.sysVerified && selecting && select({token: token})">
      <tbody>
        <tr>
          <td class="bank-layer">
            <i class="bank-icon"></i>
            <span class="bank-label">
              <strong>{{token.label | ellipsis:20}}</strong>
            </span>
          </td>
          <td class="bank-layer"><span class="bank-date">{{'' | now:'d MMM yyyy'}}</span></td>
        </tr>
        <tr>
          <td class="text-center bank-layer bank-font">A{{token.bankRoutingNumber | mask:9}}A</td>
          <td class="text-center bank-layer bank-font">C{{token.bankAccount | mask:10}}C</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="token.showExpirationWarning" class="alert alert-warning">
    <strong>Warning!</strong> This payment method will expire in less than a month.
  </div>
  <div ng-show="token.showExpired" class="alert alert-danger">
    <strong>Error!</strong> This payment method has expired.
  </div>
</div>
