<div>
  <div br-selector br-item-type="Payment Method"
    br-items="paymentTokens" br-selected="selected" br-invalid="invalid"
    br-add-item="showAddPaymentTokenModal=true" br-fixed="{{fixed}}"
    br-custom-display="true" br-columns="2" br-selecting="selecting">
    <ul ng-show="services.token.loading" class="list-unstyled item">
      <li class="item-hover well">
        <div ng-show="services.token.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </div>
      </li>
    </ul>
    <div ng-hide="services.token.loading || selecting">
      <div ng-include="'/app/components/payment-token/payment-token-display.html'"></div>
    </div>
    <div ng-show="!services.token.loading && selecting">
      <div ng-repeat="row in grid">
        <div class="row">
          <div class="col-md-6" ng-repeat="selected in row">
            <div ng-include="'/app/components/payment-token/payment-token-display.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="selected.showExpirationWarning" class="alert alert-warning">
    <strong>Warning!</strong> This payment method will expire in less than a month.
  </div>
  <div ng-show="selected.showExpired" class="alert alert-danger">
    <strong>Error!</strong> This payment method has expired.
  </div>
  <stackable-modal stackable="showAddPaymentTokenModal"
    stackable-closed="!err && (selected=result)">
    <div data-add-payment-token-modal data-payment-methods="paymentMethods"></div>
  </stackable-modal>
</div>
