<div class="alert alert-warning">
  Your bank account verification<span ng-show="input.amount"> and deposit</span> is NOT complete, verify your information below.
  See our <a target="_blank" href="/help/pricing">pricing policy and rates</a>
  page for fee information.
</div>

<div class="section">
  <h4 class="headline">Payment Method</h4>
  <div ps-payment-token-selector ps-selected="input.source"
    ps-invalid="selection.invalidSource"
    ps-instant="false" ps-fixed="true"></div>
</div>

<div class="section">
  <h4 class="headline">Verification<span ng-show="input.amount"> and Deposit</span> Details</h4>
  <div ps-transaction-details="deposit"
    ps-source="input.source"
    ps-complete="false"></div>
</div>

<p class="alert alert-info" style="margin-top: 10px;">
  If these details are correct, click the "Verify<span ng-show="input.amount"> and Deposit</span>" button.
</p>
