<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-switch="state">
        <a class="close stackable-cancel">&times;<span class="sr-only">Close</span></a>
        <h3 class="modal-title" ng-switch-when="preparing">Verify Bank Account</h3>
        <h3 class="modal-title" ng-switch-when="reviewing">Review Verification<span ng-show="input.amount"> and Deposit</span></h3>
        <h3 class="modal-title" ng-switch-when="complete">Verification<span ng-show="input.amount"> and Deposit</span> Complete</h3>
      </div>
      <div class="modal-body" ng-switch="state">
        <div ng-include="'/app/components/util/demo-warning.html'"></div>
        <div ng-switch-when="preparing">
          <div ng-include="'/app/components/payment-token/verify-bank-account-prepare.html'"></div>
        </div>
        <div ng-switch-when="reviewing">
          <div ng-include="'/app/components/payment-token/verify-bank-account-review.html'"></div>
        </div>
        <div ng-switch-when="complete">
          <div ng-include="'/app/components/payment-token/verify-bank-account-complete.html'"></div>
        </div>
      </div>
      <div class="modal-footer">
        <span data-spinner="loading"
          data-spinner-class="prepend-btn-spinner"></span>

        <span ng-show="state == 'preparing'">
          <button type="button" class="btn btn-primary"
            ng-disabled="loading"
            ng-click="review()">Review</button>
          <button type="button" class="btn btn-default stackable-cancel"
            ng-disabled="loading">Cancel</button>
        </span>
        <span ng-show="state == 'reviewing'">
          <button type="button" class="btn btn-primary"
            ng-disabled="loading"
            ng-click="confirm()"><i class="icon-ok"></i> Verify<span ng-show="input.amount"> and Deposit</span></button>
          <button type="button" class="btn btn-default"
            ng-disabled="loading" ng-click="prepare()">Back</button>
          <button type="button" class="btn btn-default stackable-cancel"
            ng-disabled="loading">Cancel</button>
        </span>
        <span ng-show="state == 'complete'">
          <button type="button" class="btn btn-default stackable-cancel"
            ng-disabled="loading">Done</button>
        </span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
